<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 {{ `${type === 'create' ? 'Create' : 'Edit'} Notification` }}
    hr
    b-row
      b-col(v-for="item in notificationType" sm=4 :key="item.value")
        b-card.card-type(
          :class="{ active: form.content_type === item.value, disabled: type === 'edit' }"
          @click="type !== 'edit' ? form.content_type = item.value : null"
        )
          h2 แจ้งเตือนประเภท
          h2.mb-0 {{ item.name }}
    b-row.mt-4
      b-col
        h3.mb-0 Information Notification
    hr

    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card
                template(v-slot:header)
                  h3.mb-0 Title and Description / หัวข้อ และ คำอธิบาย
                b-container
                  b-row

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.mb-4
                          +labelForm('Notification Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Notification Name"
                            )
                              input-clear(
                                v-model="form.title"
                                maxlength=80
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.mt-2.d-flex.justify-content-end จำกัด {{ form.title.length }} / 80 ตัวอักษร
                              span.error-text(v-if="errors[0]") {{ errors[0] }}

                    b-col(xl=11 offset=1)
                      .my-4

                        b-row.mb-4
                          +labelForm('Notification Description')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Notification Description"
                            )
                              b-form-textarea(
                                v-model="form.description"
                                id="editorDetail"
                                maxlength=150
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.mt-2.d-flex.justify-content-end จำกัด {{ form.description.length }} / 150 ตัวอักษร
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

              b-card.mt-4(
                no-body
                :class="{ disabled: type === 'edit' }"
                )
                template(v-slot:header)
                  b-row
                    b-col
                      b-form-checkbox.mb-2(
                        v-model="setDate"
                        value="yes"
                        :disabled="type === 'edit'"
                        @change="onCheckDate"
                        )
                          h5.mb-0
                            b Sending Schdule / กำหนด วันเวลา ส่งแจ้งเตือน
                            span (หากไม่กำหนด ระบบจะส่งแจ้งเตือนทันทีเมื่อกดปุ่ม "บันทึก")
                      p.ml-4 กำหนดรายละเอียด วันที่ และ เวลา ในกาส่งแจ้งเตือน
                b-collapse(:visible="setDate === 'yes'")

                  b-card-body
                    b-container
                      b-row.mt-4

                        b-col(xl=11 offset=1)
                          b-row.align-items-center.mb-4
                            b-col(xl=4)
                              label Sending Date / วันที่ส่งแจ้งเตือน
                                span.color-error.ml-1 *
                            b-col(xl=5)
                              b-row
                                b-col(sm=6)
                                  validation-provider(
                                    v-slot="{ errors, valid, validated }"
                                    :rules="{ required: setDate === 'yes'}"
                                    name="Start Date"
                                  )

                                    a-date-picker(
                                      v-model="sendingDate"
                                      value-format="YYYY-MM-DD"
                                      format="D MMM YYYY"
                                      placeholder="กรุณาเลือก"
                                      @change="onSelectDate"
                                      )
                                    span.error-text(v-if="errors[0]")  {{ errors[0] }}

                          b-row.align-items-center.mb-4
                            b-col(
                              xl=4
                              :style="{ 'align-self': 'baseline' }"
                              )
                              label Sending Time / เวลาที่ส่งแจ้งเตือน
                                span.color-error.ml-1 *

                            b-col(xl=5)
                              b-row
                                b-col(sm=6)
                                  validation-provider(
                                    v-slot="{ errors, valid, validated }"
                                    :rules="{ required: setDate === 'yes'}"
                                    name="Hour"
                                    )
                                    form-dropdown(
                                      text="เลือกจาก 00 - 23"
                                      placeholder="Hour"
                                      :options="hourOptions"
                                      v-model="sendingHour"
                                      :invalid-text="errors[0]"
                                    )
                                    //- span.error-text(v-if="errors[0]")  {{ errors[0] }}

                                b-col(sm=6)
                                  validation-provider(
                                    v-slot="{ errors, valid, validated }"
                                    :rules="{ required: setDate === 'yes'}"
                                    name="Minute"
                                    )
                                    form-dropdown(
                                      text="เลือกจาก 00, 15, 30, 45"
                                      placeholder="Minute"
                                      :options="minuteOptions"
                                      v-model="sendingMinute"
                                      :invalid-text="errors[0]"
                                    )

              b-card.mt-4(v-if="form.content_type === 'reward'")
                template(v-slot:header)
                  h3.mb-2 Select Reward
                  p เลือก Reward ที่ต้องการ (1 รายการ)

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Reward Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Name"
                            )

                              form-dropdown(
                                v-model="form.content_id"
                                ref="rewardDropdown"
                                searchable
                                :options="options.reward"
                                placeholder="Search Reward"
                                @search="searchOptionsReward"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )


              b-card.mt-4(v-if="form.content_type === 'promotion'")
                template(v-slot:header)
                  h3.mb-2 Select Promotion
                  p เลือก Promotion ที่ต้องการ (1 รายการ)

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Promotion')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Promotion Name"
                            )

                              form-dropdown(
                                v-model="form.content_id"
                                ref="promotionDropdown"
                                searchable
                                :options="options.promotion"
                                placeholder="Search Promotion"
                                @search="searchOptionsPromotion"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )

              b-card.mt-4(v-if="form.content_type === 'information'")
                template(v-slot:header)
                  h3.mb-0 Information

                b-container
                  b-row

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Image')

                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUploadNews.selectFile()"
                            ) Upload
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Image"
                            )
                              input-clear.d-none(
                                v-model="form.thumbnail_image_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
                              input-clear.d-none(v-model="form.thumbnail_image_file_id")

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUploadNews"
                              :endpoint="['notification_thumbnail']"
                              :endpointImageSize="[{ w: 1340, h: 696 }]"
                              :defaultUrl="form.content ? form.a_thumb_file.url : ''"
                              @imageID="onGetUploadImageID"
                            )

                        b-row.mb-4
                          +labelForm('Detail')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Detail"
                            )
                              editor(
                                v-model="form.detail"
                                id="editorDetail"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Set Target / กำหนดเป้าหมาย
                  p เลือกสมาชิกตามเดือนเกิด หรือเลือกสมาชิกทั้งหมด เพื่อส่งแจ้งเตือน

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.mb-3
                          b-col
                            b-form-radio(
                              v-model="form.target_type"
                              name="target_send"
                              value="all"
                              :disabled="type === 'edit'"
                              ) Send to All Member / ส่งการแจ้งเตือนถึงสมาชิกทั้งหมด
                        b-row
                          b-col
                            b-form-radio(
                              v-model="form.target_type"
                              name="target_send"
                              value="specific_birth_month"
                              :disabled="type === 'edit'"
                              ) Send to Selected Menber / ส่งแจ้งเตือนถึงสมาชิกตามเดือนเกิด
                            b-collapse(:visible="form.target_type === 'specific_birth_month'")

                              b-row.ml-2.mt-2
                                b-col(sm=12 xl=4)
                                  p เลือกส่งแจ้งเตือนให้กับสมาชิกที่เกิดในเดือน
                                b-col(sm=12 xl=3)
                                  validation-provider(
                                    v-slot="{ errors, valid, validated }"
                                    :rules="{ required: form.target_type === 'specific_birth_month'}"
                                    name="Hour"
                                    )
                                    //- b-form-select(
                                      v-model="form.target_birth_month"
                                      placeholder="เลือกเดือนเกิด"
                                      :options="monthOptions"
                                      :invalid-text="errors[0]"
                                      )
                                    form-dropdown(
                                      v-model="form.target_birth_month"
                                      placeholder="เลือกเดือนเกิด"
                                      :options="monthOptions"
                                      :invalid-text="errors[0]"
                                      )
                        hr
                        b-row
                          b-col.text-right
                            p.text-info: b {{ `Target Amount: ${customerTarget} persons` }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                @click="$router.push({ name: 'cms-notification-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ChangeStatus from '~/components/cms/global/ChangeStatus'
import Editor from '~/components/cms/input/RichTextEditor'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'
import FormDropdown from '~/components/cms/input/FormDropdown'
import Preview from '~/components/cms/page/home/banner/Preview'
// import vueDatePick from '~/components/cms/input/vueDatePick'

export default {
  layout: 'cms',

  name: 'NotificationCreatePage',

  components: {
    ChangeStatus,
    Editor,
    ImageUpload,
    InputClear,
    AlertModal,
    FormDropdown,
    Preview,
    // vueDatePick,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Notification',
          href: '#',
        },
        {
          text: 'Notification',
          to: { name: 'cms-notification-manage' },
        },
        {
          text: this.type === 'create' ? 'Create' : 'Edit',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        content_type: this.type !== 'edit' ? 'information' : '',
        content_id: '',
        title: '',
        description: '',
        thumbnail_image_file_id: '',
        detail: '',
        target_type: 'all',
        target_birth_month: 0,
        datetime_send: '',
        is_schedule: 0,
      },
      setDate: '',
      errorModal: false,
      errorText: '',

      notificationType: [
        { name: 'Information', value: 'information' },
        { name: 'Promotion', value: 'promotion' },
        { name: 'Reward', value: 'reward' },
      ],
      options: {
        reward: [],
        promotion: [],
      },
      previewData: {},

      sendingDate: '',
      sendingHour: '',
      sendingMinute: '',

      targetSend: 'all',
      customerTarget: 0,
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),

    baseURL() {
      return process.env.BASE_URL
    },
    hourOptions() {
      return _.map(_.range(0, 24), (n) => ({
        text: _.padStart(n, '2', '0'),
        value: n.toString(),
      }))
    },

    minuteOptions() {
      return _.map(_.range(0, 4), (n) => ({
        text: _.padStart(15 * n, '2', '0'),
        value: (15 * n).toString(),
      }))
    },

    monthOptions() {
      return _.map(_.range(1, 13), (n) => ({
        text: moment(n, 'M').locale('th').format('MMMM'),
        value: n.toString(),
      }))
    },
  },

  watch: {
    'form.content_type'(type) {
      this.previewData = {}
    },
    'form.content_id'(id) {
      this.getContentID(id)
    },

    sendingDate() {
      this.setDatetimeSend()
    },
    sendingHour() {
      this.setDatetimeSend()
    },
    sendingMinute() {
      this.setDatetimeSend()
    },

    'form.target_birth_month'(month) {
      this.setCountCustomer(month)
    },

    'form.target_type'(type) {
      if (type === 'all') {
        this.setCountCustomer()
        this.form.target_birth_month = 0
      }
    },
  },

  async mounted() {
    if (this.type === 'edit') {
      const res = await this.fetchNotification({
        id: this.$route.query.id,
      })
      this.getContentID(this.$route.query.id)
      this.form = { ...this.form, ...res.result }
      this.initDateTimeSend()
    }

    this.setCountCustomer()
  },

  methods: {
    ...mapActions('reward', ['fetchReward', 'searchReward']),

    ...mapActions('notification', [
      'createNotification',
      'updateNotification',
      'fetchNotification',
      'fetchCustomerTarget',
    ]),

    ...mapActions('home', ['searchPromotion', 'fetchPromotion']),

    initDateTimeSend() {
      // if (this.form.datetime_send) {
      //   this.setDate = 'yes'
      //   const m = moment(this.form.datetime_send)
      //   // console.log(m)
      //   this.sendingDate = m.format('YYYY-MM-DD')
      //   this.sendingHour = m.format('H')
      //   this.sendingMinute = m.format('m')
      // }
    },

    onCheckDate() {
      // console.log('check date')
      this.options = {
        reward: [],
        promotion: [],
      }
      this.form.content_id = ''
      this.previewData = {}

      this.form.datetime_send = ''
      this.sendingDate = ''
      this.sendingHour = ''
      this.sendingMinute = ''
    },

    onSelectDate() {
      // console.log('date change')

      /** clear options */
      this.options = {
        reward: [],
        promotion: [],
      }
      this.form.content_id = ''
      this.previewData = {}
    },

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      if (this.type === 'create') {
        const res = await this.createNotification({
          ...this.form,
          is_schedule: this.setDate === 'yes' ? 1 : 0,
        })
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-notification-manage' })
        }
      } else {
        const {
          content_type,
          content_id,
          title,
          description,
          thumbnail_image_file_id,
          detail,
          target_type,
          target_birth_month,
          datetime_send,
          id,
          is_schedule,
        } = this.form
        const editForm = {
          id,
          content_type,
          content_id,
          title,
          description,
          thumbnail_image_file_id,
          detail,
          target_type,
          target_birth_month,
          datetime_send,
          is_schedule,
        }
        const res = await this.updateNotification(editForm)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-notification-manage' })
        }
      }
    },

    async getContentID(id) {
      let res = null
      if (this.form.content_type === 'reward') {
        res = await this.fetchReward({
          id,
        })
      } else if (this.form.content_type === 'promotion') {
        res = await this.fetchPromotion({
          id,
        })
      }
      if (res?.response_code === 200) {
        const img =
          res?.result?.a_image_thumbnail?.url || res?.result?.a_thumb_file?.url
        const {
          title,
          detail,
          description,
          start_date,
          redeem_start_date,
          end_date,
          redeem_end_date,
          status,
          id,
        } = res.result
        this.previewData = {
          img,
          title,
          description: detail || description,
          startDate: redeem_start_date || start_date,
          endDate: redeem_end_date || end_date,
          status,
          content_id: id,
        }
        if (['reward', 'promotion'].includes(this.form.content_type)) {
          this.options[this.form.content_type] = [
            {
              value: this.previewData.content_id,
              text: this.previewData.title,
            },
          ]
        }
      }
    },

    async setCountCustomer(month = null) {
      const res = await this.fetchCustomerTarget({ month })
      // console.log(res)
      if (res.response_code === 200) {
        this.customerTarget = res.result.customer_target_amount
      }
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.thumbnail_image_file_id = findEndpoint(
        ids,
        'notification_thumbnail'
      )
    },

    setDatetimeSend() {
      let m = moment(this.sendingDate)

      m.set({
        hour: this.sendingHour,
        minute: this.sendingMinute,
      })

      this.form.datetime_send = m.format('Y-MM-DD HH:mm:ss')
    },
    async searchOptionsReward(q) {
      if (!q) return
      const res = await this.searchReward({
        reward_name: q,
        content: 'campaign_reward',
        sort: 'created_asc',
        status: 'active',
        date:
          this.setDate === 'yes'
            ? this.sendingDate
            : moment().format('YYYY-MM-DD'),
      })

      if (res?.response_code !== 200) return
      if (!Array.isArray(res.result.lists)) res.result.lists = []

      this.options.reward = res?.result?.lists?.map((o) => ({
        text: o.title,
        value: o.id,
      }))
    },

    async searchOptionsPromotion(q) {
      if (!q) return
      const res = await this.searchPromotion({
        keyword: q,
        status: 'active',
        content: 'notification',
        date:
          this.setDate === 'yes'
            ? this.sendingDate
            : moment().format('YYYY-MM-DD'),
      })

      if (res?.response_code !== 200) return
      if (!Array.isArray(res.result)) res.result = []

      this.options.promotion = res?.result?.map((o) => ({
        text: o.title,
        value: o.id,
      }))
    },
  },
}
</script>

<style lang="scss" scoped>
.card-type {
  cursor: pointer;
  background-color: $color-light-grey;
  text-align: center;
  background: #ffffff none no-repeat bottom right;
  padding: 1.25rem 1.5625rem;
  box-shadow: 0 2px 10px fade(#000000, 5%);
  border-radius: 0.625rem;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  min-height: 150px;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &.disabled:not(.active) {
    color: $color-light-grey;
    background-color: $color-lighter-grey;
  }
  &.active {
    background-color: $color-twilight-blue;
    color: white;
  }

  &:hover:not(.disabled) {
    border-color: $color-marine;
    // color: $color-marine;
  }
}
</style>
