<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Notification

      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          :to="{ name: 'cms-notification-manage-create'}"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Notification
    b-row.mb-2
      b-col.mb-3(xl=3)
        label Search Title
        b-input-group
          b-input-group-prepend
            span(class="input-group-text")
              fa(:icon="['fas', 'search']")
          b-form-input(
            v-model="search.keyword"
            )
      b-col.mb-3(xl=3)
        label Content Type
        b-form-select(
          v-model="search.content_type"
          :options="optionsType"
        )
      b-col.mb-3.align-self-end(xl=3)
        b-button(
          variant="secondary"
          @click="submitSearch"
          )
          fa(:icon="['fas', 'search']").mr-2
          | Search


    b-row
      b-col.mb-3(xl=12)
        per-page(
          v-model="perpage"
        )
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        reward-item.mb-3(
          v-for="(item, index) in list"
          :key="item.id"
          :img-src="item.a_thumb_file.url"
          :category="item.content_type"
          :status="item.status"
          :id="item.id"
          @updateList="fetchList"
        )
          template(slot="detail")
            .group
              p: b Title:
              p {{ item.title }}
            .group
              p: b Description:
              p.text-limit-2(v-html="item.description ")
            .group
              p: b Push Date
              p {{ item.datetime_send | dateFormat }}
            .group
              p: b Content Type:
              p.text-capitalize {{ item.content_type }}
            .group
              p: b สถานะการส่ง:
              p.text-capitalize(:class="{ 'is-show' : item.status_send === 'sent', 'is-pending': item.status_send === 'pending', 'is-fail': item.status_send === 'fail' }") {{ item.status_send  }}

            .group
              p: b Last Updated :
              p {{ item.updated_by.username }} ({{ item.datetime_updated | dateUpdatedFormat }})

          template(slot="action")
            .action-section
              template
                  a(href="javascript: void(0)" @click="$router.push({ name: 'cms-notification-detail', query: { id: item.id }})")
                    fa.mr-2(:icon="['fas', 'eye' ]")
                    | View

              .d-flex(v-if="item.status_send === 'pending'")
                b-button.mr-3(
                  @click="editNotification(item.id)"
                  variant="secondary"
                  ) Edit
                b-button(
                  @click="confirmDelete(item.id)"
                  variant="danger"
                  ) Delete

      b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
         )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'cms',

  name: 'ManageNotificationPage',

  components: { RewardItem },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Notification',
          to: { name: 'cms-notification-manage' },
        },
        {
          text: 'Notification',
          href: '#',
          actve: true,
        },
      ],

      optionsType: [
        { value: 'All', text: 'All' },
        { value: 'Information', text: 'Information' },
        { value: 'Promotion', text: 'Promotion' },
        { value: 'Reward', text: 'Reward' },
      ],

      search: {
        content_type: this.$route.query.content_type || 'All',
        keyword: this.$route.query.keyword || '',
      },

      pagination: {},
      page: parseInt(this.$route.query.page) || 1,
      perpage: parseInt(this.$route.query.perpage) || 10,
      loading: true,
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.page = 1
      this.fetchList()
    },
    'search.content_type': {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
    // this.fetchRewardType()
  },

  methods: {
    ...mapActions('notification', [
      'fetchNotificationList',
      'deleteNotification',
    ]),

    submitSearch() {
      this.fetchList()
    },

    async fetchList() {
      this.loading = true
      const _form = {
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      }
      /** set query */
      this.$router.replace({
        name: this.$route.name,
        query: _form,
      })
      const res = await this.fetchNotificationList(_form)
      // console.log(res)
      this.pagination = res.result.pagination
      this.list = res.result.lists
      this.loading = false
    },

    editNotification(id) {
      this.$router.push({ name: 'cms-notification-manage-edit', query: { id } })
    },

    confirmDelete(id) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ?', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          // this.boxTwo = value
          if (value) {
            const res = await this.deleteNotification({ id })
            if (res.response_code === 200) {
              this.fetchList()
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
