<template lang="pug">

  b-navbar
    b-navbar-brand
      b-img(src="/img/logo-white.png").logo

    b-collapse(is-nav)

      b-navbar-nav.ml-auto.mr-4
        span.d-none.d-lg-block {{ user.username }}

      b-navbar-nav
        b-button(
          variant="danger"
          @click="onLogout"
        )
          span
            fa.mr-1(:icon="['far', 'sign-out-alt']")
            | Logout


</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      user: (state) => state.auth.user,
    }),
  },

  methods: {
    async onLogout() {
      await this.$auth.logout()
    },
  },
}
</script>

<style lang="scss" scoped>
.navbar {
  background-color: $color-marine;
  padding: 0 20px;
  color: white;

  .logo {
    max-height: 60px;
  }
}
</style>
