<template lang="pug">

  b-navbar.navbar-custom(toggleable="lg")
    b-navbar-toggle.hamburger(ref="hamburger" target="nav-collapse")
    //- span.d-block.d-lg-none.mr-3.user-name {{ myProfile.username }}
    b-collapse(
      id="nav-collapse"
      is-nav
      )
      .drawer.py-3
        b-nav(vertical)
          template(
            v-for="({ label, icon, child, link }, index) of menus"
          )
            .nav-item(
              v-b-toggle="`collapse-${index}`"
              :key="index"
              :class="{ active: collapseShow[`collapse-${index}`] }"
              ).b-nav-item
              fa.icon(:icon="icon")
              span {{ label }}
              fa.icon-toggle(
                :class="{ rotate: true, down: collapseShow[`collapse-${index}`] }"
                :icon="['far', 'angle-down']"
                )

            b-collapse(
              :id="`collapse-${index}`"
              role="tabpanel"
              :appear="true"
              :visible="RegExp(link).test($route.path)"
            )
              b-nav-item.nav-child(
                v-for="(item, i) in child"
                :key="i"
                :to="item.link"
                active-class="active"
              )
                span {{ item.label }}
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  data() {
    return {
      collapseShow: {},
    }
  },

  computed: {
    menus() {
      let menuList = [
        {
          label: 'Manage Customer',
          icon: ['fas', 'user'],
          link: '/cms/customer',
          child: [{ label: 'Customer', link: '/cms/customer/manage' }],
        },
        {
          label: 'Manage Point',
          icon: ['fas', 'coin'],
          link: '/cms/point',
          child: [{ label: 'Point', link: '/cms/point/manage' }],
        },
        {
          label: 'Manage Reward',
          icon: ['fas', 'trophy-alt'],
          link: '/cms/reward',
          child: [
            {
              label: 'Reward',
              icon: ['fas', 'barcode-read'],
              link: '/cms/reward/manage',
            },
            {
              label: 'Transaction',
              icon: ['fas', 'barcode-read'],
              link: '/cms/reward/transaction',
            },
          ],
        },
        {
          label: 'Manage Home Page',
          icon: ['fas', 'home-lg'],
          link: '/cms/home',
          child: [
            { label: 'Silde Banner', link: '/cms/home/banner/manage' },
            { label: 'Promote Pop-up', link: '/cms/home/promote-popup' },
            { label: 'Promotion', link: '/cms/home/promotion/manage' },
            { label: 'Reward Banner', link: '/cms/home/reward-banner' },
            {
              label: 'Campaign Reward',
              link: '/cms/home/campaign-reward/manage',
            },
            { label: 'Invite Friend', link: '/cms/home/invite-friend' },
          ],
        },
        {
          label: 'Manage Notification',
          icon: ['fas', 'bell'],
          link: '/cms/notification',
          child: [{ label: 'Notification', link: '/cms/notification/manage' }],
        },
        {
          label: 'Force Application',
          icon: ['fas', 'mobile'],
          link: '/cms/force-application',
          child: [
            {
              label: 'Force Update',
              link: '/cms/force-application/force-update',
            },
            {
              label: 'Freeze Application',
              link: '/cms/force-application/freeze',
            },
          ],
        },
      ]
      return menuList
    },
  },

  watch: {
    '$route.name'(name) {
      // this.$refs.hamburger.$el.click()
    },
  },

  mounted() {
    this.$root.$on('bv::collapse::state', (collapseId, isJustShown) => {
      // this.collapseShow[collapseId] = isJustShown
      // console.log(collapseId, isJustShown)
      this.$set(this.collapseShow, collapseId, isJustShown)
    })
  },
}
</script>

<style lang="scss" scoped>
.drawer {
  background-color: white;
  min-height: calc(100vh - 82px);
  width: 100%;
}

.b-nav-item {
  cursor: pointer;
  padding: 15px 30px 15px 20px;
  // color: #ffffff;
  font-weight: 200;
  border-left: 5px solid transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 1.125rem;

  &.active {
    color: $color-dodger-blue;

    svg {
      color: $color-dodger-blue;
    }
    a {
      color: $color-marine;
    }
  }
}

.icon {
  width: 20px;
  margin-right: 13px;
  font-size: 14px;
}
.icon-toggle {
  margin-left: auto;
  font-size: 14px;
  // position: absolute;
  // right: 21px;
  // margin-left: 40px;
}
.nav-child {
  .nav-link {
    padding-left: 55px;
    border-left: 5px solid transparent;
    color: $color-twilight-blue;
  }
  .active {
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      border-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: $color-duck-egg-blue;
    border-left: 5px solid $color-dodger-blue;
    color: $color-marine;

    a {
      color: $color-marine;
    }
  }
}

.rotate {
  -moz-transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navbar-custom {
  padding: 0;
  .hamburger {
    margin: 0.5rem;
    border: 1px solid white;
  }

  /deep/ .navbar-toggler-icon {
    // background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
}

.user-name {
  color: white;
}
</style>
