<template lang="pug">
  form-group(
    :label="label"
    :label-for="id"
    :text="text"
    :text-id="textId"
    :invalid-text="invalidText"
    :invalid-text-id="invalidTextId"
  )
    .FormDropdown(
      :class="{ 'FormDropdown_show': show, 'FormDropdown_focused': focused, [`FormDropdown_variant_${variant}`]: variant }"
      v-click-outside="() => { show = false }"
      )
      button.FormDropdown-button(
        v-if="!searchable"
        ref="button"
        v-bind="$attrs"
        :id="buttonId"
        type="button"
        aria-haspopup="listbox"
        :aria-expanded="show"
        :aria-labelledby="`${id} ${buttonId}`.trim() || false"
        :disabled="disabled"
        @click="handleButtonClick"
        @focus="handleButtonFocus"
        @blur="handleButtonBlur"
        @keydown.up.down.prevent="openListbox()"
      )
        .FormDropdown-buttonText(
          :class="{ 'FormDropdown-buttonText_placeholder': !selectedOption }"
          v-text="selectedOption ? selectedOption.text : placeholder"
        )
        .FormDropdown-arrow
          client-only
            fa.FormDropdown-arrowIcon(:icon="['far', 'angle-down']")

      .FormDropdown-button(
        v-else
        :id="comboboxId"
        role="combobox"
        aria-haspopup="listbox"
        :aria-expanded="show.toString()"
        :aria-owns="listboxId"
        :class="{ 'FormDropdown-button_disabled': disabled }"
      )
        input.FormDropdown-search(
          ref="searchInput"
          :id="searchInputId"
          type="search"
          autocomplete="off"
          aria-autocomplete="list"
          :aria-controls="listboxId"
          :aria-labelledby="id"
          :disabled="disabled"
          v-model="q"
          @click.stop="handleSearchInputClick"
          @focus="handleSearchInputFocus"
          @blur="handleSearchInputBlur"
          @keydown.down.prevent="highlightNextOption()"
          @keydown.up.prevent="highlightPreviousOption()"
          @keydown.esc.prevent="closeListbox()"
          @keydown.enter.prevent="selectOption()"
          @keydown.tab="closeListbox()"
        )
        .FormDropdown-buttonText(
          v-show="!q"
          :class="{ 'FormDropdown-buttonText_placeholder': !selectedOption }"
          v-text="selectedOption ? selectedOption.text : placeholder"
        )
        //- button.FormDropdown-arrow(
          type="button"
          tabindex="-1"
          @click.stop="handleToggleButtonClick"
          )
          client-only
            fa.FormDropdown-arrowIcon(:icon="['far', 'angle-down']")
      ul.FormDropdown-listbox(
        v-show="show"
        ref="listbox"
        :id="listboxId"
        role="listbox"
        :style="listboxStyle"
        tabindex="-1"
        @keydown.down.prevent="highlightNextOption()"
        @keydown.up.prevent="highlightPreviousOption()"
        @keydown.home.prevent="highlightFirstItem()"
        @keydown.end.prevent="highlightLastItem()"
        @keydown.esc.prevent="closeListbox($refs.button)"
        @keydown.enter.prevent="selectOption($refs.button)"
        @keydown.tab="closeListbox()"
      )
        li.FormDropdown-option(
          v-for="option in options"
          ref="options"
          role="option"
          v-text="option.text"
          :aria-selected="(option.value === value).toString()"
          @click="handleOptionClick(option)"
        )
</template>

<script>
import FormGroup from '~/components/cms/input/Group'

export default {
  components: {
    FormGroup,
  },

  inheritAttrs: false,

  props: {
    id: {
      type: String,
      default: '',
    },

    searchable: {
      type: Boolean,
      default: false,
    },

    value: {
      type: null,
      default: undefined,
    },

    options: {
      type: Array,
      default: () => [],
    },

    optionsToShow: {
      type: Number,
      default: 5,
    },

    placeholder: {
      type: String,
      default: '',
    },

    label: {
      type: String,
      default: '',
    },

    text: {
      type: String,
      default: '',
    },

    invalidText: {
      type: String,
      default: '',
    },

    variant: {
      type: String,
      default: '',
      validator(value) {
        return ['', 'shadowed'].indexOf(value) !== -1
      },
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      listboxStyle: undefined,
      show: false,
      focused: false,
      selectedOption: undefined,
      q: '',
    }
  },

  computed: {
    textId() {
      if (this.id) return `${this.id}-text`
      return ''
    },

    invalidTextId() {
      if (this.id) return `${this.id}-invalid-text`
      return ''
    },

    buttonId() {
      if (this.id) return `${this.id}-button`
      return ''
    },

    comboboxId() {
      if (this.id) return `${this.id}-combobox`
      return ''
    },

    listboxId() {
      if (this.id) return `${this.id}-listbox`
      return ''
    },

    searchInputId() {
      if (this.id) return `${this.id}-input`
      return ''
    },
  },

  watch: {
    show(val) {
      if (val)
        this.$nextTick(() => {
          this.init()
        })
      else this.q = ''
    },

    value(val) {
      this.selectedOption = _.find(this.options, ['value', val])
    },

    options(val) {
      this.selectedOption = _.find(val, ['value', this.value])
    },

    q(val) {
      if (val) this.show = true
      this.$emit('search', val)
    },
  },

  mounted() {
    this.init()
  },

  methods: {
    init() {
      if (this.$refs.options) {
        const minOptionHeight = Math.min(
          ...this.$refs.options.map((el) => el.clientHeight)
        )

        const totalBorderWidth = parseFloat(
          getComputedStyle(this.$refs.listbox).getPropertyValue(
            'border-bottom-width'
          )
        )

        this.listboxStyle = {
          maxHeight:
            minOptionHeight * this.optionsToShow + totalBorderWidth + 'px',
        }
      }

      this.selectedOption = _.find(this.options, ['value', this.value])

      const selectedOption = this.$refs.listbox.querySelector(
        '[aria-selected="true"]'
      )

      if (selectedOption) this.highlightOption(selectedOption)

      this.scrollListboxToHighlightedOption()
    },

    handleButtonClick() {
      this.show = !this.show
      this.$nextTick(() => {
        this.$refs.listbox.focus({
          preventScroll: true,
        })
      })
    },

    handleButtonFocus() {
      this.focused = true
    },

    handleButtonBlur() {
      this.focused = false
    },

    handleToggleButtonClick() {
      if (!this.show) this.$refs.searchInput.focus()
      else this.show = false
    },

    handleSearchInputClick() {
      this.show = true
    },

    handleSearchInputFocus() {
      this.handleSearchInputClick()
      this.focused = true
    },

    handleSearchInputBlur() {
      this.focused = false
    },

    handleOptionClick(option) {
      this.$emit('input', option.value)
      this.show = false
    },

    highlightOption(optionEl) {
      if (optionEl) {
        _.forEach(this.$refs.listbox.children, (el) => {
          el.classList.toggle(
            'FormDropdown-option_highlighted',
            el === optionEl
          )
        })
        this.$nextTick(() => {
          this.scrollListboxToHighlightedOption()
        })
      }
    },

    highlightNextOption() {
      if (!this.show) return (this.show = true)

      const currentItem = this.$refs.listbox.querySelector(
        '.FormDropdown-option_highlighted'
      )

      if (currentItem) {
        if (currentItem.nextElementSibling)
          this.highlightOption(currentItem.nextElementSibling)
      } else this.highlightOption(this.$refs.listbox.firstElementChild)
    },

    highlightPreviousOption() {
      if (!this.show) return (this.show = true)

      const currentItem = this.$refs.listbox.querySelector(
        '.FormDropdown-option_highlighted'
      )

      if (currentItem) {
        if (currentItem.previousElementSibling)
          this.highlightOption(currentItem.previousElementSibling)
      } else this.highlightOption(this.$refs.listbox.firstElementChild)
    },

    highlightFirstItem() {
      this.highlightOption(this.$refs.listbox.firstElementChild)
    },

    highlightLastItem() {
      this.highlightOption(this.$refs.listbox.lastElementChild)
    },

    scrollListboxToHighlightedOption() {
      const currentItem = this.$refs.listbox.querySelector(
        '.FormDropdown-option_highlighted'
      )
      const listbox = this.$refs.listbox

      if (currentItem) {
        if (
          currentItem.offsetTop + currentItem.offsetHeight >
          listbox.clientHeight + listbox.scrollTop
        ) {
          listbox.scrollTop =
            currentItem.offsetTop +
            currentItem.offsetHeight -
            listbox.clientHeight
        } else if (currentItem.offsetTop - listbox.scrollTop < 0) {
          listbox.scrollTop = currentItem.offsetTop
        }
      }
    },

    selectOption(target) {
      const currentItem = this.$refs.listbox.querySelector(
        '.FormDropdown-option_highlighted'
      )

      if (currentItem) currentItem.click()

      this.$nextTick(() => {
        if (target) target.focus()
      })
    },

    closeListbox(target) {
      this.show = false
      this.$nextTick(() => {
        if (target) target.focus()
      })
    },

    openListbox(focus = true) {
      this.show = true
      this.$nextTick(() => {
        if (focus) this.$refs.listbox.focus()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.FormDropdown {
  position: relative;
  max-width: 100%;

  &-button {
    display: flex;
    height: 35px;
    width: 100%;
    border: 1px solid $color-grey;
    border-radius: 0.25rem;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    padding: 6px 12px;
    color: inherit;
    position: relative;
    transition: border 250ms;

    &:focus {
      border-color: $color-twilight-blue;
    }

    &:disabled,
    &_disabled {
      background-color: $color-light-grey;
      color: $color-dodger-blue;
    }

    .FormDropdown_variant_shadowed & {
      border-color: transparent;
      box-shadow: 0 2px 10px fade(#000000, 5%);
    }

    .FormDropdown_focused & {
      border-color: $color-twilight-blue;
    }

    .FormDropdown_show & {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-color: $color-twilight-blue;
    }
  }

  &-buttonText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .FormDropdown-search:focus + & {
      opacity: 0.5;
    }

    &_placeholder {
      color: $color-grey;
    }
  }

  &-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-darkest-grey;
    background-color: transparent;
    border: none;
  }

  &-arrowIcon {
    display: block;
    transition: all 250ms;
    font-size: 16px;

    .FormDropdown_show & {
      transform: rotate(180deg);
    }
  }

  &-search {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    // padding: 0.625rem 2rem 0.625rem 0.625rem;
    padding: 0.625rem;
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    appearance: none;
  }

  &-listbox {
    position: absolute;
    // top: 42px;
    z-index: 2;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid $color-grey;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    user-select: none;
    overflow: hidden auto;
    -webkit-overflow-scrolling: touch;

    .FormDropdown_variant_shadowed & {
      border-color: transparent;
      box-shadow: 0 2px 10px fade(#000000, 5%);
    }

    .FormDropdown_show & {
      border-color: $color-twilight-blue;
      border-top-color: transparent;
    }
  }

  &-option {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    min-height: 35px;
    cursor: pointer;
    overflow-wrap: anywhere;

    &:hover,
    &_highlighted {
      background-color: $color-dodger-blue;
      color: #ffffff;
    }

    &[aria-selected='true'] {
      background-color: $color-twilight-blue;
      color: #ffffff;
    }
  }
}
</style>
