<template lang="pug">
  .FormGroup(
    role="group"
    :class="{ 'FormGroup_invalid': invalidText }"
  )
    label.FormGroup-label(
      v-if="label"
      :for="labelFor"
      v-text="label"
    )
    slot
    small.FormGroup-text(
      :id="textId"
      v-if="text"
      v-text="text"
    )
    .FormGroup-invalidText(
      :id="invalidTextId"
      v-if="invalidText"
      v-text="invalidText"
    )
</template>

<script>
export default {
  inheritAttrs: false,

  props: {
    label: {
      type: String,
      default: '',
    },

    labelFor: {
      type: String,
      default: '',
    },

    text: {
      type: String,
      default: '',
    },

    invalidText: {
      type: String,
      default: '',
    },

    textId: {
      type: String,
      default: '',
    },

    invalidTextId: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.FormGroup {
  // margin-bottom: 1rem;

  &-label {
    margin-bottom: 0;
  }

  &-text {
    display: block;
    // position: absolute;
    font-size: 0.875rem;
    color: $color-darkest-grey;
    margin-top: 0.25rem;
  }

  &-invalidText {
    font-size: 0.875rem;
    color: $color-light-red;
    margin-top: 0.25rem;
  }
}
</style>
