<template lang="pug">
  .upload-img.py-4
    b-progress.my-2(
      v-show="loading"
      :value="progress || 0"
      max=100
    )
      b-progress-bar(
        ref="progress"
        :value="progress"
        :label="`${progress}%`"
        )


    span.my-3(
      v-show="showText"
    ) Recommended pixel {{ endpointImageSize[0].w }} x {{ endpointImageSize[0].h}} px, file size less than {{ fileLimit }} MB.

    input.d-none(
      ref="file"
      type="file"
      accept="image/jpeg, image/png"
      @change="cropImage"
      )

    b-row
      b-col(
        sm=12
        :class="{ 'text-center': imgCenter }"
        )
        .wrap-img.mt-3
          b-img.img(
            :ref="`img-${_uid}`"
            :src="imgCrop || defaultUrl"
            :width="endpointImageSize[0].w * sizeImage / 100"
            :height="endpointImageSize[0].h * sizeImage / 100"
            blank-color="#EDF1F2"
            :blank="!imgCrop && !defaultUrl"
            fluid
            )
          b-button.btn-delete-img(
            v-if="isImagePopup && (imgCrop || defaultUrl)"
            variant="danger"
            @click="$emit('delete')"
            ) Delete
          //- p.mt-4(v-if="createDate")
            //- b Create Date:&nbsp;&nbsp;
            //- span {{ createDate | dateFormat }}
          p.my-4(v-if="updatedDate")
            b Last Updated :&nbsp;&nbsp;
            span {{ updatedBy }} ({{ updatedDate | dateUpdatedFormat }})
            span
      b-col(
        v-if="endpointImageSize.length > 1"
        sm=12
      )
        b-img.img.mt-3(
          :ref="`img-mini-${_uid}`"
          :src="imgCrop || defaultUrl"
          :width="endpointImageSize[0].w * 15 / 100"
          :height="endpointImageSize[0].h * 15 / 100"
          blank-color="#EDF1F2"
          :blank="!imgCrop && !defaultUrl"
          fluid
        )



    CropModal(
      v-model="cropImageModalShow"
      ref="cropModal"
      :imgSrc="imgSrc"
      :confirmFunction="uploadImage"
      :width="endpointImageSize[0].w"
      :height="endpointImageSize[0].h"
    )
</template>

<script>
import CropModal from '~/components/cms/modal/CropModal'
import { mapActions } from 'vuex'

export default {
  components: {
    CropModal,
  },
  props: {
    editable: {
      type: Boolean,
      default: true,
    },

    limitSize: {
      type: Number,
      default: 5,
    },

    width: {
      type: Number,
      default: 1340,
    },

    height: {
      type: Number,
      default: 1340,
    },

    endpoint: {
      type: Array,
      default: () => [],
    },

    endpointImageSize: {
      type: Array,
      default: () => [{ w: 1340, h: 1340 }],
    },

    defaultUrl: {
      type: String,
      default: '',
    },
    showText: {
      type: Boolean,
      default: true,
    },

    isImagePopup: {
      type: Boolean,
      default: false,
    },

    createDate: {
      type: String,
      default: '',
    },

    imgCenter: {
      type: Boolean,
      default: false,
    },

    sizeImage: {
      type: Number,
      default: 30,
    },

    fileLimit: {
      type: Number,
      default: 2,
    },

    updatedDate: {
      type: String,
      default: '',
    },

    updatedBy: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      cropImageModalShow: false,
      imgSrc: '',
      imgCrop: '',
      fileName: '',
      loading: false,
      progress: 0,
    }
  },

  watch: {
    defaultUrl() {
      this.imgCrop = ''
    },
  },

  methods: {
    ...mapActions('file', ['upload']),

    selectFile() {
      this.$refs.file.click()
    },

    cropImage(event) {
      let file = event.srcElement.files[0]
      this.fileName = file.name
      let FileSize = event.srcElement.files[0].size / 1024 / 1024 // in MB
      if (FileSize > this.fileLimit) {
        this.$bvModal.msgBoxOk(`File size exceeds ${this.fileLimit} MB`)
        event.target.value = ''
        return
      }
      this.cropImageModalShow = true
      if (typeof FileReader === 'function') {
        const reader = new FileReader()
        reader.onload = (event) => {
          this.imgSrc = event.target.result
          // rebuild cropperjs with the updated source
          this.$refs.cropModal.$refs.cropper.replace(event.target.result)
        }
        reader.readAsDataURL(file)
      } else {
        alert('Sorry, FileReader API not supported')
      }
      event.target.value = ''
    },

    async uploadImage() {
      let uploadId = []
      const promises = this.endpoint.map(async (endpoint, i) => {
        let url = this.$refs.cropModal.$refs.cropper
          .getCroppedCanvas({
            maxWidth: this.endpointImageSize[i].w,
            maxHeight: this.endpointImageSize[i].h,
          })
          .toDataURL('image/jpeg')
        const res = await fetch(url)
        const blob = await res.blob()
        blob.name = `${this.fileName}.jpeg`

        this.loading = true

        const resUpload = await this.upload({
          data: {
            file: blob,
            endpoint: endpoint,
          },
          config: {
            onUploadProgress: (ev) => {
              let percentCompleted = Math.floor((ev.loaded * 100) / ev.total)
              this.progress = `${percentCompleted}`
            },
          },
        })

        if (resUpload.result.id) {
          uploadId.push({ id: resUpload.result.id, endpoint })
          this.imgCrop = url
        }
        this.loading = false
        this.progress = 0
      })

      await Promise.all(promises)
      this.$emit('imageID', uploadId)
    },
  },
}
</script>

<style lang="scss" scoped>
.img {
  max-width: 100%;
  // width: 500px;
}
.wrap-img {
  position: relative;
  display: inline-block;
  // flex-direction: column;
  .btn-delete-img {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
</style>
