<template lang="pug">
  .input

    cleave.form-control(
      v-if="type === 'phone'"
      type="tel"
      :value="value"
      :class="{ 'is-invalid': state === false }"
      :options="optionsPhone"
      :placeholder="placeholder"
      :disabled="disabled"
      @input="o => $emit('input', o)"
    )
    cleave.form-control(
      v-else-if="type === 'number'"
      :value="value"
      :class="{ 'is-invalid': state === false }"
      :options="optionsNumber"
      :placeholder="placeholder"
      :disabled="disabled"
      @input="o => $emit('input', o)"
    )

    cleave.form-control(
      v-else-if="type === 'numeric'"
      type="tel"
      :value="value"
      :class="{ 'is-invalid': state === false }"
      :options="optionsNumeric"
      :placeholder="placeholder"
      :disabled="disabled"
      @input="o => $emit('input', o)"
    )
    b-form-input(
      v-else
      :type="type"
      :value="value"
      :state="state"
      :maxlength="maxlength"
      :placeholder="placeholder"
      autocomplete="new-password"
      @input="o => $emit('input', o)"
    )
    span.clear.color-main-D(
      v-show="value && !disabled"
      @click="$emit('input', '')"
      )
      fa(:icon="['fas', 'times-circle']")

</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number],
      default: '',
    },

    placeholder: {
      type: String,
      default: '',
    },

    type: {
      type: String,
      default: 'text',
    },

    state: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    maxlength: {
      type: [Number, String],
      default: null,
    },
  },

  data() {
    return {
      optionsPhone: {
        phone: true,
        phoneRegionCode: 'TH',
        delimiter: '-',
      },

      optionsNumber: {
        numeral: true,
        delimiter: '',
      },

      optionsNumeric: {
        creditCard: true,
        delimiter: '',
      },
    }
  },

  created() {
    if (this.type === 'phone') {
      require('cleave.js/dist/addons/cleave-phone.th')
    }
  },
}
</script>

<style lang="scss" scoped>
.input {
  position: relative;
  width: 100%;

  .clear {
    align-items: center;
    display: flex;

    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.5;
  }
}
</style>
