<template lang="pug">
  client-only
    ckeditor(
      :ref="id"
      :editor="editor"
      :value="value || ''"
      @input="$emit('input', $event)"
      )
</template>

<script>
let CKEditor, ClassicEditor
if (process.client) {
  CKEditor = require('@ckeditor/ckeditor5-vue')
  ClassicEditor = require('@ckeditor/ckeditor5-build-classic')

  ClassicEditor.defaultConfig = {
    toolbar: [
      'heading',
      '|',
      'bold',
      'italic',
      'link',
      'bulletedList',
      'numberedList',
      '|',
      'indent',
      'outdent',
      '|',
      'blockQuote',
      'undo',
      'redo',
    ],

    // This value must be kept in sync with the language defined in webpack.config.js.
    language: 'en',
  }
} else {
  CKEditor = { component: { template: '' } }
}

export default {
  components: {
    ckeditor: CKEditor.component,
  },

  props: {
    value: {
      type: String,
      default: '',
    },

    id: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      editor: ClassicEditor,
    }
  },
}
</script>

<style lang="scss" scoped></style>
