<template lang="pug">
  .wrap-button(
    :class="{ fixed: fixed }"
    )
    b-button(
      type="button"
      :variant="variant"
      block
      :disabled="disabled"
      @click="$emit('click')"
    )
      slot(name="text")
        span {{ text }}
</template>

<script>
export default {
  props: {
    variant: {
      type: String,
      default: 'primary',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: 'ยืนยัน',
    },
    block: {
      type: Boolean,
      default: false,
    },
    fixed: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.fixed {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-image: url('/img/webview/LightBlue.png');
  // height: 170px;
  // background-repeat: no-repeat;
  // background-size: 1000px 400px;
  // padding-top: 90px;

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 576px) {
    max-width: 540px;
  }
}
.btn {
  font-weight: bold;
  border-radius: 55px;
  padding: 11px 22px;
  box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
  border: none;
  height: 46px;
  line-height: 24px;

  span {
    font-size: 16px;
  }

  &.btn-primary {
    color: white;
    background: linear-gradient(
      25deg,
      rgb(10, 62, 134) 0%,
      rgb(48, 53, 113) 25%,
      rgb(48, 53, 113) 70%,
      rgba(149, 28, 57, 1) 100%
    );
    // rgb(10, 62, 134) 0%,
    // rgb(48, 53, 113) 25%,
    // rgb(149, 28, 57) 50%,
    // rgb(252, 18, 68) 100%
    &:active:not(.disabled),
    &:focus:not(.disabled) {
      background: linear-gradient(
        45deg,
        rgba(10, 62, 134, 1) 0%,
        rgba(9, 9, 121, 1) 100%
      );
      box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
    }
    &.disabled {
      border-color: rgb(189, 189, 189);
      opacity: 1;
      background: rgb(189, 189, 189);
      box-shadow: none;
    }
  }

  &.btn-ghost {
    box-shadow: none;
    color: $color-twilight-blue;
  }

  &.btn-light {
    color: $color-twilight-blue;
    background-color: $color-duck-egg-blue;

    &:active:not(.disabled),
    &:focus:not(.disabled) {
      background-color: darken($color-duck-egg-blue, 5);
      box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
    }
  }
  &.btn-dash {
    color: $color-dodger-blue;
    border: dashed 1px rgb(207, 225, 250);

    &:active:not(.disabled),
    &:focus:not(.disabled) {
      border: dashed 1px rgb(207, 225, 250);
      background-color: darken($color-duck-egg-blue, 5);
      box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
    }
  }
}
</style>
