<template lang="pug">
  b-card(
    v-show="img"
    bg-variant="secondary"
  )
    //- b-container
    b-row
      b-col(md=5)
        b-img.img-preview(
          :src="img"
          :alt="title"
          thumbnail
          )
      b-col
        h2 {{ title }}
        p: b Desciption:
        p(v-html="description")

        p
          b ระยะเวลาแลกรางวัล:&nbsp;&nbsp;
          span {{ startDate | dateFormat }} - {{ endDate | dateFormat }}

        p
          b การแสดงผลบน Application:&nbsp;&nbsp;
          span(:class="status === 'inactive' ? 'is-hide' : 'is-show'") {{ status && status === 'inactive' ? 'Hide' : 'Show' }}


</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    img: {
      type: String,
      default: '',
    },
    startDate: {
      type: String,
      default: '',
    },
    endDate: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    status: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.img-preview {
  // max-width: 100%;
}
</style>
