<template lang="pug">
  b-container.page-container(v-if="hasDetails")
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row
      b-col(xl=12)
        b-row
          b-col
            h2 {{ customer.full_name }}
            span Last Updated :&nbsp;&nbsp;
              template(v-if="customer.datetime_updated_status") {{ customer.updated_status_by.username }} ({{ customer.datetime_updated_status | dateUpdatedFormat }})
              template(v-else) -
          b-col.ml-auto.align-self-center(sm='auto')
            b-button(
              v-b-modal.status-modal
              variant="link"
              )
              fa.mr-2(:icon="['fas', 'pencil']")
              | Change Status
            b-modal(
              id="status-modal"
              title="Change Status"
              :hide-footer="tempStatus === 'deactive'"
              @ok="onStatusChanged"
              @cancel="onStatusCancle"
            )
              b-form-group.mb-0.py-3(
                label="Status : "
                label-cols-sm="2"
                )
                b-form-select(
                  :disabled="tempStatus === 'deactive'"
                  :value="tempStatus"
                  :options="statusOptions"
                  @input="status => changeStatus = status"
                  )
    hr
    b-row.mb-4
      b-col(xl=12)
        b-card
          b-row.mb-3
            b-col(sm='auto')
              h4 Summary Point
            b-col.ml-auto(sm='auto')
              b-button(
                v-b-modal.adjust-modal
                variant="primary"
                )
                fa.mr-2(:icon="['fas', 'pencil']")
                | Adjust Point
              b-modal(
                id="adjust-modal"
                ref="adjustModal"
                title="Point Adjustment"
                hide-footer
                @hide="clearModal"
                )
                validation-observer(ref="observer" v-slot="{ invalid }")
                  b-form(@submit.prevent="checkFormSubmit")
                    b-form-group.mb-0.py-3(
                      label="คะแนนวันที่ * : "
                      label-cols-sm="4"
                      )
                      validation-provider(
                        v-slot="{ errors, valid, validated }"
                        rules="required"
                        name="คะแนนวันที่"
                      )
                        a-date-picker(
                          v-model="adjustForm.adjust_date"
                          format="D MMM YYYY"
                          placeholder="Select Date"
                          show-time
                          )
                        span.error-text(v-if="errors[0]") {{ errors[0] }}

                    b-form-group.mb-0.py-3(
                      label="ประเภทคะแนน * : "
                      label-cols-sm="4"
                      )
                      .d-flex.align-items-center(
                        :style="{ height: '100%' }"
                      )
                        b-form-radio-group(
                          v-model="adjustForm.point_type"
                          :options="adjustTypeOptions"
                          )
                    b-form-group.mb-0.py-3(
                      label="จำนวนคะแนน * : "
                      label-cols-sm="4"
                      description="ตัวเลขเท่านั้น"
                      )
                      b-row.no-gutters
                        b-col.pr-3
                          validation-provider(
                            v-slot="{ errors, valid, validated }"
                            rules="required"
                            name="ตัวเลขเท่านั้น"
                          )
                            input-clear(
                              v-model="adjustForm.point_amount"
                              type="numeric"
                              :state="!validated ? null : valid ? null : false"
                              )
                            span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-col(xl='auto' align-self="center")
                          span Stang Point
                    b-form-group.mb-0.py-3(
                      label="Description * : "
                      label-cols-sm="4"
                      description="ข้อความที่แสดงบน Application"
                      )
                      validation-provider(
                        v-slot="{ errors, valid, validated }"
                        rules="required"
                        name="ข้อความที่แสดงบน Application"
                      )
                        b-form-textarea(v-model="adjustForm.description")
                        span.error-text(v-if="errors[0]") {{ errors[0] }}

                    b-container
                      b-row.mt-3(align-h="center")
                        b-col(md=4)
                          b-button(
                            block
                            variant="secondary"
                            @click="clearModal"
                          ) Cancel
                        b-col(md=4)
                          b-button(
                            block
                            variant="primary"
                            type="submit"
                          ) OK

          b-row
            b-col(xl=4)
              p: b Total Earn Point :
            b-col
              p #[b {{ customer.a_point_summary.total_earn_point }}] Satang Points
            .w-100
            b-col(xl=4)
              p: b Total Used Point :
            b-col
              p #[b {{ customer.a_point_summary.total_used_point }}] Satang Points
            .w-100
            b-col(xl=4)
              p: b Total Points Balance :
            b-col
              p #[b {{ customer.a_point_summary.total_point }}] Satang Points
            .w-100
            b-col(xl=4)
              p: b คะแนนที่จะหมดอายุในปีนี้ (31 ธ.ค.) :
            b-col
              p #[b {{ customer.a_point_summary.expiring_point }}] Satang Points
    b-row.mb-3
      b-col(xl=12)
        h4 History Point
    b-form(@submit.prevent="onSubmit")
      b-row.mb-2
        b-col.mb-3(xl=3)
          label.d-block Start Date

          a-date-picker(
            v-model="form.date_transaction_start"
            format="D MMM YYYY"
            value-format="YYYY-MM-DD"
            placeholder="Start Date"
            )

        b-col.mb-3(xl=3)
          label.d-block End Date
          a-date-picker(
            v-model="form.date_transaction_end"
            value-format="YYYY-MM-DD"
            format="D MMM YYYY"
            placeholder="End Date"
            )

        b-col.mb-3(xl=2)
          label Type
          b-form-select(
            v-model="form.type"
            :options="typeOptions"
            )
        b-col.mb-3.align-self-end(xl=3)
          b-button(
            type="submit"
            variant="secondary"
            )
            fa(:icon="['fas', 'search']").mr-2
            | Search
      hr
      b-row
        b-col.mb-3(xl=12)
          per-page(
            v-model="perpage"
            )
        b-col(xl=12)
          b-table(
            show-empty
            striped
            hover
            :items="pointHistory.lists"
            :fields="fields"
            :busy="loading"
            )
            template(v-slot:table-busy)
              b-row
                b-col(
                  xl=12
                  )
                  .d-flex.justify-content-center.align-items-center(
                    :style="{ 'min-height': '500px'}"
                    )
                    b-spinner(
                      variant="primary"
                      label="Loading..."
                      )
            template(v-slot:table-colgroup="scope")
              col(
                v-for="field in scope.fields"
                :key="field.key"
                :style="{ width: field.key === 'description' ? '350px' : 'auto' }"
              )

        b-col.my-3(xl=12)
          section-pagination(
            v-model="page"
            :total-item="pointHistory.pagination.total_items"
            :per-page="perpage"
            :list-length="pointHistory.lists.length"
            )

      AlertModal(
        v-model="alertModalShow"
        :title="alertTitle"
      )
</template>

<script>
import { mapActions } from 'vuex'
import AlertModal from '~/components/cms/modal/AlertModal'
import InputClear from '~/components/cms/input/InputClear'

export default {
  layout: 'cms',

  components: { AlertModal, InputClear },

  data() {
    return {
      adjustTypeOptions: [
        { text: 'Point In', value: 'point_in' },
        { text: 'Point Out', value: 'point_out' },
      ],
      typeOptions: [
        { text: 'All', value: '' },
        { text: 'Point In', value: 'point_in' },
        { text: 'Point Out', value: 'point_out' },
      ],
      statusOptions: [
        { text: 'Active', value: 'active' },
        { text: 'Restrict', value: 'restrict' },
        { text: 'Inactive', value: 'inactive' },
        { text: 'Deactive', value: 'deactive' },
      ],
      changeStatus: 'active',
      tempStatus: 'active',
      page: 1,
      perpage: 10,
      adjustForm: {
        adjust_date: '',
        point_type: 'point_in',
        point_amount: '',
        description: '',
        customer_id: this.$route.params.id,
      },
      form: {
        type: '',
        date_transaction_start: null,
        date_transaction_end: null,
      },
      pointHistory: {
        pagination: {},
        lists: [],
      },
      customer: {},
      breadcrumb: [
        {
          text: 'Manage Customer',
          href: '#',
        },
        {
          text: 'Customer',
          to: { name: 'cms-customer-manage' },
        },
        {
          text: 'Detail',
          href: '#',
          actve: true,
        },
      ],
      fields: [
        {
          label: 'T.ID',
          key: 'transaction_id',
          class: 'text-right',
          formatter: (value) => this.$options.filters.TID(value),
        },
        {
          label: 'Point In',
          key: 'point_in',
          class: 'text-right',
        },
        {
          label: 'Point Out',
          key: 'point_out',
          class: 'text-right',
        },
        {
          label: 'Description',
          key: 'description',
        },
        {
          label: 'Create By',
          key: 'createBy',
        },
        {
          label: 'Create Date',
          key: 'transaction_at',
          class: 'text-center',
          formatter: (value) =>
            moment(value).isValid && moment(value).format('DD MMM YYYY'),
        },
        {
          label: 'Create Time',
          key: 'transaction_time',
          class: 'text-center',
          formatter: (value, key, item) =>
            moment(item.transaction_at).isValid &&
            moment(item.transaction_at).format('HH:mm:ss'),
        },
      ],

      alertModalShow: false,
      alertTitle: '',
      loading: true,
    }
  },

  computed: {
    hasDetails() {
      return Object.keys(this.customer).length > 0
    },
  },

  watch: {
    page(page) {
      this.fetchPointHistory(page)
    },
    perpage() {
      this.fetchPointHistory(1)
    },
  },

  mounted() {
    this.fetchDetail()
    this.fetchPointHistory()
  },

  methods: {
    async onAdjustPoint() {
      const res = await this.adjustPoint(this.adjustForm)
      if (res.response_code === 200) {
        // this.alertModalShow = true
        // this.alertTitle = 'บันทึกคะแนนสำเร็จ'
        this.$bvModal.msgBoxOk('บันทึกคะแนนสำเร็จ')
      } else {
        this.$bvModal.msgBoxOk(res.response_msg)
      }
      this.fetchDetail()
      this.fetchPointHistory()
      this.$refs.adjustModal.hide()
    },

    async checkFormSubmit() {
      const isValid = await this.$refs.observer.validate()

      if (!isValid) return
      this.onAdjustPoint()
    },

    clearModal() {
      this.adjustForm = {
        adjust_date: '',
        point_type: 'point_in',
        point_amount: '',
        description: '',
        customer_id: this.$route.params.id,
      }
    },

    onStatusCancle() {
      this.changeStatus = this.tempStatus
    },

    async onStatusChanged() {
      if (this.changeStatus == 'deactive') {
        const confirm = await this.$bvModal.msgBoxConfirm(
          'หากคุณลบ Customer นี้แล้ว จะไม่สามารถใช้งาน Application ได้อีก',
          {
            title: 'SBITO Mobile Application',
            okVariant: 'danger',
            okTitle: 'Yes',
            cancelTitle: 'Cancel',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true,
          }
        )
        if (!confirm) {
          return (this.changeStatus = this.tempStatus)
        }
      }
      const id = this.$route.params.id
      this.$axios
        .$post('api/customer/cms/update_status', {
          id,
          status: this.changeStatus,
        })
        .then((res) => {
          if (res.response_code == 200) {
            this.tempStatus = this.changeStatus
            this.$bvModal.msgBoxOk('บันทึกข้อมูลสำเร็จ').catch((err) => {})
            this.fetchDetail()
          } else {
            this.changeStatus = this.tempStatus
            this.$bvModal.msgBoxOk('บันทึกข้อมูลไม่สำเร็จ').catch((err) => {})
          }
        })
    },
    ...mapActions('customer', [
      'fetchCustomerDetail',
      'fetchCustomerPointHistory',
    ]),
    ...mapActions('point', ['adjustPoint']),

    async fetchDetail() {
      const id = this.$route.params.id
      const { result } = await this.fetchCustomerDetail({ id })
      this.customer = result
      this.changeStatus = result.status
      this.tempStatus = result.status
    },

    onSubmit() {
      this.fetchPointHistory(1)
    },

    async fetchPointHistory(page) {
      this.loading = true
      const id = this.$route.params.id
      const _form = { id, page, ...this.form, perpage: this.perpage }
      const { result } = await this.fetchCustomerPointHistory(_form)
      this.pointHistory.lists = result.lists.map((o) => ({
        ...o,
        createBy: o.created_by.username || '-',
      }))
      this.pointHistory.pagination = result.pagination
      this.loading = false
    },
  },
}
</script>

<style lang="scss" scoped>
.error-text {
  position: relative;
  font-size: 12px;
}
</style>
