<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Customer
    hr
    b-form(@submit.prevent="onSubmit")
      b-row.mb-2
        b-col.mb-3(xl=3)
          label Keyword
          b-input(
            v-model="form.keyword"
            placeholder="Search"
            )
        b-col.mb-3(xl=3)
          label Status
          b-form-select(
            v-model="form.status"
            :options="statusOptions"
            )
        b-col.mb-3.align-self-end(xl=3)
          b-button(
            type="submit"
            variant="secondary"
            )
            fa(:icon="['fas', 'search']").mr-2
            | Search
    hr
    b-row.mb-2
      b-col.mb-3(xl=3)
        b-button(variant="primary" block @click="exportCustomer")
          fa(:icon="['fal', 'share-square']").mr-2
          | Export Data
      b-col.mb-3.ml-auto(xl='auto')
        per-page(
          v-model="form.perpage"
          )
    b-row
      b-col(xl=12)
        b-table(
          show-empty
          striped
          hover
          no-local-sorting
          :items="customerList"
          :fields="fields"
          :busy="loading"
          @sort-changed="sortingChanged"
          )
          template(v-slot:cell(view_detail)="{ item }")
            b-button(
              size="sm"
              variant="primary"
              :to="{ name: 'cms-customer-manage-id', params: { id: item.id } }"
              )
              fa(:icon="['fas', 'eye']")
          template(v-slot:cell(notification)="{ item }")
            b-form-checkbox(
              v-model="item.is_block_noti"
              value="1"
              unchecked-value="0"
              @change="onNotiBlockChange(item.id, $event)"
              )
          template(v-slot:table-busy)
            b-row
              b-col(
                v-if="loading"
                xl=12
                )
                .d-flex.justify-content-center.align-items-center(
                  :style="{ 'min-height': '500px'}"
                  )
                  b-spinner(
                    variant="primary"
                    label="Loading..."
                    )
      b-col.my-3(xl=12)
        section-pagination(
          v-model="form.page"
          :total-item="pagination.total_items"
          :per-page="form.perpage"
          :list-length="customerList.length"
          )
</template>

<script>
import { mapActions } from 'vuex'
import startCase from 'lodash/startCase'

export default {
  layout: 'cms',
  data() {
    return {
      customerList: [],
      breadcrumb: [
        {
          text: 'Manage Customer',
          href: '#',
        },
        {
          text: 'Customer',
          href: '#',
          actve: true,
        },
      ],
      form: {
        keyword: this.$route.query.keyword || '',
        status: this.$route.query.status || '',
        page: parseInt(this.$route.query.page) || 1,
        perpage: parseInt(this.$route.query.perpage) || 10,
        sort: this.$route.query.sort || '',
      },
      statusOptions: [
        {
          value: '',
          text: 'All',
        },
        {
          value: 'active',
          text: 'Active',
        },
        {
          value: 'restrict',
          text: 'Restrict',
        },
        {
          value: 'inactive',
          text: 'Inactive',
        },
        {
          value: 'deactive',
          text: 'Deactive',
        },
      ],
      fields: [
        {
          label: 'Customer Code',
          key: 'code',
          class: 'text-right',
        },
        {
          label: 'ชื่อ นามสกุล',
          key: 'full_name',
          sortable: true,
        },
        {
          label: 'Mobile No.',
          key: 'mobile_no',
        },
        {
          label: 'Email',
          key: 'email',
        },
        {
          label: 'Point Balance',
          key: 'total_point',
          class: 'text-right',
        },
        {
          label: 'Status',
          key: 'status',
          class: 'text-center',
          formatter: (value) => startCase(value),
        },
        {
          label: 'View Detail',
          key: 'view_detail',
          class: 'text-center',
        },
        {
          label: 'Block Noti.',
          key: 'notification',
          class: 'text-center',
        },
      ],
      pagination: {},
      loading: true,
    }
  },
  watch: {
    'form.perpage'() {
      this.form.page = 1
      this.fetchList()
    },
    'form.page'() {
      this.fetchList()
    },
  },

  mounted() {
    this.fetchList()
  },
  methods: {
    ...mapActions('customer', ['fetchCustomerList', 'updateNotiBlockStatus']),

    onNotiBlockChange(id, status) {
      const _form = {
        id,
        type: status == 1 ? 'block' : 'unblock',
      }
      this.updateNotiBlockStatus(_form).then((res) => {
        if (res.response_code == 200) {
          this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
        } else {
          this.$bvModal.msgBoxOk('บันทึกไม่สำเร็จ')
        }
      })
    },

    onSubmit() {
      this.fetchList()
    },

    fetchList() {
      this.loading = true
      const _form = Object.assign({}, this.form, {
        page: this.form.page,
        perpage: this.form.perpage,
      })
      /** set query */
      this.$router.replace({
        name: this.$route.name,
        query: _form,
      })

      this.fetchCustomerList(_form).then((res) => {
        this.customerList = res.result.lists
        this.pagination = res.result.pagination
        this.loading = false
      })
    },

    async exportCustomer() {
      const res = await this.$axios.get('api/customer/cms/export')
      if (res.status === 200) {
        let csvContent = 'data:text/csv;charset=utf-8,' + res.data
        const encodedUri = encodeURI(csvContent)
        const link = document.createElement('a')
        link.setAttribute('href', encodedUri)
        link.setAttribute(
          'download',
          `export-customer-${moment(new Date()).format('DD-MM-YYYY')}.csv`
        )
        document.body.appendChild(link)
        link.click()
      }
    },

    sortingChanged(ctx) {
      if (ctx.sortBy === 'full_name') {
        this.form.sort = ctx.sortDesc ? 'full_name_desc' : 'full_name_asc'
      } else {
        this.form.sort = ''
      }
      this.fetchList()
    },
  },
}
</script>

<style lang="scss" scoped>
table /deep/ td {
  vertical-align: middle;
}
</style>
