<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label.align-self-center=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 {{ `${type === 'create' ? 'Create' : 'Edit'} Reward` }}
    hr


    b-row
      b-col
        change-status(
          v-model="form.status"
        )
    //- client-only
    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Information / ข้อมูลของสิทธิพิเศษ
                  span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Reward Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Name"
                            )
                              input-clear(
                                v-model="form.title"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}

                        b-row
                          +labelForm('Reward Image')
                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUpload.selectFile()"
                            ) Upload
                        b-row.align-items-center.mb-4
                          b-col(offset=3)
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Image"
                            )
                              input-clear.d-none(
                                v-model="form.thumbnail_home_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
                              input-clear.d-none(v-model="form.thumbnail_file_id")

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUpload"
                              :endpoint="['reward_thumbnail', 'reward_thumbnail_home']"
                              :endpointImageSize="[{ w: 1340, h: 1340 }, { w: 544, h: 544 }]"
                              :defaultUrl="form.a_image_thumbnail ? form.a_image_thumbnail.url : ''"
                              @imageID="onGetUploadImageID"
                            )


                        b-row.align-items-center.mb-4
                          +labelForm('Reward Type')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Type"
                            )
                              b-form-select(
                                v-model="form.reward_type_id"
                                :state="!validated ? null : valid ? null : false"
                                :options="rewardOption"
                                )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.mb-4
                          +labelForm('Merchant/Brand Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Merchant/Brand Name"
                            )
                              input-clear(
                                v-model="form.brand_name"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.mb-4
                          +labelForm('Description')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Description"
                            )
                              editor(
                                v-model="form.description"
                                id="editorDescription"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.mb-4
                          +labelForm('Terms and Conditions')
                          b-col

                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Terms and Conditions"
                            )
                              editor(
                                v-model="form.term_condition"
                                id="editorTermCondition"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}




              b-card.mt-4(
                :class="{ disabled: type === 'edit' }"
              )
                template(v-slot:header)
                  h3.mb-2 Point & Limit
                  span ระบุคะแนนและการจำกัดสิทธิ์ของ Reward

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('คะแนนที่ใช้แลก')
                          b-col(xl=3)
                            //- input-clear
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required|positiveNumber"
                              name="Required Point"
                            )
                              input-clear(
                                v-model="form.point_redeem_condition"
                                type="number"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}



                b-container
                  b-row
                    b-col(xl=12)
                      b-form-group
                        b-card.mt-2(:class="{ disabled: type === 'edit' }")
                          b-row
                            b-col
                              b-form-radio(
                                v-model="form.redeem_type"
                                name="redeem_type"
                                value="unlimit"
                                :disabled="type === 'edit'"
                                ) ไม่จำกัดจำนวนสิทธิ์ (Genereate Code โดยระบบ)


                        b-card.mt-4(:class="{ disabled: type === 'edit' }")
                          b-row
                            b-col
                              b-form-radio(
                                v-model="form.redeem_type"
                                name="redeem_type"
                                value="limit"
                                :disabled="type === 'edit'"
                                ) จำกัดจำนวนสิทธิ์ (ไม่สามารถเปลี่ยนรูปแบบ Code ได้ หลังจากสร้างข้อมูลสำเร็จ)
                              //- span.error-text ไม่สามารถเปลี่ยนรูปแบบ Code ได้ หลังจากสร้างข้อมูลสำเร็จ

                              b-collapse(:visible="form.redeem_type === 'limit'")
                                .my-4.ml-4
                                  b-row
                                    b-col

                                  b-row.mb-2
                                    b-col(xl=4)
                                      b-form-radio(
                                        v-model="form.code_type"
                                        name="code_type"
                                        value="auto_generate"
                                        :disabled="type === 'edit'"
                                        ) Genereate Code โดยระบบ

                                    b-col.mb-4
                                      validation-provider(
                                        v-slot="{ errors, valid, validated }"
                                        :rules="{ required: form.code_type ==='auto_generate' && form.redeem_type === 'limit', positiveNumber: true }"
                                        name="Genereate Code โดยระบบ"
                                      )
                                        input-clear(
                                          v-model="form.total_redeem_amount"
                                          type="number"
                                          placeholder="จำนวนสิทธิ์ตลอดแคมเปญ"
                                          :disabled="type === 'edit' || form.code_type !== 'auto_generate'"
                                          :state="!validated ? null : valid ? null : false"
                                        )
                                        span.error-text(v-if="errors[0]")  {{ errors[0] }}
                                  b-row
                                    b-col(xl=4)
                                      b-form-radio(
                                        v-model="form.code_type"
                                        name="code_type"
                                        value="specific_code"
                                        :disabled="type === 'edit'"
                                        ) Upload Redeem Code

                                    b-col(xl="5")
                                      div.mb-2
                                        b-button(
                                          variant="secondary"
                                          :disabled="type === 'edit'"
                                          @click="$refs.csvFile.click()"
                                        )
                                          fa.mr-2(:icon="['fas', 'upload']")
                                          | Upload
                                        input.d-none(
                                          ref="csvFile"
                                          type="file"
                                          accept=".csv"
                                          @change="readCSVFile"
                                        )
                                      span Only CSV file / เฉพาะไฟล์ CSV
                                      div
                                        a(:href="`${baseURL}/template/code.csv`") ( download template )

                                    b-col
                                      h2 {{ totalCode || form.code_amount }}
                                      span Redeem Code Amount



                        hr.mt-4
                        b-row.px-3
                          b-col(xl="5")
                            b-form-checkbox.mr-2(
                              v-model="limitPerMemberCode"
                              :disabled="type === 'edit'"
                            ) Limit per Member / สิทธิ์ต่อหนึ่งสมาชิก
                            span.color-error.ml-1 *

                          b-col.mt-2(
                            xl=7
                            )
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              :rules="{ required: limitPerMemberCode && type !== 'edit', positiveNumber: type !== 'edit' }"
                              name="Limit per Member / สิทธิ์ต่อหนึ่งสมาชิก"
                            )
                              input-clear(
                                v-model="form.limit_per_user"
                                type="number"
                                :disabled="!limitPerMemberCode || type === 'edit'"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-0 ระยะเวลาแลกรางวัล

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Start Date')
                          b-col(xl=4)
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              :rules="{ required: true}"
                              name="Start Date"
                            )
                              a-date-picker(
                                v-model="form.redeem_start_date"
                                :disabled-date="disabledStartDate"
                                value-format="YYYY-MM-DD"
                                format="D MMM YYYY"
                                placeholder="กรุณาเลือก"
                                )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.align-items-center.mb-4
                          +labelForm('End Date')
                          b-col(xl=4)
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              :rules="{ required: true }"
                              name="End Date"
                            )
                              a-date-picker(
                                v-model="form.redeem_end_date"
                                :disabled-date="disabledEndDate"
                                value-format="YYYY-MM-DD"
                                format="D MMM YYYY"
                                placeholder="กรุณาเลือก"
                                )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                @click="$router.push({ name: 'cms-reward-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก
        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ChangeStatus from '~/components/cms/global/ChangeStatus'
import Editor from '~/components/cms/input/RichTextEditor'
// import vueDatePick from '~/components/cms/input/vueDatePick'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'

import * as Papa from 'papaparse'

export default {
  layout: 'cms',

  name: 'RewardCreatePage',

  components: {
    ChangeStatus,
    Editor,
    // vueDatePick,
    ImageUpload,
    InputClear,
    AlertModal,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Reward',
          href: '#',
        },
        {
          text: 'Reward',
          to: { name: 'cms-reward-manage' },
        },
        {
          text: this.type === 'create' ? 'Create' : 'Edit',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        title: '',
        brand_name: '',
        description: '',
        term_condition: '',
        point_redeem_condition: '',
        reward_type_id: '',
        thumbnail_file_id: '',
        thumbnail_home_file_id: '',
        redeem_type: 'unlimit',
        total_redeem_amount: '',
        limit_per_user: '',
        code_type: 'auto_generate',
        code_file_id: '',
        redeem_start_date: '',
        redeem_end_date: '',
        status: 'active',
      },
      errorModal: false,
      errorText: '',
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),

    baseURL() {
      return process.env.BASE_URL
    },
  },

  watch: {
    'form.redeem_type'(type) {
      if (type === 'unlimit') this.form.code_type = 'auto_generate'
    },

    'form.code_type'(type) {
      this.form.total_redeem_amount = ''
    },

    limitPerMemberCode() {
      if (this.type !== 'edit') {
        this.form.limit_per_user = ''
      }
    },
  },

  async mounted() {
    await this.fetchRewardType()
    if (this.type === 'edit') {
      const res = await this.fetchReward({
        id: this.$route.query.id,
      })
      // this.form = { ...this.form, ...res.result }
      this.form = Object.assign(this.form, res.result)
      this.limitPerMemberCode = parseInt(this.form.total_redeem_amount) > 0
    }
  },

  methods: {
    ...mapActions('reward', [
      'fetchRewardType',
      'createReward',
      'updateReward',
      'fetchReward',
    ]),
    ...mapActions('file', ['upload']),

    disabledStartDate(startValue) {
      const endValue = this.form.redeem_end_date
      if (!startValue || !endValue) {
        return false
      }
      return moment(startValue).valueOf() > moment(endValue).valueOf()
    },

    disabledEndDate(endValue) {
      const startValue = this.form.redeem_start_date
      if (!endValue || !startValue) {
        return false
      }
      return moment(startValue).valueOf() >= moment(endValue).valueOf()
    },

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      if (this.type === 'create') {
        const res = await this.createReward(this.form)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk(
            'สร้าง Reward สำเร็จ ระบบจะแสดงข้อมูลบน Application ได้ภายใน 5 นาที หากเข้าเงื่อนไขการแสดงผล'
          )
          this.$router.push({ name: 'cms-reward-manage' })
        }
      } else {
        const {
          title,
          brand_name,
          description,
          term_condition,
          point_redeem_condition,
          reward_type_id,
          thumbnail_file_id,
          thumbnail_home_file_id,
          redeem_type,
          total_redeem_amount,
          limit_per_user,
          code_type,
          code_file_id,
          redeem_start_date,
          redeem_end_date,
          status,
          id,
        } = this.form
        const editForm = {
          id,
          title,
          brand_name,
          description,
          term_condition,
          point_redeem_condition,
          reward_type_id,
          thumbnail_file_id,
          thumbnail_home_file_id,
          redeem_type,
          total_redeem_amount,
          limit_per_user,
          code_type,
          code_file_id,
          redeem_start_date,
          redeem_end_date,
          status,
        }
        const res = await this.updateReward(editForm)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-reward-manage' })
        }
      }

      // if (registerResult.response_code === 3112) {
      //   this.errorModal = true
      //   this.errorText = registerResult.response_msg
      // } else {
      //   this.successModal = true
      // }
    },

    async readCSVFile(e) {
      let file = e.srcElement.files[0]
      if (file) {
        this.form.code_file = file
        Papa.parse(file, {
          complete: (res) => {
            const row = res.data.filter((o) => o[0] && !o[0].match(/code/gi))
              .length
            this.totalCode = row
          },
        })
      }
      // upload
      let FileSize = e.srcElement.files[0].size / 1024 / 1024 // in MB
      if (FileSize > 2) {
        this.$bvModal.msgBoxOk('File size exceeds 2 MB')
        e.target.value = ''
        return
      }

      const resUpload = await this.upload({
        data: {
          file: file,
          endpoint: 'reward_code_file',
        },
      })
      if (resUpload.response_code === 200) {
        this.form.code_file_id = resUpload.result.id

        // check code validate
        const resCheck = await this.$axios.post(
          'api/reward/cms/validate_code_file',
          {
            code_file_id: resUpload.result.id,
          }
        )
        if (resCheck.data.response_code !== 200) {
          this.$bvModal.msgBoxOk(resCheck.data.response_msg)
          this.form.code_file_id = ''
        }
      }

      e.target.value = ''
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.thumbnail_file_id = findEndpoint(ids, 'reward_thumbnail')
      this.form.thumbnail_home_file_id = findEndpoint(
        ids,
        'reward_thumbnail_home'
      )
    },
  },
}
</script>
