<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Rewards

      b-col.text-right(xl=5)
        b-button.mr-3(
          size="lg"
          :to="{ name: 'cms-reward-manage-sort' }"
        )
          fa(:icon="['fal', 'sort-amount-up-alt']").mr-2
          | จัดเรียงข้อมูล

        b-button(
          size="lg"
          variant="primary"
          :to="{ name: 'cms-reward-manage-create'}"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Reward
    b-row.mb-2
      b-col.mb-3(xl=3)
        label Reward Name
        b-input-group
          b-input-group-prepend
            span(class="input-group-text")
              fa(:icon="['fas', 'search']")
          b-form-input(
            v-model="search.reward_name"
            )
      b-col.mb-3(xl=3)
        label Reward Type
        b-form-select(
          v-model="search.reward_type_id"
          :options="[{ value: '', text: 'All' }, ...rewardOption]"
        )
      b-col.mb-3(xl=3)
        label Brand Name
        b-input-group
          b-input-group-prepend
            span(class="input-group-text")
              fa(:icon="['fas', 'search']")
          b-form-input(
            v-model="search.brand_name"
            )
      b-col.mb-3(xl=3)
        label การแสดงผลบน Application
        b-form-select(
          v-model="search.display_status"
          :options="optionsStatus"
        )


    b-row
      b-col.mb-3(xl=12)
        per-page(
          v-model="perpage"
        )
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        reward-item.mb-3(
          v-for="(item, index) in list"
          :key="item.id"
          :title="item.title"
          :img-src="item.a_image_thumbnail.url"
          :brand-name="item.brand_name"
          :category="item.reward_type_name"
          :used-redeem="item.current_redeem_amount"
          :total-redeem="item.total_redeem_amount"
          :status="item.display_status === 'show' ? 'active' : 'inactive'"
          :id="item.id"
          :start-date="item.redeem_start_date"
          :end-date="item.redeem_end_date"
          :is-removable="item.is_removable"
          :last-updated="item.datetime_updated"
          :updated-by="item.updated_by.username"
          :reward-type-id="item.reward_type_id"
          @updateList="fetchList"
        )

      b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
         )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'cms',

  name: 'ManageRewardPage',

  components: { RewardItem },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Reward',
          href: '#',
        },
        {
          text: 'Reward',
          href: '#',
          actve: true,
        },
      ],

      optionsStatus: [
        { value: 'all', text: 'All' },
        { value: 'show', text: 'Show' },
        { value: 'hide', text: 'Hide' },
      ],

      search: {
        reward_type_id: this.$route.query.reward_type_id || '',
        display_status: this.$route.query.display_status || 'all',
        sort: this.$route.query.sort || 'sort_asc',
        reward_name: this.$route.query.reward_name || '',
        brand_name: this.$route.query.brand_name || '',
      },

      pagination: {},
      page: parseInt(this.$route.query.page) || 1,
      perpage: parseInt(this.$route.query.perpage) || 10,
      loading: true,
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.page = 1
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
    this.fetchRewardType()
  },

  methods: {
    ...mapActions('reward', ['fetchRewardList', 'fetchRewardType']),

    async fetchList() {
      this.loading = true
      const _form = {
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      }
      /** set query */
      this.$router.replace({
        name: this.$route.name,
        query: _form,
      })
      const res = await this.fetchRewardList(_form)
      // console.log(res)
      this.pagination = res.result.pagination
      this.list = res.result.lists
      this.loading = false
    },
  },
}
</script>
