<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.my-4
      b-col
        h2 {{ detail.title }}

    b-row
      b-col
        b-card
          h2 Summary
          b-row
            b-col(md=3 offset-md=2 offset=0)
              p: b ระยะเวลาการแลกรางวัล:
            b-col
              p {{ summary.redeem_start_date | dateFormat }} - {{ summary.redeem_end_date | dateFormat }}
          b-row
            b-col(md=3 offset=2)
              p: b จำนวน Redeem Code ทั้งหมด:
            b-col
              p {{ summary.total_code_amount }}
          b-row
            b-col(md=3 offset=2)
              p: b จำนวน Redeem Code ที่ถูกใช้:
            b-col
              p {{ summary.total_redeem_amount }}
          b-row
            b-col(md=3 offset=2)
              p: b จำนวน Redeem Code คงเหลือ:
            b-col
              p {{ summary.current_code_available }}


    b-form(@submit.prevent="onSubmit")
      b-row.mt-4.mb-2
        b-col.mb-3(xl=3)
          label Start Date
          a-date-picker(
            v-model="start_date"
            value-format="YYYY-MM-DD"
            format="D MMM YYYY"
            placeholder="Start Date"
            :allow-clear="false"
            inputReadOnly
            )

        b-col.mb-3(xl=3)
          label End Date
          a-date-picker(
            v-model="end_date"
            value-format="YYYY-MM-DD"
            format="D MMM YYYY"
            placeholder="Start Date"
            :allow-clear="false"
            inputReadOnly
            )


        b-col.mb-3.align-self-end(xl=3)
          b-button(
            type="submit"
            variant="secondary"
            )
            fa(:icon="['fas', 'search']").mr-2
            | Search
      hr
      b-row

        b-col.mb-3(xl=3)
          b-button(
            block
            variant="primary"
            @click="exportFile"
            )
            fa(:icon="['fal', 'share-square']").mr-2
            | Export Transaction

        b-col.mb-3(xl=12)
          per-page(
            v-model="perpage"
            )
        b-col(xl=12)
          b-table(
            show-empty
            striped
            hover
            :items="list"
            :fields="fields"
            :busy="loading"
            )
            template(v-slot:table-busy)
              b-row
                b-col(xl=12)
                  .d-flex.justify-content-center.align-items-center(
                    :style="{ 'min-height': '500px'}"
                    )
                    b-spinner(
                      variant="primary"
                      label="Loading..."
                      )


      b-col.mt-3.mb-4(xl=12)
        .d-flex.align-items-center.justify-content-between
          p {{ ((page-1) * perpage) + 1 }} - {{ ((page-1) * perpage) + list.length }} of {{ pagination.total_items }} Results
          b-pagination(
            v-if="pagination.total_items > 0"
            v-model="page"
            :hide-goto-end-buttons="true"
            :total-rows="pagination.total_items"
            :per-page="perpage"
          )
</template>

<script>
import { mapActions } from 'vuex'

export default {
  layout: 'cms',

  name: 'ReportRewardPage',

  data() {
    return {
      list: [],
      summary: {},
      detail: {},
      breadcrumb: [
        {
          text: 'Manage Reward',
          href: '#',
        },
        {
          text: 'Reward',
          to: { name: 'cms-reward-manage' },
        },
        {
          text: 'Reward Report',
          href: '#',
          actve: true,
        },
      ],

      fields: [
        {
          label: 'T.ID',
          key: 'id',
          class: 'text-center',
          formatter: (value) => value.toString().padStart(6, '0'),
        },
        {
          label: 'Customer Code',
          key: 'customer_code',
          class: 'text-center',
        },
        {
          label: 'Redeem Date',
          key: 'redeem_date',
          formatter: (value) =>
            moment(value).isValid && moment(value).format('DD MMM YYYY'),
        },
        {
          label: 'RedeemTime',
          key: 'redeem_time',
        },
        {
          label: 'Redeem Code',
          key: 'redeem_code',
          class: 'text-center',
        },
      ],

      start_date: '',
      end_date: '',

      pagination: {},

      page: 1,
      perpage: 10,
      loading: true,
    }
  },

  watch: {
    page() {
      this.fetchList()
    },
  },

  mounted() {
    this.fetchDetail()
    // this.fetchList()
  },

  methods: {
    ...mapActions('reward', ['fetchSummary', 'fetchReward']),
    async fetchList() {
      this.loading = true
      const res = await this.fetchSummary({
        id: this.$route.query.id,
        start_date: this.start_date,
        end_date: this.end_date,
        page: this.page,
        perpage: this.perpage,
      })
      this.pagination = res.result.pagination
      this.list = res.result.lists
      this.summary = res.result.today_summary
      this.loading = false
    },

    onSubmit() {
      this.page = 1
      this.fetchList()
    },

    async fetchDetail() {
      const res = await this.fetchReward({
        id: this.$route.query.id,
      })
      this.detail = res.result
      this.start_date = res.result.redeem_start_date
      this.end_date = res.result.redeem_end_date
      this.fetchList()
    },

    async exportFile() {
      const res = await this.$axios.get('api/reward/cms/export_summary', {
        params: {
          id: this.$route.query.id,
          start_date: this.start_date,
          end_date: this.end_date,
        },
      })
      if (res.status === 200) {
        let csvContent = 'data:text/csv;charset=utf-8,' + res.data
        const encodedUri = encodeURI(csvContent)
        const link = document.createElement('a')
        link.setAttribute('href', encodedUri)
        link.setAttribute(
          'download',
          `reward-transaction-${this.start_date}--${this.end_date}.csv`
        )
        document.body.appendChild(link)
        link.click()
      }
    },
  },
}
</script>
