<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Rewards

      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          @click="submitSort"
          )
          fa(:icon="['fal', 'save']").mr-2
          | บันทึกการจัดเรียงข้อมูล

    b-row
      b-col(xl=12)
        draggable(
          v-model="list"
          @choose="isMoving = true"
          @unchoose="isMoving = false"
          )
          reward-item.mb-3(
            v-for="(item, index) in list"
            type="sort"
            sort=true
            :key="item.id"
            :title="item.title"
            :img-src="item.a_image_thumbnail.url"
            :brand-name="item.brand_name"
            :category="item.reward_type_name"
            :used-redeem="item.current_redeem_amount"
            :total-redeem="item.total_redeem_amount"
            :status="item.display_status === 'show' ? 'active' : 'inactive'"
            :id="item.id"
            :start-date="item.redeem_start_date"
            :end-date="item.redeem_end_date"
            :last-updated="item.datetime_updated"
            :updated-by="item.updated_by.username"
            :reward-type-id="item.reward_type_id"
            )

        AlertModal(
          v-model="alertModalShow"
          :title="alertTitle"
        )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions } from 'vuex'
import AlertModal from '~/components/cms/modal/AlertModal'

export default {
  layout: 'cms',

  name: 'SortRewardPage',

  components: { RewardItem, AlertModal },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Reward',
          href: '#',
        },
        {
          text: 'Reward',
          to: { name: 'cms-reward-manage' },
        },
        {
          text: 'จัดเรียงข้อมูล',
          href: '#',
          actve: true,
        },
      ],

      search: {
        reward_type_id: '',
        display_status: 'all',
        sort: 'sort_asc',
        reward_name: '',
        brand_name: '',
      },

      pagination: {},
      page: 1,
      perpage: 1000,

      alertModalShow: false,
      alertTitle: '',
    }
  },

  watch: {
    page() {
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('reward', ['fetchRewardList', 'sortRewardList']),
    async fetchList() {
      const res = await this.fetchRewardList({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
        // display_status: 'show',
      })
      this.pagination = res.result.pagination
      this.list = res.result.lists
    },

    async submitSort() {
      const res = await this.sortRewardList({
        reward_ids: this.list.map((o) => o.id),
      })
      // console.log(res)
      if (res.response_code === 200) {
        // this.alertModalShow = true
        // this.alertTitle = 'บันทึกการจัดเรียงสำเร็จ'
        this.$bvModal.msgBoxOk('บันทึกการจัดเรียงสำเร็จ')
      } else {
        this.$bvModal.msgBoxOk(res.response_msg)
      }
    },
  },
}
</script>
