<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Promote Pop Up
      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          :disabled="!!form.datetime_created"
          @click="$refs.imgUpload.selectFile()"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Popup
    hr.my-3
    b-row
      b-col(sm=12 align="right")
        p File type : .png .jpg .jpeg
    b-row
      b-col(sm=12 align="right")
        label.error-text.position-relative Recommended image size: 1340 x 1784 px, file size less than 1 MB.

    b-row
      b-col.mb-2
        b-input.d-none(
          v-model="form.image_file_id"
        )
        b-input.d-none(v-model="form.thumbnail_image_file_id")

      b-col(xl=9 offset=3)
        ImageUpload(
          ref="imgUpload"
          isImagePopup=true
          :createDate="form.datetime_created"
          :updatedDate="form.datetime_updated"
          :updatedBy="form.updated_by ? form.updated_by.username : ''"
          :endpoint="['popup']"
          :show-text="false"
          :endpointImageSize="[{ w: 1340, h: 1784 }]"
          :defaultUrl="form.a_image_file ? form.a_image_file.url : ''"
          :file-limit="1"
          @imageID="onGetUploadImageID"
          @delete="updateDelete()"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'

export default {
  layout: 'cms',

  name: 'PromotePopupPage',

  components: { ImageUpload, InputClear },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Promote Pop Up',
          href: '#',
          actve: true,
        },
      ],
      form: {},
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchPopupDetail', 'updatePopup', 'deletePopup']),
    async fetchList() {
      this.loading = true
      const res = await this.fetchPopupDetail()
      this.form = res.result
    },

    async onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.image_file_id = findEndpoint(ids, 'popup')
      const res = await this.updatePopup(this.form)
      if (res.response_code === 200) {
        await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
      }
      await this.fetchList()
    },

    updateDelete() {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ? ', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          if (value) {
            const res = await this.deletePopup()
            if (res.response_code === 200) {
              await this.fetchList()
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
