.card {
  border: none;
  border-radius: 8px;
  box-shadow: rgba(5, 33, 71, 0.1) 0px 2px 24px 0px;
  color: rgb(79, 79, 79);

  .question {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  .card-header {
    line-height: 1.5;

    * {
      margin-bottom: 0;
    }
  }
}
