@font-face {
  font-family: 'Noto Sans';
  // src: url('/fonts/ENG/NotoSans.eot');
  // src: url('/fonts/ENG/NotoSans.eot?#iefix')
  //     format('embedded-opentype'),
  src: url('/fonts/ENG/NotoSans.woff2') format('woff2'),
    url('/fonts/ENG/NotoSans.woff') format('woff'),
    url('/fonts/ENG/NotoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/subset-NotoSansThai-Bold.eot');
  src: url('/fonts/subset-NotoSansThai-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/subset-NotoSansThai-Bold.woff2') format('woff2'),
    url('/fonts/subset-NotoSansThai-Bold.woff') format('woff'),
    url('/fonts/subset-NotoSansThai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00–U+0E7F;
}

@font-face {
  font-family: 'Noto Sans';
  // src: url('/fonts/ENG/NotoSans-Bold.eot');
  // src: url('/fonts/ENG/NotoSans-Bold.eot?#iefix')
  src: url('/fonts/ENG/NotoSans-Bold.woff2') format('woff2'),
    url('/fonts/ENG/NotoSans-Bold.woff') format('woff'),
    url('/fonts/ENG/NotoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/subset-NotoSansThai-Regular.eot');
  src: url('/fonts/subset-NotoSansThai-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/subset-NotoSansThai-Regular.woff2') format('woff2'),
    url('/fonts/subset-NotoSansThai-Regular.woff') format('woff'),
    url('/fonts/subset-NotoSansThai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0E00–U+0E7F;
}
