.form-control,
.ant-input {
  border: 1px solid $color-grey;
  border-radius: 5px;

  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:invalid,
  &.is-invalid {
    background-image: none;

    &:focus {
      box-shadow: none;
      border: 1px solid $color-light-red;
    }
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $color-dodger-blue;
  }
}

.ant-calendar-picker {
  width: 100%;
}

.custom-switch {
  .custom-control-input:checked~.custom-control-label::before {
    top: 0.3125rem !important;
  }
}

.custom-control-label span {
  font-size: 1rem;
  font-weight: normal;
  padding-left: 8px;
}

/* custom select */
.custom-select {
  border: 1px solid $color-light-grey;
  border-radius: 20px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 26px;
  // color: $color-font;

  &:invalid,
  &.is-invalid {
    background-image: none;
  }

  &:focus {
    box-shadow: none;
    border: 1px solid $color-dodger-blue;
  }
}

.error-text {
  display: block;
  align-items: center;
  margin-top: 4px;
  // margin-left: 16px;
  color: $color-light-red;
  font-size: 0.875rem;
}

.page-item.disabled .page-link {
  font-size: 14px;
}


.cms-layout {
  .custom-checkbox {
    vertical-align: middle;
    display: inline-flex;
  }
}

.custom-radio,
.custom-checkbox {
  // vertical-align: middle;
  // display: inline-flex;

  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
  }

  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0a3e86;
    background-color: #fff;
  }

  .custom-control-label::after {
    position: absolute;
    top: 0px;
    left: -28px;
    display: block;
    width: 24px;
    height: 24px;
    content: "";
    background: no-repeat 50% / 50% 50%;
  }

  .custom-control-label {
    display: flex;
    align-items: center;
  }

  .custom-control-label::before {
    border: rgba(10, 62, 134, 0.6) solid 2px;
  }
}

.custom-radio {
  .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%230a3e86'/%3e%3c/svg%3e");
  }
}

.custom-checkbox {
  .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%230a3e86' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  }
}

.form-button-submit {
  button {
    min-width: 150px;

    &:first-child {
      margin-right: 8px;
    }
  }
}
