/* modal */
.modal-content {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  // border-radius: 20px;
}

.modal-body {
  padding-bottom: 2rem;

  .icon-top-modal {
    font-size: 48px;
    margin-bottom: 1rem;
  }
}

.modal-dialog {
  @media (max-width: $screen-sm) {
    margin: 0.5rem 1.25rem;
  }
}
