.nav {
  // justify-content: center;
  // align-items: center;
  border-bottom: none;

  a {
    font-size: 14px;
    color: $color-marine;
    text-decoration: none;
    @media (max-width: $screen-sm) {
      font-size: 12px;
    }
  }

  .nav-link {
    border: none;
    padding: 11px 22px;
    // text-align: center;
    &:focus,
    &:active {
      outline: none;
    }
  }
}

.nav-item a {
  &:hover {
    border: none;
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  font-weight: bold;
  border-radius: 55px;
  padding: 11px 22px;
  box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
  color: white;
  background: linear-gradient(
    40deg,
    rgb(10, 62, 134) 0%,
    rgb(48, 53, 113) 25%,
    rgb(48, 53, 113) 70%,
    rgba(149, 28, 57, 1) 100%
  );
}
