$color-marine: #002140;
$color-twilight-blue: #0a3e86;
$color-dodger-blue: #4590f7;
$color-duck-egg-blue: #e3edfa;
$color-pale-grey: #f8fafd;
$color-yellow: #ffe203;

$color-bright-red: #fc121b;
$color-light-red: #ff4148;
$color-blush-pink: #fd8186;

$color-darkest-grey: #4f4f4f;
$color-dark-grey: #828282;
$color-grey: #bdbdbd;
$color-light-grey: #e0e0e0;
$color-lighter-grey: #f2f2f2;

// media query
$screen-xxl: 1499.98px;
$screen-xl: 1199.98px;
$screen-lg: 991.98px;
$screen-md: 767.98px;
$screen-sm: 575.98px;
$screen-xs: 319.98px;

$screen-ipad: 1024px;
