.webview {
  body {
    color: rgb(79, 79, 79);
  }

  p {
    font-size: 16px;
  }

  .custom-control-label span {
    padding-left: 0;
  }

  .custom-control-inline {
    margin-right: 24px;
  }
  .title-form {
    color: $color-marine;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .card-body {
    padding: 18px;
  }
  .wv-input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px rgb(189, 189, 189);
    border-radius: 0 !important;
    height: 30px;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: $color-twilight-blue;
    padding-left: 0;

    &:focus {
      border-color: $color-dodger-blue;
      box-shadow: none;
      outline: none;
    }
  }

  .wv-select {
    border-radius: 0;
    border: none;
    border-bottom: solid 1px rgb(189, 189, 189);
    // color: $color-twilight-blue;
    // color: rgb(189,189,189);
    padding-left: 0;
    height: 30px;
    line-height: 24px;
    font-size: 16px;


    &::placeholder {
      color: rgb(189, 189, 189);
    }
    &:not(:valid) {
      color: rgb(189, 189, 189);
    }
    &:focus,
    &:active {
      border: none;
      border-bottom: solid 1px $color-dodger-blue;
      box-shadow: none;
      outline: none;
    }

    background: #fff url('/img/webview/sort-desc.svg') no-repeat right 7px center/8px 10px;
    background-size: 16px 16px;
  }

  .wv-group {
    padding-top: 16px;

    label {
      margin-bottom: 3px;
      font-size: 14px;

      span {
        margin-left: 2px;
        color: $color-dodger-blue;
      }
    }
  }

  h5.title-section {
    font-size: 20px;
    color: $color-marine;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .custom-radio,
  .custom-checkbox {
    margin-top: 1rem;
  }

  .color-twilight-blue {
    color: $color-twilight-blue !important;
  }

  .custom-tab span{
    font-size: 14px;
  }

  .question-detail {
    p {
      margin-bottom: 0;
      line-height: 24px;
    }
  }
}
