@import '~/assets/scss/_import/_variables.scss';
@import '~/assets/scss/_import/_form.scss';
@import '~/assets/scss/_import/_modal.scss';
@import '~/assets/scss/_import/_tabs.scss';
@import '~/assets/scss/_import/_card.scss';
@import '~/assets/scss/_import/_webview.scss';

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

body {
  font-size: 14px;
}

a,
p,
b {
  font-size: 14px;
}

span {
  font-size: 12px;
}

body {
  color: $color-darkest-grey;
}

:focus {
  outline-color: transparent;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  font-weight: normal;

  a {
    font-size: 16px;
    color: #999a9a;
    font-weight: normal;
    text-decoration: none;

    &:hover:not(.active) {
      color: $color-dodger-blue;
    }
  }

  .active span {
    font-size: 16px;
    font-weight: normal;
    color: $color-dodger-blue;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    content: '>';
  }
}

.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  // color: $color-font;

  .card-header {
    background-color: rgba($color-dark-grey, 0.3);
    overflow: hidden;
    border: none;
    border-radius: 10px 10px 0 0;
  }

  &.disabled {
    background-color: $color-pale-grey;
  }
}

.error-text {
  position: absolute;
  margin-top: 2px;
  margin-left: 0;
  white-space: nowrap;
  // display: inline-block;
}

.custom-select {
  border-radius: 5px;
}

.page-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 16px;

  @media (max-width: $screen-lg) {
    margin: auto;
  }
}

table {
  td {
    // text-align: center;
    vertical-align: middle;
  }
}

.custom-checkbox {
  margin-top: auto;
}

.btn {
  padding: 8px 16px;

  font-size: 14px;
  line-height: 14px;

  svg {
    font-size: 14px;
    line-height: 14px;
  }
}

label {
  // padding: 6px 0;
  margin-bottom: 0;
}

.custom-control-label span {
  font-size: 14px;
}

.cms-layout {
  // div[role=radiogroup] {
  //   display: flex;
  //   align-items: center;
  //   height: 100%;
  // }

  .custom-radio {
    display: flex;
  }
}
