<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 {{ `${type === 'create' ? 'Create' : 'Edit'} Campaign Reward` }}
    hr

    //- status
    b-row
      b-col
        change-status(
          v-model="form.status"
          sub-title="(ส่งผลต่อการ แสดง / ไม่แสดงบน Application)"
        )
    //- client-only
    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Select Reward
                  p เลือก Reward ที่ต้องการ (1 รายการ)

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Reward Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Name"
                            )
                              form-dropdown(
                                v-model="form.reward_id"
                                searchable
                                :options="options.reward"
                                @search="searchOptionsReward"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )

          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                @click="$router.push({ name: 'cms-home-campaign-reward-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ChangeStatus from '~/components/cms/global/ChangeStatus'
import Editor from '~/components/cms/input/RichTextEditor'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'
import FormDropdown from '~/components/cms/input/FormDropdown'
import Preview from '~/components/cms/page/home/banner/Preview'

export default {
  layout: 'cms',
  name: 'HomeCampaignRewardCreatePage',

  components: {
    ChangeStatus,
    Editor,
    ImageUpload,
    InputClear,
    AlertModal,
    FormDropdown,
    Preview,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Campaign Reward',
          to: { name: 'cms-home-campaign-reward-manage' },
        },
        {
          text: this.type === 'create' ? 'Create' : 'Edit',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        reward_id: '',
        status: 'active',
      },
      errorModal: false,
      errorText: '',

      options: {
        reward: [],
        promotion: [],
      },
      previewData: {},
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),

    baseURL() {
      return process.env.BASE_URL
    },
  },

  watch: {
    async 'form.reward_id'(id) {
      this.getContentID(id)
    },
  },

  async mounted() {
    if (this.type === 'edit') {
      const res = await this.fetchCampaignRewardDetail({
        id: this.$route.query.id,
      })
      this.form = {
        ...this.form,
        ...res.result,
        // status: res.result.status === 'show' ? 'active' : 'hide',
      }
    }
  },

  methods: {
    ...mapActions('reward', ['fetchReward', 'searchReward']),

    ...mapActions('home', [
      'createCampaignReward',
      'updateCampaignReward',
      'fetchCampaignRewardDetail',
    ]),

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      if (this.type === 'create') {
        const _form = {
          ...this.form,
          // status: this.form.status === 'active' ? 'show' : 'hide',
        }
        const res = await this.createCampaignReward(_form)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-campaign-reward-manage' })
        }
      } else {
        const { reward_id, status, id } = this.form
        const editForm = {
          reward_id,
          status,
          // status: status === 'active' ? 'show' : 'hide',
          id,
        }
        const res = await this.updateCampaignReward(editForm)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-campaign-reward-manage' })
        }
      }
    },

    async getContentID(id) {
      let res = null
      res = await this.fetchReward({ id })

      if (res?.response_code === 200) {
        const img =
          res?.result?.a_image_thumbnail?.url || res?.result?.a_thumb_file?.url
        const {
          title,
          description,
          start_date,
          redeem_start_date,
          end_date,
          redeem_end_date,
          status,
          id,
        } = res.result
        this.previewData = {
          img,
          title,
          description,
          startDate: redeem_start_date || start_date,
          endDate: redeem_end_date || end_date,
          status,
          content_id: id,
        }

        /** set opetion selected */
        this.options.reward = [
          {
            value: this.previewData.content_id,
            text: this.previewData.title,
          },
        ]
      }
    },

    async searchOptionsReward(q) {
      if (!q) return
      const res = await this.searchReward({
        reward_name: q,
        content: 'campaign_reward',
        sort: 'created_desc',
      })

      if (res?.response_code !== 200) return
      if (!Array.isArray(res.result.lists)) res.result.lists = []

      this.options.reward = res?.result?.lists?.map((o) => ({
        text: o.title,
        value: o.id,
      }))
    },
  },
}
</script>

<style lang="scss" scoped>
.card-type {
  cursor: pointer;
  background-color: $color-light-grey;
  text-align: center;
  background: #ffffff none no-repeat bottom right;
  padding: 1.25rem 1.5625rem;
  box-shadow: 0 2px 10px fade(#000000, 5%);
  border-radius: 0.625rem;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  min-height: 150px;

  &.disabled:not(.active) {
    color: $color-light-grey;
    background-color: $color-lighter-grey;
  }
  &.active {
    background-color: $color-twilight-blue;
    color: white;
  }

  &:hover:not(.disabled) {
    border-color: $color-marine;
    // color: $color-marine;
  }
}
</style>
