<template lang="pug">
  createPage(
    type="edit"
  )

</template>
<script>
import createPage from '~/pages/cms/home/campaign-reward/manage/create.vue'

export default {
  components: {
    createPage,
  },

  layout: 'cms',
}
</script>
