<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row
      b-col(xl=6)
        h1 Campaign Reward
      b-col.text-right(xl=6)
        b-button.mr-3(
          size="lg"
          :to="{ name: 'cms-home-campaign-reward-manage-sort' }"
        )
          fa(:icon="['fal', 'sort-amount-up-alt']").mr-2
          | จัดเรียงข้อมูล

        b-button(
          size="lg"
          variant="primary"
          :to="{ name: 'cms-home-campaign-reward-manage-create'}"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Campaign Reward
    hr

    b-row.mb-4
      b-col
        h2 Campaign Reward

    b-row

      b-col.mb-3(xl=12)
        per-page(
          v-model="search.perpage"
        )
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        reward-item.mb-3(
          v-for="(item, index) in list"
          :key="item.id"
          :img-src="item.a_reward_data.a_image_thumbnail ? item.a_reward_data.a_image_thumbnail.url: ''"
          :id="item.id"
          :category="item.content_type"
          @updateList="fetchList"
        )
          template(slot="detail")
            .group
              p: b Campaign Reward Name:
              p {{ item.reward_name }}

            .group
              p: b ระยะเวลาแลกรางวัล
              p {{ item.datetime_created | dateFormat }} - {{ item.datetime_created | dateFormat }}

            .group
              p: b การแสดงผลบน Application:
              p(:class="item.status === 'hide' ? 'is-hide' : 'is-show'") {{ item.status === 'hide' ? 'Hide' : 'Show' }}

            .group
              p: b Last Updated :
              p {{ item.updated_by.username }} ({{ item.datetime_updated | dateUpdatedFormat }})

          template(slot="action")
            .action-section.justify-content-end
              .d-flex
                b-button.mr-3(
                  @click="editDetail(item.id)"
                  variant="secondary"
                  ) Edit
                b-button(
                  @click="confirmDelete(item.id)"
                  variant="danger"
                  ) Delete

      b-col.my-3(xl=12)
        section-pagination(
          v-model="search.page"
          :total-item="pagination.total_items"
          :per-page="search.perpage"
          :list-length="list.length"
         )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'cms',

  name: 'ManageBannerPage',

  components: { RewardItem },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Campaign Reward',
          href: '#',
          actve: true,
        },
      ],

      optionsStatus: [
        { value: 'all', text: 'All' },
        { value: 'active', text: 'Show' },
        { value: 'inactive', text: 'Hide' },
      ],

      search: {
        sort: 'created_desc',
        page: parseInt(this.$route.query.page) || 1,
        perpage: parseInt(this.$route.query.perpage) || 10,
      },

      loading: true,

      pagination: {},
    }
  },

  watch: {
    'search.page'() {
      this.fetchList()
    },
    'search.perpage'() {
      this.search.page = 1
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchCampaignReward', 'deleteCampaignReward']),
    async fetchList() {
      this.loading = true

      const _form = {
        ...this.search,
      }
      /** set query */
      this.$router.replace({
        name: this.$route.name,
        query: _form,
      })
      const res = await this.fetchCampaignReward(_form)
      // console.log(res)
      this.list = res.result.lists
      this.pagination = res.result.pagination
      this.loading = false
    },
    editDetail(id) {
      this.$router.push({
        name: 'cms-home-campaign-reward-manage-edit',
        query: { id },
      })
    },
    confirmDelete(id) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ?', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          // this.boxTwo = value
          if (value) {
            const res = await this.deleteCampaignReward({ id })
            if (res.response_code === 200) {
              this.fetchList()
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
