<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row
      b-col(xl=7)
        h1 Campaign Reward

      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          @click="submitSort"
          )
          fa(:icon="['fal', 'save']").mr-2
          | บันทึกการจัดเรียงข้อมูล
    hr
    b-row.mb-4
      b-col
        h2 Campaign Reward

    b-row
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        draggable(
          v-model="list"
          @choose="isMoving = true"
          @unchoose="isMoving = false"
          )
          reward-item.mb-3(
            v-for="(item, index) in list"
            sort=true
            type="sort"
            :key="item.id"
            :img-src="item.a_reward_data.a_image_thumbnail.url"
            :id="item.id"
            :category="item.content_type"
            @updateList="fetchList"
          )
            template(slot="detail")
              .group
                p: b Campaign Reward Name:
                p {{ item.reward_name }}

              .group
                p: b ระยะเวลาแลกรางวัล
                p {{ item.datetime_created | dateFormat }} - {{ item.datetime_created | dateFormat }}

              .group
                p: b การแสดงผลบน Application:
                p(:class="item.status === 'hide' ? 'is-hide' : 'is-show'") {{ item.status === 'hide' ? 'Hide' : 'Show' }}
              .group
                p: b Last Updated :
                p {{ item.updated_by.username }} ({{ item.datetime_updated | dateUpdatedFormat }})
            template(slot="action")
              div

        AlertModal(
          v-model="alertModalShow"
          :title="alertTitle"
        )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions } from 'vuex'
import AlertModal from '~/components/cms/modal/AlertModal'

export default {
  layout: 'cms',

  name: 'SortBannerPage',

  components: { RewardItem, AlertModal },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Campaign Reward',
          to: { name: 'cms-home-campaign-reward-manage' },
        },
        {
          text: 'จัดเรียงข้อมูล',
          href: '#',
          actve: true,
        },
      ],

      search: {
        reward_type_id: '',
        status: 'all',
        sort: 'sort_asc',
        reward_name: '',
        brand_name: '',
      },

      pagination: {},
      page: 1,
      perpage: 0,

      alertModalShow: false,
      alertTitle: '',
      loading: true,
    }
  },

  watch: {
    page() {
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchCampaignReward', 'sortCampaignReward']),

    async fetchList() {
      this.loading = true
      const res = await this.fetchCampaignReward({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      })
      // this.pagination = res.result.pagination
      this.list = res.result.lists
      this.loading = false
    },

    async submitSort() {
      console.log('this.list', this.list)
      const res = await this.sortCampaignReward({
        campaign_reward_ids: this.list.map((o) => o.id),
      })
      // console.log(res)
      if (res.response_code === 200) {
        // this.alertModalShow = true
        // this.alertTitle = 'บันทึกการจัดเรียงสำเร็จ'
        this.$bvModal.msgBoxOk('บันทึกการจัดเรียงสำเร็จ')
      } else {
        this.$bvModal.msgBoxOk(res.response_msg)
      }
    },
  },
}
</script>
