<template lang="pug">
  b-container
    client-only
      b-tabs.custom-tab(
        v-model="tabIndex"
        content-class="mt-3"
        align="center"
        )
        b-tab
          template(v-slot:title)
            .text-center
              fa(:icon="['fas', 'file-user']")
              span.d-block แบบฟอร์มแสดงตน

          p โปรดตอบคำถามต่อไปนี้ และหากตอบว่า “มี” โปรดระบุ รายละเอียด

          validation-observer(
            ref="observeForm"
            v-slot="{ invalid }"
            )
            form
              b-card.mb-3(
                v-for="(item, key) in questions.identification"
                :key="key"
                )
                .question(v-html="item.question")

                validation-provider(
                  :name="item.question"
                  rules="required"
                  v-slot="{ errors }"
                  )
                  b-form-radio-group(
                    v-model="item.anwser"
                    :options="Object.values(item.choices)"
                    )

                b-collapse(:visible="item.anwser === 'a2'")
                  .wv-group(v-for="(field, name) in item.choices.a2.fields" :key="name")
                    label {{ field.name }}
                      span.req *
                    validation-provider(
                      v-if="item.anwser === 'a2'"
                      :name="field.name"
                      :rules="{ required: item.anwser === 'a2' }"
                      v-slot="{ errors }"
                      )

                      input.wv-input(
                        v-if="field.input_type === 'text'"
                        v-model="field.answer"
                        )

                      b-form-select.wv-select(
                        v-else-if="field.input_type === 'dropdown'"
                        v-model="field.answer"
                        :options="[{ text: 'All', value: 'all' }]"
                        :style="{ color: field.answer == null ? 'rgb(189,189,189)' : '#0a3e86' }" 
                      )
                        template(v-slot:first)
                          b-form-select-option(
                            value='null'
                            selected
                            disabled
                            hidden
                          ) {{ `เลือก${field.name}` }}

                .note.pt-3(
                  v-if="item.remark"
                  v-html="item.remark"
                  )





              vw-button.btn-block(
                text="ถัดไป"
                :disabled="invalid"
                @click="submitIdentification"
              )



        b-tab
          template(v-slot:title)
            .text-center
              fa(:icon="['fas', 'file-alt']")
              span.d-block แบบฟอร์ม FATCA

          template(v-if="fatca === 1 && questions.fatca[0]")
            .title-form {{ questions.fatca[0].title }}
            validation-observer(
              ref="observeForm1"
              v-slot="{ invalid }"
              )
              form
                b-card.mb-3(
                  v-for="(item, index) in questions.fatca[0].questions"
                  :key="index"
                  )
                  .question
                    | {{ item.question }}
                    br
                    .mt-3.mb-2 {{ item.subTitle }}
                  .question-detail
                    p(v-html="item.detail")
                  validation-provider(
                    :name="item.question"
                    rules="required"
                    v-slot="{ errors }"
                    )
                    b-form-radio-group(
                      v-model="item.anwser"
                      :options="Object.values(item.choices)"
                    )
                vw-button.btn-block(
                  text="ถัดไป"
                  :disabled="invalid"
                  @click="submitFATCA(1)"
                )

          template(v-else-if="fatca === 2 && questions.fatca[1]")
            .title-form {{ questions.fatca[1].title }}
            validation-observer(
              ref="observeForm2"
              v-slot="{ invalid }"
              )
              form
                b-card.card-custom.mb-3
                  .question-detail
                    p.mb-2(v-html="questions.fatca[1].content")

                validation-provider(
                  :name="questions.fatca[1].content"
                  :rules="{ required: { allowFalse: false } }"
                  v-slot="{ errors }"
                  )
                  b-checkbox.checbox-accept.mx-3(
                    v-model="questions.fatca[1].accept"
                  ) ข้าพเจ้าได้อ่านข้อความอย่างละเอียด<br>ถี่ถ้วน และขอยืนยันด้วยความสมัครใจ
                vw-button.btn-block(
                  text="ถัดไป"
                  :disabled="invalid"
                  @click="submitFATCA(2)"
                )

          template(v-else-if="fatca === 3 && questions.fatca[2]")
            .title-form {{ questions.fatca[2].title }}
            validation-observer(
              ref="observeForm3"
              v-slot="{ invalid }"
              )
              form
                b-card.card-custom.mb-3
                  .question-detail
                    p.mb-2(v-html="questions.fatca[2].content")
                
                validation-provider(
                  :name="questions.fatca[2].content"
                  :rules="{ required: { allowFalse: false } }"
                  v-slot="{ errors }"
                  )
                  b-checkbox.checbox-accept.mx-3(
                    v-model="questions.fatca[2].accept"
                  ) ข้าพเจ้าได้อ่านข้อความอย่างละเอียด<br>ถี่ถ้วน และขอยืนยันด้วยความสมัครใจ

                vw-button.btn-block(
                  text="ถัดไป"
                  :disabled="invalid"
                  @click="submitFATCA(3)"
                )

</template>

<script>
import Button from '~/components/webview/Button'

export default {
  auth: false,

  layout: 'webview',

  components: {
    vwButton: Button,
  },

  data() {
    return {
      test: null,
      select: '',

      tabIndex: 0,

      questions: {
        identification: [],
        fatca: [],
      },

      fatca: 1,
    }
  },

  created() {
    this.$axios.setHeader('Authorization', this.$route.query.token)
  },

  async mounted() {
    const resQuestIdent = await this.$axios.get(
      'api/register/form/identification'
    )
    if (resQuestIdent.data.response_code === 200) {
      this.questions.identification = resQuestIdent.data.result.questions

      Object.keys(this.questions.identification).forEach((key) => {
        this.$set(
          this.questions.identification[key],
          'anwser',
          Object.keys(this.questions.identification[key].choices).reduce(
            (acc, k) => {
              this.questions.identification[key].choices[k].value = k
              return (
                acc ||
                (this.questions.identification[key].choices[k].selected
                  ? k
                  : '')
              )
            },
            ''
          )
        )
      })
    }

    await this.fetchFATCA(this.fatca)
  },

  methods: {
    async submitIdentification() {
      const getAnswer = (obj) =>
        Object.keys(obj).reduce(
          (acc, cur) => ({ ...acc, [cur]: { answer: obj[cur].answer } }),
          {}
        )

      const form = Object.keys(this.questions.identification).reduce(
        (acc, key) => {
          return {
            ...acc,
            [key]: {
              choices:
                this.questions.identification[key].anwser === 'a2'
                  ? {
                      a2: {
                        selected: true,
                        fields: getAnswer(
                          this.questions.identification[key].choices.a2.fields
                        ),
                      },
                    }
                  : {
                      a1: {
                        selected: true,
                      },
                    },
            },
          }
        },
        {}
      )

      const res = await this.$axios.post(
        'api/register/form/identification/update',
        {
          answer: form,
        }
      )

      if (res.data.response_code !== 200) {
        alert(res.data)
      }

      this.tabIndex = 1
      this.fatca = 1
      window.scrollTo(0, 0)
    },

    async fetchFATCA(section) {
      const resFatca = await this.$axios.get('api/register/form/fatca', {
        params: {
          section,
        },
      })
      if (resFatca.data.response_code === 200) {
        let fatca = {}
        if (section === 1) {
          fatca = Object.assign({}, resFatca.data.result)
          Object.keys(fatca.questions).map((key) => {
            fatca.questions[key].anwser = Object.keys(
              fatca.questions[key].choices
            ).reduce((acc, k) => {
              fatca.questions[key].choices[k].value = k
              return acc || (fatca.questions[key].choices[k].selected ? k : '')
            }, '')
          })
        } else {
          fatca = resFatca.data.result
        }

        // this.questions.fatca[section - 1] = fatca
        this.$set(this.questions.fatca, section - 1, fatca)
      }
    },

    async submitFATCA(section = 1) {
      if (section === 1) {
        const getAnswer = (obj) =>
          Object.keys(obj).reduce(
            (acc, cur) => ({ ...acc, [cur]: { answer: obj[cur].answer } }),
            {}
          )

        const form = Object.keys(this.questions.fatca[0].questions).reduce(
          (acc, key) => {
            return {
              ...acc,
              [key]: {
                choices:
                  this.questions.fatca[0].questions[key].anwser === 'a2'
                    ? {
                        a2: {
                          selected: true,
                        },
                      }
                    : {
                        a1: {
                          selected: true,
                        },
                      },
              },
            }
          },
          {}
        )

        const res = await this.$axios.post('api/register/form/fatca/update', {
          section: 1,
          answer: form,
        })

        if (res.data.response_code !== 200) {
          alert(res.data)
        }
      } else {
        const res = await this.$axios.post('api/register/form/fatca/update', {
          section: section,
          answer: {
            accept: this.questions.fatca[section - 1].accept,
          },
        })

        if (res.data.response_code !== 200) {
          alert(res.data)
          return
        } else if (section === 3 && res.data.response_code === 200) {
          alert({ response_code: 0, response_msg: 'back page' })
          return
        }
      }

      this.fatca = section + 1
      this.fetchFATCA(section + 1)
      window.scrollTo(0, 0)
    },
  },
}
</script>
<style lang="scss" scoped>
.custom-tab /deep/ .nav-tabs .nav-item {
  width: 50%;
}

.card-custom {
  height: 50vh;
  // max-height: 398px;
  overflow: auto;
}

.checbox-accept {
  font-size: 16px;
  color: $color-twilight-blue;
  font-weight: bold;
}
</style>
