<template lang="pug">

  b-container
    p กรุณาเลือกคำตอบตามความจริง เพื่อประสิทธิภาพ ในการแนะนำพอร์ตการลงทุน
    validation-observer(
      ref="observeForm"
      v-slot="{ invalid }"
      )
      form
        b-card.mb-3(v-for="(item, key) in questions" :key="key")
          .question {{ item.question }}

            b-img.my-3(
              v-if="key === 'q4'"
              src="/img/webview/risk-q-7.png"
              :style="{ 'max-width': '100%'}"
            )
            validation-provider(
              :name="item.question"
              rules="required"
              v-slot="{ errors }"
              )
              b-form-radio-group(
                v-if="item.type === 'radiobox'"
                v-model="item.anwser"
                stacked
                :options="item.choices"
                ).mt-3
              span {{ errors[0] }}
        vw-button.btn-block(
          fixed
          :disabled="invalid"
          text="ถัดไป"
          @click="onSubmit"
          )




</template>

<script>
import Button from '~/components/webview/Button'

export default {
  auth: false,

  layout: 'webview',

  components: {
    vwButton: Button,
  },

  data() {
    return {
      test: null,
      select: '',

      questions: [],
    }
  },

  created() {
    this.$axios.setHeader('Authorization', this.$route.query.token)
    this.fetchRisk()
  },

  methods: {
    async fetchRisk() {
      const res = await this.$axios.get('api/register/form/risk_assessment')
      if (res.data.response_code === 200) {
        this.questions = res.data.result.questions

        /**
         * set anwser
         */
        Object.keys(this.questions).forEach((key) => {
          this.questions[key].anwser = Object.keys(
            this.questions[key].choices
          ).reduce((acc, k) => {
            this.questions[key].choices[k].value = k
            return acc || (this.questions[key].choices[k].selected ? k : '')
          }, '')
        })
      }
    },
    async onSubmit() {
      let score = 0
      const formData = Object.keys(this.questions).reduce((acc, key) => {
        if (
          [
            'q1',
            'q2',
            'q3',
            'q4',
            'q5',
            'q6',
            'q7',
            'q8',
            'q9',
            'q10',
          ].includes(key)
        ) {
          switch (this.questions[key].anwser) {
            case 'a1':
              score += 1
              break
            case 'a2':
              score += 2
              break
            case 'a3':
              score += 3
              break
            case 'a4':
              score += 4
              break
            default:
              break
          }
        }
        return {
          ...acc,
          [key]: {
            choices: { [this.questions[key].anwser]: { selected: true } },
          },
        }
      }, {})

      const res = await this.$axios.post(
        'api/register/form/risk_assessment/update',
        { answer: formData }
      )
      // console.log(score)
      if (res.data.response_code === 200) {
        this.$router.push({
          name: 'webview-open-account-risk-score',
          query: { score },
        })
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.custom-tab /deep/ .nav-tabs .nav-item {
  width: 50%;
}
</style>
