<template lang="pug">
  b-container

    b-img.img-custom(
      :src="imgUrl"
      :style="{ 'max-width': '100%'}"
    )
    vw-button.btn-block(
      text="สำเร็จ"
      @click="backPage"
    )

</template>

<script>
import Button from '~/components/webview/Button'

export default {
  auth: false,

  layout: 'webview',

  components: {
    vwButton: Button,
  },

  computed: {
    imgUrl() {
      let img =
        this.$route.query.score < 15
          ? '/img/webview/risk-score/Blue.png'
          : this.$route.query.score < 21
          ? '/img/webview/risk-score/Green.png'
          : this.$route.query.score < 29
          ? '/img/webview/risk-score/Yellow.png'
          : this.$route.query.score < 36
          ? '/img/webview/risk-score/Orange.png'
          : '/img/webview/risk-score/Red.png'

      return img
    },
  },

  methods: {
    backPage() {
      alert({
        response_code: 0,
        response_msg: 'back page',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.img-custom {
  display: block;
  margin: auto;
  padding-top: 20px;
  // border-radius: 5px;
  // box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
</style>
