<template lang="pug">
  b-container
    template(v-if="section === 1")
      p โปรดตอบคำถามต่อไปนี้ และหากตอบว่า “มี” โปรดระบุ รายละเอียด
      validation-observer(
        ref="observeForm"
        v-slot="{ invalid }"
        )
        form
          h5.title-section {{ questions.section_1.title }}
          b-card.mb-3(
            v-for="(item, key) in questions.section_1.questions"
            :key="key"
            )
            .question {{ item.question }}

             validation-provider(
              :name="item.question"
              rules="required"
              v-slot="{ errors }"
              )
              b-form-radio-group(
                v-if="item.type === 'radiobox'"
                v-model="item.anwser"
                :options="item.choices"
                ).my-3
              span {{ errors[0] }}

          vw-button.btn-block(
            fixed
            text="ถัดไป"
            :disabled="invalid"
            @click="submitTFEX"
          )
    template(v-else-if="section === 2")

      .title-form {{ questions.section_2.title }}
      validation-observer(
        ref="observeForm"
        v-slot="{ invalid }"
        )
        form
          h5.title-section {{ questions.section_2.title }}
          b-card.mb-3(
            v-for="(item, key) in questions.section_2.questions"
            :key="key"
            )
            .question {{ item.question }}

            validation-provider(
              :name="item.question"
              rules="required"
              v-slot="{ errors }"
              )
              b-form-radio-group(
                v-if="item.type === 'radiobox'"
                v-model="item.anwser"
                :options="item.choices"
                ).my-3
              span {{ errors[0] }}

          vw-button.btn-block(
            fixed
            text="ถัดไป"
            :disabled="invalid"
            @click="submitTFEX(2)"
          )


</template>

<script>
import Button from '~/components/webview/Button'

export default {
  auth: false,

  layout: 'webview',

  components: {
    vwButton: Button,
  },

  data() {
    return {
      test: null,
      select: '',

      section: 1,
      questions: {
        section_1: {},
        section_2: {},
      },
    }
  },

  created() {
    this.$axios.setHeader('Authorization', this.$route.query.token)
    this.fetchTFEX()
  },

  methods: {
    async fetchTFEX() {
      ;[1, 2].forEach(async (i) => {
        const res = await this.$axios.get('api/register/form/tfex', {
          params: { section: i },
        })
        if (res.data.response_code === 200) {
          this.questions[`section_${i}`] = res.data.result

          Object.keys(this.questions[`section_${i}`].questions).map((q) => {
            /** set anwser */
            this.questions[`section_${i}`].questions[q].anwser = Object.keys(
              this.questions[`section_${i}`].questions[q].choices
            ).reduce((acc, c) => {
              /** set value for radio */
              this.questions[`section_${i}`].questions[q].choices[c].value = c
              return (
                acc ||
                (this.questions[`section_${i}`].questions[q].choices[c].selected
                  ? c
                  : '')
              )
            }, '')
          })
        }
      })
    },

    async submitTFEX(section = 1) {
      const formData = Object.keys(
        this.questions[`section_${section}`].questions
      ).reduce((acc, key) => {
        return {
          ...acc,
          [key]: {
            choices: {
              [this.questions[`section_${section}`].questions[key].anwser]: {
                selected: true,
              },
            },
          },
        }
      }, {})

      const res = await this.$axios.post('api/register/form/tfex/update', {
        answer: formData,
        section,
      })
      if (res.data.response_code !== 200) {
        alert(res.data)
      }
      if (section === 1) {
        this.section = 2
        window.scrollTo(0, 0)
      } else {
        if (res.data.response_code === 200) {
          alert({ response_code: 0, response_msg: 'back page' })
        }
      }
    },
  },
}
</script>
<style lang="scss" scoped>
.custom-tab /deep/ .nav-tabs .nav-item {
  width: 50%;
}
</style>
