<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 Force Update Application
    hr


    //- client-only
    div
      h2 Lastest Version
      b-container
        b-row.mt-4
          b-col(xl=10 offset-xl=2)
            b-row
              b-col(xl=3)
                p: b iOS
              b-col
                h2 {{ current.ios_version }}
            b-row
              b-col(xl=3)
                h3: b Android
              b-col
                h2 {{ current.android_version }}

      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Version & OS
                  span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('iOS')
                          b-col.mb-2

                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="iOS"
                            )
                              input-clear(
                                v-model="form.ios_version"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


                        b-row.align-items-center.mb-4
                          +labelForm('Android')
                          b-col.mb-2

                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Android"
                            )
                              input-clear(
                                v-model="form.android_version"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="reset"
              ) ยกเลิก
            
              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="isShowModal"
          :title="modalText"
          confirmText="ตกลง"
          :icon="['fas', modalIsError ? 'exclamation-circle' : 'check']"
          :iconClass="modalIsError ? ['color-error'] :  ['color-success']"
          :confirmFunction="() => isShowModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'

import * as Papa from 'papaparse'

export default {
  layout: 'cms',

  name: 'ForceUpdatePage',

  components: {
    InputClear,
    AlertModal,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Force Application',
          href: '#',
        },

        {
          text: 'Force Update',
          href: '#',
          active: true,
        },
      ],

      current: {},

      form: {
        ios_version: '',
        android_version: '',
      },

      isShowModal: false,
      modalText: '',
      modalIsError: false,
    }
  },

  mounted() {
    this.setVersion()
  },

  methods: {
    ...mapActions('force', ['fetchVersion', 'updateForceVersion']),

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return

      const res = await this.updateForceVersion(this.form)
      if (res.response_code === 200) {
        await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
      } else {
        this.modalIsError = true
        this.isShowModal = true
        this.modalText = res.response_msg
      }
      this.setVersion()
    },

    async setVersion() {
      const res = await this.fetchVersion()
      this.current = {
        ...res.result,
      }
    },
  },
}
</script>
