<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 Freeze Application
    hr


    //- client-only
    div
      //- h2 Lastest Version
      //- b-container
        b-row.mt-4
          b-col(xl=10 offset-xl=2)
            b-row
              b-col(xl=3)
                p: b iOS
              b-col
                h2 {{ current.ios_version }}
            b-row
              b-col(xl=3)
                h3: b Android
              b-col
                h2 {{ current.android_version }}

      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Freeze Application
                  span เลือก เปิด/ปิด Freeze Application

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('เปิด Freeze App')
                          b-col.mb-2

                            b-form-checkbox.switch-status(
                              switch 
                              size="lg"
                              :checked="form.type === 'freeze'"
                              @change="o => form.type = o ? 'freeze' : 'unfreeze'"
                              )



   


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="reset"
              ) ยกเลิก
            
              b-button(
                variant="primary"
                type="submit"
              ) บันทึก


</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'

import * as Papa from 'papaparse'

export default {
  layout: 'cms',

  name: 'FreezeApplicationPage',

  components: {
    InputClear,
    AlertModal,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Force Application',
          href: '#',
        },

        {
          text: 'Freeze Application',
          href: '#',
          active: true,
        },
      ],

      form: {
        type: 'unfreeze',
      },
    }
  },

  mounted() {
    this.setFreezeType()
  },

  methods: {
    ...mapActions('force', ['fetchFreezeType', 'updateFreezeApp']),

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return

      const res = await this.updateFreezeApp(this.form)
      if (res.response_code === 200) {
        await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
      } else {
        this.$bvModal.msgBoxOk(res.response_msg)
      }
      this.setFreezeType()
    },

    async setFreezeType() {
      const res = await this.fetchFreezeType()
      if (res.response_code === 200) {
        this.form.type = res.result.type
      }
    },
  },
}
</script>
