@import '../_import/_variables.scss';
@import '../_import/_fonts.scss';

$theme-colors: ('primary': $color-twilight-blue,
  'secondary': $color-light-grey,
  'danger': $color-bright-red,
  'success': $color-dodger-blue,
);

$grid-gutter-width: 40px;

@import 'node_modules/bootstrap/scss/bootstrap';
@import '~/assets/scss/cms_custom.scss';

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

.text-limit-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

.is-show {
  color: #01AD82;
}
.is-hide {
  color: #BDBDBD;
}
.is-fail {
  color: #ff4d35;
}

.is-pending {
  color: #4590f7;
}

.card-body {
  .promotion {
    color: #ff4d35;
  }

  .news {
    color: #4590f7;
  }

  .reward {
    color: #f5b100;
  }

  .information {
    color: #4590f7;
  }
}
