<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 {{ `${type === 'create' ? 'Create' : 'Edit'} Banner` }}
    hr
    b-row
      b-col(v-for="banner in bannerType" sm=4 :key="banner.value")
        b-card.card-type(
          :class="{ active: form.content_type === banner.value, disabled: type === 'edit' }"
          @click="type !== 'edit' ? form.content_type = banner.value : null"
        )
          div
            h2 Banner ประเภท
            h2.mb-0 {{ banner.name }}
    hr
    b-row
      b-col
        change-status(
          v-model="form.status"
          sub-title="(ส่งผลต่อการ แสดง / ไม่แสดงบน Application)"
        )
    //- client-only
    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Banner Image
                  //- span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Banner Image')

                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUpload.selectFile()"
                            ) Upload
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Image"
                            )
                              input-clear.d-none(
                                v-model="form.image_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
                              input-clear.d-none(v-model="form.thumbnail_image_file_id")

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUpload"
                              :endpoint="['banner_image']"
                              :endpointImageSize="[{ w: 1272, h: 504 }]"
                              :defaultUrl="form.a_image_file ? form.a_image_file.url : ''"
                              @imageID="onGetUploadImageID"
                            )


              b-card.mt-4(v-if="form.content_type === 'reward'")
                template(v-slot:header)
                  h3.mb-2 Select Reward
                  p เลือก Reward ที่ต้องการ (1 รายการ)

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Reward Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Name"
                            )

                              form-dropdown(
                                v-model="form.content_id"
                                searchable
                                :options="options.reward"
                                @search="searchOptionsReward"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )


              b-card.mt-4(v-if="form.content_type === 'promotion'")
                template(v-slot:header)
                  h3.mb-2 Select Promotion
                  p เลือก Promotion ที่ต้องการ (1 รายการ)

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Promotion')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Reward Name"
                            )

                              form-dropdown(
                                v-model="form.content_id"
                                searchable
                                :options="options.promotion"
                                @search="searchOptionsPromotion"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )

              b-card.mt-4(v-if="form.content_type === 'news'")
                template(v-slot:header)
                  h3.mb-2 Information

                b-container
                  b-row

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Name"
                            )
                              input-clear(
                                v-model="form.title"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Thumbnail')

                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUploadNews.selectFile()"
                            ) Upload
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Thumbnail Image"
                            )
                              input-clear.d-none(
                                v-model="form.thumbnail_image_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
                              input-clear.d-none(v-model="form.thumbnail_image_file_id")

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUploadNews"
                              :endpoint="['banner_thumbnail']"
                              :endpointImageSize="[{ w: 1340, h: 696 }]"
                              :defaultUrl="form.content ? form.a_thumb_file.url : ''"
                              @imageID="onGetUploadImageIDNews"
                            )

                        b-row.mb-4
                          +labelForm('Detail')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Detail"
                            )
                              editor(
                                v-model="form.detail"
                                id="editorDetail"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                @click="$router.push({ name: 'cms-home-banner-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ChangeStatus from '~/components/cms/global/ChangeStatus'
import Editor from '~/components/cms/input/RichTextEditor'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'
import FormDropdown from '~/components/cms/input/FormDropdown'
import Preview from '~/components/cms/page/home/banner/Preview'

export default {
  layout: 'cms',

  name: 'HomeBannerCreatePage',

  components: {
    ChangeStatus,
    Editor,
    ImageUpload,
    InputClear,
    AlertModal,
    FormDropdown,
    Preview,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Slide Banner',
          to: { name: 'cms-home-banner-manage' },
        },
        {
          text: this.type === 'create' ? 'Create' : 'Edit',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        image_file_id: '',
        content_type: this.type !== 'edit' ? 'reward' : '',
        content_id: '',
        title: '',
        thumbnail_image_file_id: '',
        detail: '',
        status: 'active',
      },
      errorModal: false,
      errorText: '',

      bannerType: [
        { name: 'Reward', value: 'reward' },
        { name: 'Promotion', value: 'promotion' },
        { name: 'News', value: 'news' },
      ],
      options: {
        reward: [],
        promotion: [],
      },
      previewData: {},
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),

    baseURL() {
      return process.env.BASE_URL
    },
  },

  watch: {
    'form.redeem_type'(type) {
      if (type === 'unlimit') this.form.code_type = 'auto_generate'
    },
    async 'form.content_id'(id) {
      this.getContentID(id)
    },
  },

  async mounted() {
    if (this.type === 'edit') {
      const res = await this.fetchBannerDetail({
        id: this.$route.query.id,
      })
      this.getContentID(this.$route.query.id)
      this.form = { ...this.form, ...res.result }
    }
  },

  methods: {
    ...mapActions('reward', ['fetchReward', 'searchReward']),

    ...mapActions('home', [
      'searchPromotion',
      'fetchPromotion',
      'createBanner',
      'updateBanner',
      'fetchBannerDetail',
    ]),

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      if (this.type === 'create') {
        const res = await this.createBanner(this.form)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-banner-manage' })
        }
      } else {
        const {
          image_file_id,
          content_type,
          content_id,
          title,
          thumbnail_image_file_id,
          detail,
          status,
          id,
        } = this.form
        const editForm = {
          id,
          image_file_id,
          content_type,
          content_id,
          title,
          thumbnail_image_file_id,
          detail,
          status,
        }
        const res = await this.updateBanner(editForm)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-banner-manage' })
        }
      }

      // if (registerResult.response_code === 3112) {
      //   this.errorModal = true
      //   this.errorText = registerResult.response_msg
      // } else {
      //   this.successModal = true
      // }
    },

    async getContentID(id) {
      let res = null
      if (this.form.content_type === 'reward') {
        res = await this.fetchReward({
          id,
        })
      } else if (this.form.content_type === 'promotion') {
        res = await this.fetchPromotion({
          id,
        })
      }
      if (res?.response_code === 200) {
        const img =
          res?.result?.a_image_thumbnail?.url || res?.result?.a_thumb_file?.url
        const {
          title,
          description,
          start_date,
          redeem_start_date,
          end_date,
          redeem_end_date,
          status,
          id,
        } = res.result
        this.previewData = {
          img,
          title,
          description,
          startDate: redeem_start_date || start_date,
          endDate: redeem_end_date || end_date,
          status,
          content_id: id,
        }
        /** set opetion selected */
        if (['reward', 'promotion'].includes(this.form.content_type)) {
          this.options[this.form.content_type] = [
            {
              value: this.previewData.content_id,
              text: this.previewData.title,
            },
          ]
        }
      }
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.image_file_id = findEndpoint(ids, 'banner_image')
    },

    onGetUploadImageIDNews(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.thumbnail_image_file_id = findEndpoint(ids, 'banner_thumbnail')
    },
    async searchOptionsReward(q) {
      if (!q) return
      const res = await this.searchReward({
        reward_name: q,
        content: 'campaign_reward',
        date: moment().format('YYYY-MM-DD'),
        sort: 'created_asc',
      })

      if (res?.response_code !== 200) return
      if (!Array.isArray(res.result.lists)) res.result.lists = []

      this.options.reward = res?.result?.lists?.map((o) => ({
        text: o.title,
        value: o.id,
      }))
    },

    async searchOptionsPromotion(q) {
      if (!q) return
      const res = await this.searchPromotion({
        keyword: q,
        status: 'active',
        // content: 'banner',
        content: 'notification',
        date: moment().format('YYYY-MM-DD'),
      })

      if (res?.response_code !== 200) return
      if (!Array.isArray(res.result)) res.result = []

      this.options.promotion = res?.result?.map((o) => ({
        text: o.title,
        value: o.id,
      }))
    },
  },
}
</script>

<style lang="scss" scoped>
.card-type {
  cursor: pointer;
  background-color: $color-light-grey;
  text-align: center;
  background: #ffffff none no-repeat bottom right;
  padding: 1.25rem 1.5625rem;
  box-shadow: 0 2px 10px fade(#000000, 5%);
  border-radius: 0.625rem;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  min-height: 150px;

  .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.disabled:not(.active) {
    color: $color-light-grey;
    background-color: $color-lighter-grey;
  }
  &.active {
    background-color: $color-twilight-blue;
    color: white;
  }

  &:hover:not(.disabled) {
    border-color: $color-marine;
    // color: $color-marine;
  }
}
</style>
