<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row
      b-col(xl=7)
        h1 Silde Banner
      b-col.text-right(xl=5)
        b-button.mr-3(
          size="lg"
          :to="{ name: 'cms-home-banner-manage-sort' }"
        )
          fa(:icon="['fal', 'sort-amount-up-alt']").mr-2
          | จัดเรียงข้อมูล

        b-button(
          size="lg"
          variant="primary"
          :to="{ name: 'cms-home-banner-manage-create'}"
          :disabled="list.length >= 9"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Banner
    hr

    b-row.mb-4
      b-col
        //- h2 Hightlight Banner
        p สร้างได้สูงสุด 9 รายการ

    b-row
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        reward-item.mb-3(
          v-for="(item, index) in list"
          :key="item.id"
          :img-src="item.a_image_file.url"
          :id="item.id"
          :category="item.content_type"
          @updateList="fetchList"
        )
          template(slot="detail")
            .group
              p: b Banner Name:
              p {{ item.title }}
            .group
              p: b Banner Type:
              p.text-capitalize {{ item.content_type }}
            .group
              p: b Create Date
              p {{ item.datetime_created | dateFormat }}
            .group
              p: b การแสดงผลบน Application:
              p(:class="item.display_status === 'hide' ? 'is-hide' : 'is-show'") {{ item.display_status === 'hide' ? 'Hide' : 'Show' }}
            .group
              p: b Last Updated :
              p {{ item.updated_by.username }} ({{ item.datetime_updated | dateUpdatedFormat }})

          template(slot="action")
            .action-section.justify-content-end
              .d-flex
                b-button.mr-3(
                  @click="editBanner(item.id)"
                  variant="secondary"
                  ) Edit
                b-button(
                  @click="confirmDelete(item.id)"
                  variant="danger"
                  ) Delete

      //- b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
         )

</template>

<script>
import RewardItem from '~/components/cms/page/reward/RewardItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'cms',

  name: 'ManageBannerPage',

  components: { RewardItem },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Silde Banner',
          href: '#',
        },
        {
          text: 'Banner',
          href: '#',
          actve: true,
        },
      ],

      optionsStatus: [
        { value: 'all', text: 'All' },
        { value: 'active', text: 'Show' },
        { value: 'inactive', text: 'Hide' },
      ],

      search: {
        reward_type_id: '',
        status: 'all',
        sort: 'created_desc',
        reward_name: '',
        brand_name: '',
      },

      loading: true,

      // pagination: {},
      // page: 1,
      // perpage: 10,
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchBannerList', 'deleteBanner']),
    async fetchList() {
      this.loading = true
      const res = await this.fetchBannerList({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      })
      // console.log(res)
      this.list = res.result
      this.loading = false
    },
    editBanner(id) {
      this.$router.push({
        name: 'cms-home-banner-manage-edit',
        query: { id },
      })
    },
    confirmDelete(id) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ?', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          // this.boxTwo = value
          if (value) {
            const res = await this.deleteBanner({ id })
            if (res.response_code === 200) {
              this.fetchList()
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
