<template lang="pug">
  .per-page
    p.mb-0.mr-3 Number of rows
    b-select(
      v-model="perPageValue"
      :options="perPageOptions"
    )
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 10,
    },
  },

  data() {
    return {
      perPageValue: this.value || 10,

      perPageOptions: [
        // { text: 1, value: 1 },
        { text: 10, value: 10 },
        { text: 25, value: 25 },
        { text: 50, value: 50 },
        { text: 100, value: 100 },
      ],
    }
  },

  watch: {
    perPageValue(newValue) {
      this.$emit('input', newValue)
    },
  },
}
</script>

<style lang="scss" scoped>
.per-page {
  display: flex;
  align-items: center;
  float: right;

  .custom-select {
    width: auto;
  }
}
</style>
