<template lang="pug">
  .d-flex.align-items-center.justify-content-between(v-if="totalItem > 0")
    p {{ ((pageValue-1) * perPage) + 1 }} - {{ ((pageValue-1) * perPage) + listLength }} of {{ totalItem }} Results
    b-pagination(
      v-if="totalItem > 0"
      v-model="pageValue"
      :hide-goto-end-buttons="true"
      :total-rows="totalItem"
      :per-page="perPage"
      @input="o => $emit('input', o)"
    )
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 1,
    },

    perPage: {
      type: Number,
      default: 10,
    },

    totalItem: {
      type: Number,
      default: 0,
    },

    listLength: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      pageValue: this.value || 1,
    }
  },

  watch: {
    pageValue(newValue) {
      this.$emit('update:page', newValue)
    },
  },
}
</script>
