<template lang="pug">
  b-card.card
    .change-status
      .status-detail
        h3.mb-0.mr-3 {{ title }}
        span {{ subTitle }}
      b-form-checkbox.switch-status(
        :checked="value === 'active'"
        switch size="lg"
        @change="o => $emit('input', o ? 'active' : 'inactive')"
        )


</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'ตั้งค่าสถานะเป็น Active ',
    },

    subTitle: {
      type: String,
      default: '(ส่งผลต่อการ แสดง / ไม่แสดง ในช่วงระยะเวลาการแลกรางวัล)',
    },

    value: {
      type: String,
      default: '',
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  background-color: rgba($color-dark-grey, 0.3);
  line-height: 1.5;

  .change-status {
    display: flex;
    justify-content: space-between;
    // line-height: 18px;

    .status-detail {
      display: flex;
      align-items: baseline;
    }

    .switch-status {
      margin-top: -6px;
    }
  }
}
</style>
