<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Reward Banner

      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          @click="$refs.imgUpload.selectFile()"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Upload New Banner
    hr.my-3
    b-row
      b-col(sm=12 align="right")
        p File type : .png .jpg .jpeg
    b-row
      b-col(sm=12 align="right")
        label.error-text.position-relative Recommended image size: 1005 x 288 px, file size less than 1 MB.

    b-row
      b-col.mb-2
        b-input.d-none(
          v-model="form.image_file_id"
        )
        //- b-input.d-none(v-model="form.thumbnail_image_file_id")

      b-col(xl=12 align-h="center")
        ImageUpload(
          ref="imgUpload"
          :createDate="form.datetime_created"
          :updatedDate="form.datetime_updated"
          :updatedBy="form.updated_by ? form.updated_by.username : ''"
          :endpoint="['reward_banner_image']"
          :show-text="false"
          :endpointImageSize="[{ w: 1005, h: 288 }]"
          :defaultUrl="form.a_image_file ? form.a_image_file.url : ''"
          img-center
          :file-limit="1"
          :size-image="70"
          @imageID="onGetUploadImageID"
        )



</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'

export default {
  layout: 'cms',

  name: 'RewardBannerPage',

  components: { ImageUpload, InputClear },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Reward Banner',
          href: '#',
          actve: true,
        },
      ],
      form: {},
    }
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchRewardBanner', 'updateRewardBanner']),

    async fetchList() {
      this.loading = true
      const res = await this.fetchRewardBanner()
      this.form = res.result
    },

    async onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.image_file_id = findEndpoint(ids, 'reward_banner_image')
      const res = await this.updateRewardBanner(this.form)
      if (res.response_code === 200) {
        await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
      }
      await this.fetchList()
    },
  },
}
</script>
