<template lang="pug">
.app
  .app.cms-layout
    cms-header

    b-container(fluid).px-0.app-container
      b-row(no-gutters)
        b-col(lg=3 xl=2).drawer-wrapper
          cms-sidebar

        b-col(lg=9 xl=10).content-wrapper
          nuxt

</template>

<script>
import cmsHeader from '~/components/cms/header'
import cmsSidebar from '~/components/cms/sidebar'
import { mapState } from 'vuex'

export default {
  components: {
    cmsHeader,
    cmsSidebar,
  },

  computed: {
    ...mapState({
      breadcrumbList: (state) => state.layout.breadcrumb,
    }),
  },
}
</script>

<style lang="scss" scoped>
.app-container {
  overflow-x: hidden;
}
.drawer-wrapper {
  // background-color: #424242;
}
.content-wrapper {
  background-color: #f7f8f9;
  min-height: calc(100vh - 82px);
}
</style>
