<template lang="pug">
  cmsPage(
    type="edit"
  )

</template>
<script>
import cmsPage from '~/pages/cms/customer/manage/index.vue'

export default {
  components: {
    cmsPage,
  },

  layout: 'cms',
}
</script>
