<template lang="pug">
</template>

<script>
import * as mobileDetect from 'mobile-detect'

export default {
  auth: false,

  mounted() {
    const md = new mobileDetect(navigator.userAgent)
    console.log(`os: ${md.os()}, phone: ${md.phone()}`)
    if (md.phone() === 'iPhone' || md.os() === 'iOS') {
      // ios
      window.location.href =
        'https://apps.apple.com/th/app/sbito-my-info/id1055285192'
    } else {
      if (md.phone() === 'Huawei') {
        // huawei HMS
        // window.location.href = ''
      } else {
        // androind GMS
        window.location.href =
          'https://play.google.com/store/apps/details?id=th.co.sbito.android.f2f'
      }
    }
  },
}
</script>
