<template lang="pug">
  .page-shared
    .container-page
      .header-section
        b-img(
          fluid
          width="1340"
          height="532"
          :src="img"
          :blank="!img"
          )
      .body-section
        .code-action
          .wrap-text
            p.d-none.d-md-block ชวนเพื่อนเปิดบัญชีออนไลน์กับ SBITO<br>ผ่านทางแอปพลิเคชัน<br>SBITO Thai Online
            p.d-sm-block.d-md-none ชวนเพื่อนเปิดบัญชีออนไลน์ ผ่านทางแอปพลิเคชัน SBITO Thai Online

            label เพียงคัดลอก Invitation Code และนำไปกรอกในแบบฟอร์มข้อมูลส่วนตัว
            p รหัสแนะนำจากเพื่อน

            .custom-btn(@click="copyCode")
              .d-flex.align-items-center.justify-content-center
                .text
                  p#code.mb-0(
                    ref="code"
                  ) {{ $route.query.code }}
                  label.mb-0 แตะเพื่อคัดลอก
                .icon
                  fa(:icon="['far', 'clone']")


        .ready-action
          p พร้อมแล้ว! <br>เริ่มเปิดบัญชีออนไลน์ได้เลย
          vw-button(
            block
            variant="primary"
            text="เปิดบัญชีกับ SBITO"
            :fixed="false"
            @click="openAccount"
            )

    .footer-section
      .wrap-footer
        .app-section
          .app-img
            b-img(src="/img/shared/app.png")
          .app-desc
            | ช่องทางการดาวน์โหลดแอปพลิเคชัน
            br
            | SBI Thai Online ได้แล้วที่...

        .store-section
          a.d-flex.justify-content-center(href="https://apps.apple.com/th/app/sbito-my-info/id1055285192" target="_blank")
            b-img.store(src="/img/shared/Badge_Apple.png" alt="Apple Store")
          a.d-flex.justify-content-center(href="https://play.google.com/store/apps/details?id=th.co.sbito.android.f2f" target="_blank")
            b-img.store.store-center(src="/img/shared/Badge_GG.png" alt="Google Play")
          b-img.store(src="/img/shared/Badge_Huawei.png" alt="App Gellery")

          .or-qr-code
            .or หรือ
            .scan เพียงแสกน QR Code
          b-img(style="max-height: 130px;" src="/img/shared/qrcode.svg" alt="QR Code")


</template>

<script>
import vwButton from '~/components/webview/Button'
export default {
  auth: false,

  components: {
    vwButton,
  },
  data() {
    return {
      img: '',
    }
  },

  mounted() {
    this.$axios.get('api/invite_friend/website/get_detail').then((res) => {
      if (res.data.response_code === 200) {
        this.img = res.data.result?.banner_image_file?.url
      }
    })
  },

  methods: {
    copyCode() {
      const copyText = this.$refs.code
      const range = document.createRange()
      window.getSelection().removeAllRanges()
      range.selectNode(copyText)
      window.getSelection().addRange(range)
      document.execCommand('copy')
      window.getSelection().removeAllRanges()
    },

    openAccount() {
      window.open('https://www.sbito.co.th/openaccount/')
    },
  },
}
</script>

<style lang="scss" scoped>
.page-shared {
  background-color: $color-pale-grey;

  .container-page {
    background-color: white;
    max-width: 990px;
    margin: auto;
    color: $color-marine;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
    border-radius: 0 0 5px 5px;

    @media (max-width: $screen-sm) {
      max-width: calc(100% - 40px);
    }

    .header-section img {
      width: 100%;
    }

    .code-action {
      text-align: center;
      padding: 30px 0px 44px;
      // background-color: rgba($color-duck-egg-blue, 0.6);
      // background-color: #f8fafd;
      background-color: rgba(227, 237, 250, 0.6);

      .wrap-text {
        margin: auto;
        max-width: 407px;

        @media (max-width: $screen-sm) {
          max-width: calc(100% - 60px);
        }
      }
      p {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      label {
        margin-bottom: 30px;
      }

      .custom-btn {
        position: relative;
        border-radius: 55px;
        padding: 11px 22px;
        box-shadow: rgba(21, 62, 112, 0.14) 0px 5px 20px 0px;
        // background-color: rgba(227, 237, 250, 0.6);
        background-color: #f8fafd;

        color: $color-dodger-blue;
        border: dashed 1px rgb(207, 225, 250);

        &:active:not(.disabled),
        &:focus:not(.disabled) {
          border: dashed 1px rgb(207, 225, 250);
          background-color: darken($color-duck-egg-blue, 5);
          box-shadow: rgba(5, 33, 71, 0.4) 0px 8px 24px 0px;
        }
        .icon {
          position: absolute;
          right: 14px;
          top: 50%;
          transform: translateY(-50%);
        }

        label {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

    .ready-action {
      padding: 37px 0 67px;
      margin: auto;
      max-width: 327px;
      text-align: center;

      @media (max-width: $screen-sm) {
        max-width: calc(100% - 60px);
      }
    }
  }

  .footer-section {
    margin-top: 108px;
    color: white;
    padding: 62px;
    background: linear-gradient(
      25deg,
      rgb(10, 62, 134) 0%,
      rgb(48, 53, 113) 25%,
      rgb(48, 53, 113) 70%,
      #951c39 100%
    );
    @media (max-width: $screen-sm) {
      padding: 62px 40px;
    }

    .wrap-footer {
      max-width: 852px;
      margin: auto;
    }

    .app-section {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $screen-md) {
        text-align: center;
        flex-direction: column;
      }
      .app-img img {
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.5) 1px 10px 26px 0px;
        @media (max-width: $screen-md) {
          max-width: 80px;
          border-radius: 20px;
          margin: 30px 0 30px;
        }
      }
      .app-desc {
        font-size: 20px;
        font-weight: bold;
        margin-left: 32px;

        @media (max-width: $screen-sm) {
          font-size: 16px;
          margin: 0;
        }
      }
    }

    .store-section {
      margin-top: 45px;
      display: flex;

      @media (max-width: $screen-md) {
        flex-direction: column;
      }

      img {
        align-self: center;
      }
      .store {
        max-width: 156px;
        &-center {
          margin: 0 19px;
        }
        @media (max-width: $screen-md) {
          margin-bottom: 15px;
        }
      }
      .or-qr-code {
        margin: auto;
        text-align: center;
        .or {
          font-weight: bold;
          @media (max-width: $screen-md) {
            font-weight: normal;
          }
        }
        @media (max-width: $screen-md) {
          margin: 20px 0 35px;
        }
      }
    }
  }
}
</style>
