<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 Edit Invite Friend
        span Last Updated :&nbsp;&nbsp;
          template(v-if="form.datetime_updated") {{ form.updated_by.username }} ({{ form.datetime_updated | dateUpdatedFormat }})
          template(v-else) -
    hr


    //- client-only
    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Title and Description / หัวข้อ และ คำอธิบาย
                  span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Title')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Title"
                            )
                              input-clear(
                                v-model="form.title"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}


                        b-row.mb-4
                          +labelForm('Description')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Description"
                            )
                              editor(
                                v-model="form.description"
                                id="editorDescription"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.mb-4
                          +labelForm('Term & Condition')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Term & Condition'"
                            )
                              editor(
                                v-model="form.term_condition"
                                id="editorTermCondition"
                                :state="!validated ? null : valid ? null : false"
                                )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Image / รูปภาพ
                  span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Image')
                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUpload.selectFile()"
                            ) Upload
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Image"
                            )
                              input-clear.d-none(
                                v-model="form.banner_image_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}
                              input-clear.d-none(v-model="form.banner_image_file_id")

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUpload"
                              :endpoint="['invite_friend_banner_image']"
                              :endpointImageSize="[{ w: 1340, h: 532 }]"
                              :defaultUrl="form.banner_image_file ? form.banner_image_file.url : ''"
                              @imageID="onGetUploadImageID"
                            )


              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 Share Message
                  span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.mb-4
                          +labelForm('Message')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Message"
                            )
                              b-form-textarea(
                                v-model="form.message"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                @click="$router.push({ name: 'cms-home-banner-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="isShowModal"
          :title="modalText"
          confirmText="ตกลง"
          :icon="['fas', modalIsError ? 'exclamation-circle' : 'check']"
          :iconClass="modalIsError ? ['color-error'] :  ['color-success']"
          :confirmFunction="() => isShowModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import Editor from '~/components/cms/input/RichTextEditor'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'

import * as Papa from 'papaparse'

export default {
  layout: 'cms',

  name: 'InviteFriendPage',

  components: {
    Editor,
    ImageUpload,
    InputClear,
    AlertModal,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },

        {
          text: 'Invite Friend',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        title: '',
        description: '',
        term_condition: '',
        message: '',
        banner_image_file_id: '',
        banner_image_file: {},
      },
      isShowModal: false,
      modalText: '',
      modalIsError: false,
    }
  },

  async mounted() {
    const res = await this.fetchInviteFriend()
    this.form = { ...this.form, ...res.result }
  },

  methods: {
    ...mapActions('home', ['fetchInviteFriend', 'updateInviteFriend']),

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return

      const {
        title,
        description,
        banner_image_file_id,
        message,
        term_condition,
      } = this.form
      const editForm = {
        title,
        description,
        term_condition: term_condition || '',
        banner_image_file_id,
        message,
      }

      const res = await this.updateInviteFriend(editForm)
      // this.modalIsError = res.response_code != 200
      // this.isShowModal = true
      // this.modalText = this.modalIsError ? res.response_msg : 'บันทึกสำเร็จ'
      if (res.response_code !== 200) {
        this.modalIsError = true
        this.isShowModal = true
        this.modalText = res.response_msg
      } else {
        await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
      }
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.banner_image_file_id = findEndpoint(
        ids,
        'invite_friend_banner_image'
      )
    },
  },
}
</script>
