<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4
      b-col(xl=8)
        h1 {{ `${type === 'create' ? 'Create' : 'Edit'} Promotion` }}
    hr


    b-row
      b-col
        change-status(
          v-model="form.status"
          sub-title="(ส่งผลต่อการ แสดง / ไม่แสดง ในช่วงระยะเวลา Promotion)"
        )
    //- client-only
    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="onSubmit")
          b-row
            b-col
              b-card.mt-4
                template(v-slot:header)
                  h3.mb-0 Title and Information / หัวข้อและคำอธิบาย
                  //- span กรุณากรอกข้อมูลต่อไปนี้ให้ครบถ้วน

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Promotion Name')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Promotion Name"
                            )
                              input-clear(
                                v-model="form.title"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]") {{ errors[0] }}

                        b-row.align-items-center.mb-4
                          +labelForm('Image')
                          b-col.mb-2
                            b-button(
                              variant="secondary"
                              @click="$refs.imgUpload.selectFile()"
                            ) Upload
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Image"
                            )
                              input-clear.d-none(
                                v-model="form.thumbnail_image_file_id"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                          b-col(xl=9 offset=3)
                            ImageUpload(
                              ref="imgUpload"
                              :endpoint="['promotion_thumbnail']"
                              :endpointImageSize="[{ w: 1272, h: 540 }]"
                              :defaultUrl="form.a_thumb_file ? form.a_thumb_file.url : ''"
                              @imageID="onGetUploadImageID"
                            )


                        b-row.mb-4
                          +labelForm('Detail')
                          b-col
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              rules="required"
                              name="Detail"
                            )
                              editor(
                                v-model="form.detail"
                                id="editorDetail"
                                :state="!validated ? null : valid ? null : false"
                              )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}





              b-card.mt-4
                template(v-slot:header)
                  h3.mb-2 ระยะเวลาของ Promotion
                  span รายละเอียดวันเริ่มต้น - วันสิ้นสุดของ Promotion

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Start Date')
                          b-col(xl=4)
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              :rules="{ required: true}"
                              name="Start Date"
                            )

                              a-date-picker(
                                v-model="form.start_date"
                                :disabled-date="disabledStartDate"
                                format="D MMM YYYY"
                                value-format="YYYY-MM-DD"
                                placeholder="Start Date"
                                )
                              span.error-text(v-if="errors[0]")  {{ errors[0] }}

                        b-row.align-items-center.mb-4
                          +labelForm('End Date')
                          b-col(xl=4)
                            validation-provider(
                              v-slot="{ errors, valid, validated }"
                              :rules="{ required: true, minDate: form.start_date }"
                              name="End Date"
                            )
                              a-date-picker(
                                v-model="form.end_date"
                                :disabled-date="disabledEndDate"
                                format="D MMM YYYY"
                                value-format="YYYY-MM-DD"
                                placeholder="End Date"
                                )

                              span.error-text(v-if="errors[0]")  {{ errors[0] }}


          hr
          b-row.mb-5.form-button-submit
            b-col.text-right
              b-button(
                type="button"
                    @click="$router.push({ name: 'cms-home-promotion-manage' })"
              ) ยกเลิก

              b-button(
                variant="primary"
                type="submit"
              ) บันทึก

        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import ChangeStatus from '~/components/cms/global/ChangeStatus'
import Editor from '~/components/cms/input/RichTextEditor'
import ImageUpload from '~/components/cms/input/ImageUpload'
import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'

export default {
  layout: 'cms',

  name: 'RewardCreatePage',

  components: {
    ChangeStatus,
    Editor,
    ImageUpload,
    InputClear,
    AlertModal,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Promotion',
          to: { name: 'cms-home-promotion-manage' },
        },
        {
          text: this.type === 'create' ? 'Create' : 'Edit',
          href: '#',
          active: true,
        },
      ],

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        title: '',
        thumbnail_image_file_id: '',
        detail: '',
        start_date: null,
        end_date: null,
        status: 'active',
      },
      errorModal: false,
      errorText: '',
    }
  },

  computed: {
    baseURL() {
      return process.env.BASE_URL
    },
  },

  async mounted() {
    if (this.type === 'edit') {
      const res = await this.fetchPromotion({
        id: this.$route.query.id,
      })
      // this.form = { ...this.form, ...res.result }
      this.form = Object.assign(this.form, res.result)
    }
  },

  methods: {
    ...mapActions('home', [
      'createPromotion',
      'updatePromotion',
      'fetchPromotion',
    ]),

    disabledStartDate(startValue) {
      const endValue = this.form.end_date
      if (!startValue || !endValue) {
        return false
      }
      return moment(startValue).valueOf() > moment(endValue).valueOf()
    },

    disabledEndDate(endValue) {
      const startValue = this.form.start_date
      if (!endValue || !startValue) {
        return false
      }
      return moment(startValue).valueOf() >= moment(endValue).valueOf()
    },

    async onSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      if (this.type === 'create') {
        const res = await this.createPromotion(this.form)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-promotion-manage' })
        }
      } else {
        const {
          title,
          detail,
          thumbnail_image_file_id,
          a_thumb_file,
          start_date,
          end_date,
          status,
          id,
        } = this.form
        const editForm = {
          id,
          title,
          detail,
          thumbnail_image_file_id,
          a_thumb_file,
          start_date,
          end_date,
          status,
          // display_status: 'show',
        }
        const res = await this.updatePromotion(editForm)
        if (res.response_code !== 200) {
          this.errorModal = true
          this.errorText = res.response_msg
        } else {
          await this.$bvModal.msgBoxOk('บันทึกสำเร็จ')
          this.$router.push({ name: 'cms-home-promotion-manage' })
        }
      }

      // if (registerResult.response_code === 3112) {
      //   this.errorModal = true
      //   this.errorText = registerResult.response_msg
      // } else {
      //   this.successModal = true
      // }
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.thumbnail_image_file_id = findEndpoint(
        ids,
        'promotion_thumbnail'
      )
    },
  },
}
</script>
