<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Promotion List

      b-col.text-right(xl=5)
        b-button.mr-3(
          size="lg"
          :to="{ name: 'cms-home-promotion-manage-sort'}"
        )
          fa(:icon="['fal', 'sort-amount-up-alt']").mr-2
          | จัดเรียงข้อมูล

        b-button(
          size="lg"
          variant="primary"
          :to="{ name: 'cms-home-promotion-manage-create'}"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Create Promotion
    b-row.mb-2
      b-col.mb-3(xl=3)
        label Promotion Title
        b-input-group
          b-input-group-prepend
            span(class="input-group-text")
              fa(:icon="['fas', 'search']")
          b-form-input(
            v-model="search.keyword"
            )

      b-col.mb-3(xl=3)
        label การแสดงผลบน Application
        b-form-select(
          v-model="search.display_status"
          :options="optionsStatus"
        )
      b-col.mb-3.align-self-end(xl=3)
        b-button(
          variant="secondary"
          @click="submitSearch"
          )
          fa(:icon="['fas', 'search']").mr-2
          | Search


    b-row
      b-col.mb-3(xl=12)
        per-page(
          v-model="perpage"
        )
      b-col(
        v-if="loading"
        xl=12
        )
        .d-flex.justify-content-center.align-items-center(
          :style="{ 'min-height': '500px'}"
          )
          b-spinner(
            variant="primary"
            label="Loading..."
            )
      b-col(v-else xl=12)
        promotion-item.mb-3(
          v-for="(item, index) in list"
          :key="item.id"
          :title="item.title"
          :img-src="item.a_image_file.url"
          :status="item.display_status"
          :id="item.id"
          :start-date="item.start_date"
          :end-date="item.end_date"
          :last-updated="item.datetime_updated"
          :updated-by="item.updated_by.username"
          @updateList="fetchList"
        )

      b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
         )

</template>

<script>
import PromotionItem from '~/components/cms/page/home/promotion/PromotionItem'
import { mapActions, mapGetters } from 'vuex'

export default {
  layout: 'cms',

  name: 'ManagePromotionPage',

  components: { PromotionItem },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Promotion',
          href: '#',
          actve: true,
        },
      ],

      optionsStatus: [
        { value: 'all', text: 'All' },
        { value: 'show', text: 'Show' },
        { value: 'hide', text: 'Hide' },
      ],

      search: {
        display_status: this.$route.query.display_status || 'all',
        sort: this.$route.query.sort || 'created_desc',
        keyword: this.$route.query.keyword || '',
      },

      pagination: {},
      page: parseInt(this.$route.query.page) || 1,
      perpage: parseInt(this.$route.query.perpage) || 10,
      loading: true,
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.page = 1
      this.fetchList()
    },
    'search.display_status': {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchPromotionList']),

    submitSearch() {
      this.fetchList()
    },

    async fetchList() {
      this.loading = true
      const _form = {
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      }
      /** set query */
      this.$router.replace({
        name: this.$route.name,
        query: _form,
      })
      const res = await this.fetchPromotionList(_form)
      // console.log(res)
      this.pagination = res.result.pagination
      this.list = res.result.lists
      this.loading = false
    },
  },
}
</script>
