<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Promotion

      b-col.text-right(xl=5)
        b-button(
          size="lg"
          variant="primary"
          @click="submitSort"
          )
          fa(:icon="['fal', 'save']").mr-2
          | บันทึกการจัดเรียงข้อมูล

    b-row
      b-col(xl=12)
        draggable(
          v-model="list"
          @choose="isMoving = true"
          @unchoose="isMoving = false"
          )
          promotion-item.mb-3(
            v-for="(item, index) in list"
            type="sort"
            sort=true
            :key="item.id"
            :title="item.title"
            :img-src="item.a_image_file.url"
            :status="item.display_status"
            :id="item.id"
            :start-date="item.start_date"
            :end-date="item.end_date"
            :last-updated="item.datetime_updated"
            :updated-by="item.updated_by.username"
            )

        AlertModal(
          v-model="alertModalShow"
          :title="alertTitle"
        )

</template>

<script>
import PromotionItem from '~/components/cms/page/home/promotion/PromotionItem'
import { mapActions } from 'vuex'
import AlertModal from '~/components/cms/modal/AlertModal'

export default {
  layout: 'cms',

  name: 'SortPromotionPage',

  components: { PromotionItem, AlertModal },

  data() {
    return {
      list: [],
      breadcrumb: [
        {
          text: 'Manage Home Page',
          href: '#',
        },
        {
          text: 'Promotion',
          to: { name: 'cms-home-promotion-manage' },
        },
        {
          text: 'จัดเรียงข้อมูล',
          href: '#',
          actve: true,
        },
      ],

      search: {
        display_status: 'all',
        sort: 'sort_asc',
      },

      pagination: {},
      page: 1,
      perpage: 1000,

      alertModalShow: false,
      alertTitle: '',
    }
  },

  watch: {
    page() {
      this.fetchList()
    },
    search: {
      handler() {
        this.fetchList()
      },
      deep: true,
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('home', ['fetchPromotionList', 'sortPromotionList']),
    async fetchList() {
      const res = await this.fetchPromotionList({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      })
      this.pagination = res.result.pagination
      this.list = res.result.lists
    },

    async submitSort() {
      const res = await this.sortPromotionList({
        promotion_ids: this.list.map((o) => o.id),
      })
      // console.log(res)
      if (res.response_code === 200) {
        // this.alertModalShow = true
        // this.alertTitle = 'บันทึกการจัดเรียงสำเร็จ'
        this.$bvModal.msgBoxOk('บันทึกการจัดเรียงสำเร็จ')
      } else {
        this.$bvModal.msgBoxOk(res.response_msg)
      }
    },
  },
}
</script>
