<template lang="pug">
  b-card
    fa.icon-sort(
      v-if="type === 'sort' && sort"
      :icon="['fal', 'bars']"
    )

    b-row
      b-col.d-flex.justify-content-center.align-items-center(
        xl=3
        )
        .wrap-img(:class="{ 'sort': sort }")
          b-img-lazy.img(
            thumbnail
            :src="imgSrc"
            :alt="`Image of ${title}`"
            )
          .badge-img.text-capitalize(
            :class="category"
            :style="customBadge"
            ) {{ category }}
      b-col
        .content
          .detail-section
            slot(name="detail")
              .group
                p: b Name:
                p {{ title }}
              .group
                p: b Brand Name:
                p {{ brandName }}

              .group
                p: b ระยะเวลาแลกรางวัล:
                p {{ startDate | dateFormat }} - {{ endDate | dateFormat }}


              .group
                p: b การแสดงผลบน Application:
                p(:class="status === 'inactive' ? 'is-hide' : 'is-show'") {{ status === 'inactive' ? 'Hide' : 'Show' }}
              .group(
                v-if="type === 'normal'"
              )
                p: b Redeem Amount:
                p {{ usedRedeem }} / {{ totalRedeem || 'Unlimit' }}
              .group
                p: b Last Updated :
                p {{ updatedBy }} ({{ lastUpdated | dateUpdatedFormat }})

          slot(name="action")
            .action-section
              template(v-if="type === 'normal'")
                a(href="javascript: void(0)" @click="$router.push({ name: 'cms-reward-manage-report', query: { id: id }})")
                  fa.mr-2(:icon="['fas', 'eye' ]")
                  | Report

                .d-flex
                  b-button.mr-3(
                    @click="editReward"
                    variant="secondary"
                    ) Edit
                  b-button(
                    :disabled="!isRemovable"
                    @click="confirmDelete"
                    variant="danger"
                    ) Delete


</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'RewardItem',

  props: {
    type: {
      type: String,
      default: 'normal',
    },

    title: {
      type: String,
      default: '',
    },

    brandName: {
      type: String,
      default: '',
    },

    category: {
      type: String,
      default: '',
    },

    imgSrc: {
      type: String,
      default: '',
    },

    startDate: {
      type: String,
      default: '',
    },

    endDate: {
      type: String,
      default: '',
    },

    totalRedeem: {
      type: String,
      default: '',
    },

    usedRedeem: {
      type: String,
      default: '',
    },
    status: {
      type: String,
      default: 'active',
    },

    id: {
      type: [Number, String],
      default: 0,
    },

    sort: {
      type: Boolean,
      default: false,
    },

    isRemovable: {
      type: Boolean,
      defaltt: true,
    },

    lastUpdated: {
      type: String,
      default: '',
    },

    updatedBy: {
      type: String,
      default: '',
    },

    rewardTypeId: {
      type: String,
      default: '',
    },
  },

  computed: {
    customBadge() {
      let color = null
      switch (this.rewardTypeId) {
        case '1':
          color = '#FF4D35'
          break
        case '2':
          color = '#4590F7'
          break
        case '3':
          color = '#F5B100'
          break
        case '4':
          color = '#A85AE5'
          break
        case '5':
          color = '#FA8DBD'
          break
        default:
          color = null
          break
      }

      if (!color) return null

      return { 'background-color': color }
    },
  },

  methods: {
    ...mapActions('reward', ['deleteReward']),

    confirmDelete() {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ?', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          // this.boxTwo = value
          if (value) {
            const res = await this.deleteReward({ id: this.id })
            if (res.response_code === 200) {
              this.$emit('updateList')
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
    editReward() {
      this.$router.push({
        name: 'cms-reward-manage-edit',
        query: { id: this.id },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.wrap-img {
  display: inline-block;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  &.sort {
    margin-left: 40px;

    .img {
      width: 150px;
    }
  }

  .img {
    object-fit: contain;
    float: left;
    // width: 100%;
    // height: auto;
    max-height: 162px;

    @media (max-width: $screen-lg) {
      float: none;
      margin: 0 auto;
      width: 100%;
      max-height: unset;
    }
  }

  .badge-img {
    position: absolute;
    left: 5px;
    top: 0;
    color: white;
    padding: 0px 7px;
    border-radius: 5px;

    &.promotion {
      background-color: #ff4d35;
    }

    &.news {
      background-color: #4590f7;
    }

    &.reward {
      background-color: #f5b100;
    }

    &.information {
      background-color: #4590f7;
    }
  }
}
.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;

  @media (max-width: $screen-lg) {
    padding-left: 0;
    margin-top: 10px;
    flex-direction: column;
  }
  .detail-section {
    .group {
      display: flex;

      p:first-child {
        white-space: nowrap;
      }
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      * {
        margin-bottom: 0;
      }

      :first-child {
        // min-width: 150px;
        margin-right: 20px;
      }
    }
  }

  .action-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;

    @media (max-width: $screen-lg) {
      flex-direction: row;
    }
  }
}

.icon-sort {
  font-size: 24px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
</style>
