<template lang="pug">
  //- simplebar(data-simplebar-auto-hide="false").banners
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Rewards Transaction
    hr
    b-row.mb-2
      b-col.mb-3(xl=3)
        //- label Start Date
        label Start Date
        a-date-picker(
          v-model="search.start_date"
          :disabled-date="disabledStartDate"
          value-format="YYYY-MM-DD"
          format="D MMM YYYY"
          placeholder="Start Date"
          )

      b-col.mb-3(xl=3)
        label End Date
        a-date-picker(
          v-model="search.end_date"
          :disabled-date="disabledEndDate"
          value-format="YYYY-MM-DD"
          format="D MMM YYYY"
          placeholder="Start Date"
          )

      b-col.mb-3.align-self-end(xl=3)
        b-button(
          variant="secondary"
          @click="filterDate"
          )
          fa(:icon="['fas', 'search']").mr-2
          | Search
    hr
    b-row.mb-2

      b-col.mb-3(xl=3)
        b-button(
          block
          variant="primary"
          @click="exportFile"
          )
          fa(:icon="['fal', 'share-square']").mr-2
          | Export Transaction

      b-col.mb-3(xl=4 align-self="center")
        .text-danger กรุณาเลือกระยะเวลาไม่เกิน 1 ปี เพื่อ Export
      b-col.mb-3
        per-page(
          v-model="perpage"
        )

    b-row
      b-col(xl=12)

        b-table(
          striped
          hover
          fixed
          :items="list"
          :fields="fields"
          :busy="loading"
          )

          template(v-slot:table-colgroup="scope")
            col(
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field.width ? `${field.width}%` : 'auto' }"
              )

          template(v-slot:table-busy)
            b-row
              b-col(xl=12)
                .d-flex.justify-content-center.align-items-center(
                  :style="{ 'min-height': '500px'}"
                  )
                  b-spinner(
                    variant="primary"
                    label="Loading..."
                    )
      b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
         )
</template>

<script>
// import vueDatePick from '~/components/cms/input/vueDatePick'

import { mapActions } from 'vuex'

export default {
  layout: 'cms',

  name: 'TransactionRewardPage',

  // components: { vueDatePick },

  data() {
    return {
      list: [],

      fields: [
        {
          label: 'T.ID',
          key: 'id',
          formatter: (value) => this.$options.filters.TID(value),
          width: 10,
          class: 'text-right',
        },
        {
          label: 'Reward Name',
          key: 'reward_name',
          width: 30,
        },
        {
          label: 'Brand Name',
          key: 'reward_brand',
        },
        {
          label: 'Customer Code',
          key: 'customer_code',
          class: 'text-right',
        },
        {
          label: 'Redeem Date',
          key: 'redeem_date',
          formatter: (value) =>
            moment(value).isValid && moment(value).format('DD MMM YYYY'),
          class: 'text-center',
        },
        {
          label: 'Redeem Time',
          key: 'redeem_time',
          class: 'text-center',
        },
        {
          label: 'Redeem Code',
          key: 'redeem_code',
        },
      ],
      breadcrumb: [
        {
          text: 'Manage Reward',
          href: '#',
        },
        {
          text: 'Transaction',
          href: '#',
          actve: true,
        },
      ],

      search: {
        start_date: moment().subtract(1, 'y').format('YYYY-MM-DD'),
        end_date: moment().format('YYYY-MM-DD'),
      },

      pagination: {},

      page: 1,
      perpage: 10,
      loading: true,
    }
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.fetchList()
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('reward', ['exportTransaction', 'fetchTransactionList']),
    async fetchList() {
      this.loading = true
      const res = await this.fetchTransactionList({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      })
      // console.log(res)
      this.pagination = res.result.pagination
      this.list = res.result.lists
      this.loading = false
    },

    async exportFile() {
      const res = await this.exportTransaction(this.search)

      if (res.status === 200) {
        let csvContent = 'data:text/csv;charset=utf-8,' + res.data
        const encodedUri = encodeURI(csvContent)
        const link = document.createElement('a')
        link.setAttribute('href', encodedUri)
        link.setAttribute(
          'download',
          `export-reward-transaction-${this.search.start_date}--${this.search.end_date}.csv`
        )
        document.body.appendChild(link)
        link.click()
      }
    },

    disabledStartDate(startValue) {
      const endValue = this.search.end_date
      if (!startValue || !endValue) {
        return false
      }
      return (
        moment(startValue).valueOf() > moment(endValue).valueOf() ||
        moment(endValue).isSameOrAfter(moment(startValue).add(1, 'y'))
      )
    },

    disabledEndDate(endValue) {
      const startValue = this.search.start_date
      if (!endValue || !startValue) {
        return false
      }
      return (
        moment(startValue).valueOf() >= moment(endValue).valueOf() ||
        moment(endValue).isSameOrAfter(moment(startValue).add(1, 'y'))
      )
    },

    filterDate() {
      if (!this.search.start_date || !this.search.end_date) {
        this.$bvModal
          .msgBoxOk('กรุณาเลือกระยะเวลา')
          .then(() => {})
          .catch((err) => {})
        return
      }
      this.fetchList()
    },
  },
}
</script>
