<template lang="pug">
  b-modal(
    v-model="modal"
    ref="template-modal"
    centered
    :hide-header="true"
    :hide-footer="true"
    @hide="hideModal"
    )
    .container
      .row
        .col-12.text-center
          fa.icon-top-modal(v-if="icon.length" :icon="icon" :class="iconClass")
        .col-12.text-center
          h4.mb-4.pb-1 {{ title }}
          slot(name="description")

        .confirm-button-modal
          button.btn.btn-primary.btn-block(
            @click="confirm"
          ) {{ confirmText }}
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },

    close: {
      type: Boolean,
      default: false,
    },

    icon: {
      type: Array,
      default: () => ['fas', 'check'],
    },

    iconClass: {
      type: Array,
      default: () => ['color-main'],
    },

    title: {
      type: String,
      default: 'เบอร์โทรนี้ถูกลงทะเบียนแล้ว',
    },

    confirmFunction: {
      type: Function,
      default: () => {},
    },

    confirmText: {
      type: String,
      default: 'ตกลง',
    },
  },

  data() {
    return {
      modal: this.value,
    }
  },

  watch: {
    value(value) {
      this.modal = value
    },
  },

  methods: {
    showModal() {
      this.$emit('input', true)
      this.$refs['template-modal'].show()
    },

    hideModal() {
      this.$emit('input', false)
      this.$refs['template-modal'].hide()
      this.confirmFunction()
    },

    toggleModal() {
      this.$refs['template-modal'].toggle()
    },

    confirm() {
      this.confirmFunction()
      this.hideModal()
    },
  },
}
</script>

<style lang="scss" scoped>
.confirm-button-modal {
  min-width: 204px;
  margin: 0 auto;
}
.icon-top-modal {
  font-size: 48px;
}
</style>
