<template lang="pug">
  b-modal(
    v-model="modal"
    ref="template-modal"
    centered
    :hide-header="true"
    :hide-footer="true"
    @hide="hideModal"
    )
    .container
      .row
        .col-12.text-center
          //- h2.mb-4.pb-1 {{ title }}

        .col-12.text-right
          //- b-button.mb-2(
            class="btn-circle"
            @click="rotateRight"
            )
            fa(:icon="['fas', 'sync-alt']")
          vue-cropper(
            ref="cropper"
            :src="imgSrc"
            :rotatable="false"
            :aspectRatio="width/height"
            :initialAspectRatio="1"
            :cropBoxResizable="false"
            :scalable="false"
            :cropBoxMovable="true"
            :toggleDragModeOnDblclick="false"
            :viewMode="2"
            :autoCropArea="1"
            :center="true"
            :restore="false"
            :zoomOnWheel="true"
            dragMode="none"
          ).mb-4


        .confirm-button-modal
          button.btn.btn-secondary(
            @click="hideModal"
          )  ยกเลิก
          button.btn.btn-primary(
            @click="confirm"
          ) {{ confirmText }}
</template>

<script>
import VueCropper from 'vue-cropperjs'
import 'cropperjs/dist/cropper.css'

export default {
  components: {
    VueCropper,
  },

  props: {
    value: {
      type: Boolean,
      default: false,
    },

    close: {
      type: Boolean,
      default: false,
    },

    imgSrc: {
      type: String,
      default: '',
    },

    icon: {
      type: Array,
      default: () => ['fas', 'laugh'],
    },

    iconClass: {
      type: Array,
      default: () => ['color-main'],
    },

    title: {
      type: String,
      default: 'เลือกเฉพาะ code',
    },

    confirmFunction: {
      type: Function,
      default: () => {},
    },

    confirmText: {
      type: String,
      default: 'ตกลง',
    },

    width: {
      type: Number,
      default: 0,
    },
    height: {
      type: Number,
      default: 0,
    },
  },

  data() {
    return {
      modal: this.value,
    }
  },

  watch: {
    value(value) {
      this.modal = value
    },
  },

  methods: {
    showModal() {
      this.$emit('input', true)
      this.$refs['template-modal'].show()
    },

    hideModal() {
      this.$emit('input', false)
      this.$refs['template-modal'].hide()
    },

    toggleModal() {
      this.$refs['template-modal'].toggle()
    },

    confirm() {
      this.confirmFunction()
      this.hideModal()
    },

    rotateRight() {
      this.$refs.cropper.rotate(90)
    },
  },
}
</script>

<style lang="scss" scoped>
.confirm-button-modal {
  // min-width: 204px;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
  button {
    margin: 0 5px;
  }
}
.icon-top-modal {
  font-size: 48px;
}
</style>
