<template lang="pug">
  .login
    b-modal

    b-container(fluid)
      b-row
        b-col(lg="5").section-left
          b-img(src="/img/logo-white.png").logo


        b-col(lg="7")
          b-row(
            align-v="center"
            align-h="center"
            ).login--card
            b-col(lg="6")
              //- client-only
              div
                b-jumbotron(
                  lead="Login")
                  validation-observer(ref="observer" v-slot="{ invalid }")
                    b-form(@submit.prevent="submitLogin")
                      validation-provider(
                        rules="required"
                        v-slot="{ errors, valid, validated }"
                        name="Username")
                        b-form-group(
                          label="Username"
                          :invalid-feedback="errors[0]"
                          :state="valid")
                          b-form-input(
                            type="text"
                            v-model="username"
                            :state="!validated ? null : valid ? null : false")
                      validation-provider(
                        rules="required"
                        v-slot="{ errors, valid, validated }"
                        name="Password")
                        b-form-group(
                          label="Password"
                          :invalid-feedback="errors[0]"
                          :state="valid")
                          b-form-input(
                            type="password"
                            v-model="password"
                            :state="!validated ? null : valid ? null : false")

                      b-button(
                        type="submit"
                        variant="primary").px-6 Login
        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="errorConfirmFunction"
        )

</template>

<script>
import AlertModal from '~/components/cms/modal/AlertModal.vue'

export default {
  auth: 'guest',

  components: { AlertModal },

  data() {
    return {
      /** Form */
      username: '',
      password: '',

      errorModal: false,
      errorText: '',
      errorConfirmFunction: () => {
        this.errorModal = false
      },
    }
  },

  methods: {
    async submitLogin(e) {
      const isValid = await this.$refs.observer.validate()
      if (!isValid) return

      const response = await this.$auth.loginWith('local', {
        data: {
          username: this.username,
          password: this.password,
        },
      })
      if (response.data.response_code === 3008) {
        this.password = ''
        this.errorModal = true
        this.errorText = response.data.response_msg
        return this.$refs.observer.reset()
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.login {
  &--card {
    min-height: 100vh;

    @media (max-width: $screen-lg) {
      min-height: unset;
      margin-top: 100px;
    }
  }
}
.section-left {
  background-color: $color-marine;
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;

    @media (max-width: $screen-lg) {
      position: relative;
    }
  }
}
</style>
