<template lang="pug">
  b-card
    fa.icon-sort(
      v-if="type === 'sort' && sort"
      :icon="['fal', 'bars']"
    )

    b-row
      b-col.d-flex.justify-content-center.align-items-center(
        xl=3
        )
        .wrap-img(:class="{ 'sort': sort }")
          b-img-lazy.img(
            thumbnail
            :src="imgSrc"
            :alt="`Image of ${title}`"
            )
          //- b-badge.badge-img(variant="info") {{ category }}
      b-col
        .content
          .detail-section
            .group
              p: b Name:
              p {{ title }}

            .group
              p: b ระยะเวลาแลกรางวัล:
              p {{ startDate | dateFormat }} - {{ endDate | dateFormat }}


            .group
              p: b การแสดงผลบน Application:
              p(:class="status === 'hide' ? 'is-hide' : 'is-show'") {{ status === 'hide' ? 'Hide' : 'Show' }}
            .group
              p: b Last Updated :
              p {{ updatedBy }} ({{ lastUpdated | dateUpdatedFormat }})

          .action-section(v-if="type === 'normal'")
            //- a(href="javascript: void(0)" @click="$router.push({ name: 'cms-home-promotio-report', query: { id: id }})")
              fa.mr-2(:icon="['fas', 'eye' ]")
              | Report


            slot(name="action").action
              .d-flex
                b-button.mr-3(
                  @click="edit"
                  variant="secondary"
                  ) Edit
                //- p.mx-2.my-auto |
                b-button(
                  @click="confirmDelete"
                  variant="danger"
                  ) Delete


</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'PromotionItem',

  props: {
    type: {
      type: String,
      default: 'normal',
    },

    title: {
      type: String,
      default: '',
    },

    imgSrc: {
      type: String,
      default: '',
    },

    startDate: {
      type: String,
      default: '',
    },

    endDate: {
      type: String,
      default: '',
    },

    status: {
      type: String,
      default: 'active',
    },

    id: {
      type: [Number, String],
      default: 0,
    },

    sort: {
      type: Boolean,
      default: false,
    },

    lastUpdated: {
      type: String,
      default: '',
    },

    updatedBy: {
      type: String,
      default: '',
    },
  },

  methods: {
    ...mapActions('home', ['deletePromotion']),

    confirmDelete() {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลนี้หรือไม่ ?', {
          title: 'SBITO Mobile Application',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then(async (value) => {
          // this.boxTwo = value
          if (value) {
            const res = await this.deletePromotion({ id: this.id })
            if (res.response_code === 200) {
              this.$emit('updateList')
            }
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
    edit() {
      this.$router.push({
        name: 'cms-home-promotion-manage-edit',
        query: { id: this.id },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.wrap-img {
  display: inline-block;
  position: relative;

  &.sort {
    margin-left: 40px;

    .img {
      width: 150px;
    }
  }

  .img {
    object-fit: contain;
    float: left;
    width: 180px;

    @media (max-width: $screen-lg) {
      float: none;
      margin: 0 auto;
      width: 100%;
    }
  }

  .badge-img {
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-left: 10px;

  @media (max-width: $screen-lg) {
    padding-left: 0;
    margin-top: 10px;
    flex-direction: column;
  }
  .detail-section {
    .group {
      display: flex;

      p:first-child {
        white-space: nowrap;
      }
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      * {
        margin-bottom: 0;
      }

      :first-child {
        // min-width: 150px;
        margin-right: 20px;
      }
    }
  }

  .action-section {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;

    @media (max-width: $screen-lg) {
      flex-direction: row;
    }
  }
}

.icon-sort {
  font-size: 24px;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
</style>
