<template lang="pug">
  mixin labelForm(name, req=true, span="")
    b-col(sm="3")
      b: label=name
        if req
          span.color-error.ml-1 *
      if span
        div.position-absolute
          span=span


  b-container.page-container
    b-row
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mt-4.align-items-center
      b-col(xl=8)
        h1 Notification Detail (<label style="text-transform: capitalize;">{{ form.content_type }}</label>)
      b-col.text-right
        h2 สถานะการส่ง :
          label(style="text-transform: capitalize;") {{ form.status_send }}
    hr

    div
      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form
          b-row
            b-col
              b-card
                template(v-slot:header)
                  h3.mb-0 Title and Description / หัวข้อ และ คำอธิบาย
                b-container
                  b-row

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Notification Title')
                          b-col
                            p.mb-0 {{ form.title }}

                    b-col(xl=11 offset=1)
                      .my-4

                        b-row.mb-4
                          +labelForm('Notification Description')
                          b-col
                            p.mb-0(v-html="form.description")


              b-card.mt-4(v-if="form.content_type === 'reward'")
                template(v-slot:header)
                  h3.mb-0 Reward

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Reward Name')
                          b-col
                            label {{ previewData.title }}
                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )


              b-card.mt-4(v-if="form.content_type === 'promotion'")
                template(v-slot:header)
                  h3.mb-0 Promotion

                b-container
                  b-row
                    b-col(xl=11 offset=1)

                      .my-4
                        b-row.align-items-center.mb-4
                          +labelForm('Promotion')
                          b-col
                            label {{ previewData.title }}

                        hr
                        b-row
                          b-col
                            preview(
                              :img="previewData.img"
                              :title="previewData.title"
                              :description="previewData.description"
                              :start-date="previewData.startDate"
                              :end-date="previewData.endDate"
                              :status="previewData.status"
                            )

              b-card.mt-4(v-if="form.content_type === 'information'")
                template(v-slot:header)
                  h3.mb-0 Information

                b-container
                  b-row

                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.mb-4
                          +labelForm('Image')

                          b-col
                            b-img(
                              :src="form.content ? form.a_thumb_file.url : ''"
                              :width="1340 * 30 / 100"
                              :height="696 * 30 / 100"
                            )


                        b-row.mb-4
                          +labelForm('Detail')
                          b-col
                            p.mb-0(v-html="form.detail")


              b-card.mt-4
                template(v-slot:header)
                  h5.mb-0: b Target / กลุ่มเป้าหมาย

                b-container
                  b-row
                    b-col(xl=11 offset=1)
                      .my-4
                        b-row.mb-3
                          b-col
                            b-form-radio(
                              v-model="form.target_type"
                              name="target_send"
                              value="all"
                              :disabled="true"
                              ) Send to All Member / ส่งการแจ้งเตือนถึงสมาชิกทั้งหมด
                        b-row
                          b-col
                            b-form-radio(
                              v-model="form.target_type"
                              name="target_send"
                              value="specific_birth_month"
                              :disabled="true"
                              ) Send to Selected Menber / ส่งแจ้งเตือนถึงสมาชิกตามเดือนเกิด
                            b-collapse(:visible="form.target_type === 'specific_birth_month'")

                              b-row.ml-2.mt-2
                                b-col(sm=12 xl=4)
                                  p เลือกส่งแจ้งเตือนให้กับสมาชิกที่เกิดในเดือน
                                b-col(sm=12 xl=3)
                                  validation-provider(
                                    v-slot="{ errors, valid, validated }"
                                    :rules="{ required: form.target_type === 'specific_birth_month'}"
                                    name="Hour"
                                    )
                                    b-form-select(
                                      placeholder="เลือกเดือนเกิด"
                                      :options="monthOptions"
                                      v-model="form.target_birth_month"
                                      :invalid-text="errors[0]"
                                    )
                        hr
                        b-row
                          b-col.text-right
                            p.text-info: b {{ `Target Amount: ${customerTarget} persons` }}

              b-card.mt-4(
                no-body
                :class="{ disabled: type === 'edit' }"
                )
                template(v-slot:header)
                  b-row
                    b-col
                      h5.mb-0: b วันเวลาที่ส่งแจ้งเตือน

                b-card-body
                  b-container
                    b-row.mt-4

                      b-col(xl=11 offset=1)
                        b-row.align-items-center.mb-4
                          b-col(xl=4)
                            label Sending Date / วันที่ส่งแจ้งเตือน
                              span.color-error.ml-1 *
                          b-col(xl=5)
                            //- b-form-input(
                              disabled
                              v-model="sendingDate"
                              )
                            p.mb-0 {{ sendingDate }}



                        b-row.align-items-center.mb-4
                          b-col(
                            xl=4
                            :style="{ 'align-self': 'baseline' }"
                            )
                            label Sending Time / เวลาที่ส่งแจ้งเตือน
                              span.color-error.ml-1 *

                          b-col(xl=5)
                            p.m-0 {{ `${sendingHour.toString().padStart(2, '0')} : ${sendingMinute.toString().padStart(2, '0')}` }}
                            //- b-row
                              b-col(sm=6)
                                b-form-input(
                                  disabled
                                  v-model="sendingHour"
                                )
                                //- form-dropdown(
                                  text="เลือกจาก 00 - 23"
                                  placeholder="Hour"
                                  :options="hourOptions"
                                  v-model="sendingHour"
                                  disabled=true
                                  )

                              b-col(sm=6)
                                b-form-input(
                                  disabled
                                  v-model="sendingMinute"
                                )
                                //- form-dropdown(
                                //-   text="เลือกจาก 00, 15, 30, 45"
                                //-   placeholder="Minute"
                                //-   :options="minuteOptions"
                                //-   v-model="sendingMinute"
                                //-   disabled=true
                                //- )




        alert-modal(
          v-model="errorModal"
          :title="errorText"
          confirmText="ตกลง"
          :icon="['fas', 'exclamation-circle']"
          :iconClass="['color-error']"
          :confirmFunction="() => errorModal = false"
        )

</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import InputClear from '~/components/cms/input/InputClear'
import AlertModal from '~/components/cms/modal/AlertModal'
import FormDropdown from '~/components/cms/input/FormDropdown'
import Preview from '~/components/cms/page/home/banner/Preview'
// import vueDatePick from '~/components/cms/input/vueDatePick'

export default {
  layout: 'cms',

  name: 'NotificationDetail',

  components: {
    InputClear,
    AlertModal,
    FormDropdown,
    Preview,
    // vueDatePick,
  },

  props: {
    type: {
      type: String,
      default: 'create',
    },
  },

  data() {
    return {
      breadcrumb: [
        {
          text: 'Manage Notification',
          href: '',
        },
        {
          text: 'Notification',
          to: { name: 'cms-notification-manage' },
        },
        {
          text: 'Detail',
          href: '#',
          active: true,
        },
      ],
      customerTarget: 0,

      limitFileSize: 5,

      limitPerMemberAmount: false,
      limitPerMemberCode: false,
      totalCode: 0,

      display_date: {},

      form: {
        content_type: this.type !== 'edit' ? 'information' : '',
        content_id: '',
        title: '',
        description: '',
        thumbnail_image_file_id: '',
        detail: '',
        target_type: 'all',
        target_birth_month: '',
        datetime_send: '',
      },
      setDate: '',
      errorModal: false,
      errorText: '',

      notificationType: [
        { name: 'Information', value: 'information' },
        { name: 'Promotion', value: 'promotion' },
        { name: 'Reward', value: 'reward' },
      ],
      options: {
        reward: [],
        promotion: [],
      },
      previewData: {},

      sendingDate: '',
      sendingHour: '',
      sendingMinute: '',

      targetSend: 'all',
    }
  },

  computed: {
    ...mapGetters('reward', ['rewardOption']),

    baseURL() {
      return process.env.BASE_URL
    },
    hourOptions() {
      return _.map(_.range(0, 24), (n) => ({
        text: _.padStart(n, '2', '0'),
        value: n.toString(),
      }))
    },

    minuteOptions() {
      return _.map(_.range(0, 4), (n) => ({
        text: _.padStart(15 * n, '2', '0'),
        value: (15 * n).toString(),
      }))
    },

    monthOptions() {
      return _.map(_.range(1, 12), (n) => ({
        text: moment(n, 'M').locale('th').format('MMMM'),
        value: n.toString(),
      }))
    },
  },

  watch: {
    'form.redeem_type'(type) {
      if (type === 'unlimit') this.form.code_type = 'auto_generate'
    },
    'form.content_id'(id) {
      this.getContentID(id)
    },

    sendingDate() {
      this.setDatetimeSend()
    },
    sendingHour() {
      this.setDatetimeSend()
    },
    sendingMinute() {
      this.setDatetimeSend()
    },
  },

  async mounted() {
    // if (this.type === 'edit') {
    const res = await this.fetchNotification({
      id: this.$route.query.id,
    })
    this.getContentID(this.$route.query.id)
    this.form = { ...this.form, ...res.result }
    // }
    this.setCountCustomer(this.form.target_birth_month)
    this.initDateTimeSend()
  },

  methods: {
    ...mapActions('reward', ['fetchReward', 'searchReward']),

    ...mapActions('notification', [
      'createNotification',
      'updateBanner',
      'fetchNotification',
      'fetchCustomerTarget',
    ]),

    ...mapActions('home', ['searchPromotion', 'fetchPromotion']),

    async getContentID(id) {
      let res = null
      if (this.form.content_type === 'reward') {
        res = await this.fetchReward({
          id,
        })
      } else if (this.form.content_type === 'promotion') {
        res = await this.fetchPromotion({
          id,
        })
      }
      if (res?.response_code === 200) {
        const img =
          res?.result?.a_image_thumbnail?.url || res?.result?.a_thumb_file?.url
        const {
          title,
          description,
          start_date,
          redeem_start_date,
          end_date,
          redeem_end_date,
          status,
          detail,
        } = res.result
        this.previewData = {
          img,
          title,
          description: description || detail,
          startDate: redeem_start_date || start_date,
          endDate: redeem_end_date || end_date,
          status,
        }
      }
    },

    onGetUploadImageID(ids) {
      const findEndpoint = (arr, endpoint) =>
        arr.find((o) => o.endpoint === endpoint).id
      this.form.thumbnail_image_file_id = findEndpoint(
        ids,
        'notification_thumbnail'
      )
    },

    setDatetimeSend() {
      let m = moment(this.sendingDate)

      m.set({
        hour: this.sendingHour,
        minute: this.sendingMinute,
      })

      this.form.datetime_send = m.format('Y-MM-DD HH:mm:ss')
    },

    async setCountCustomer(month = null) {
      const res = await this.fetchCustomerTarget({ month })
      // console.log(res)
      if (res.response_code === 200) {
        this.customerTarget = res.result.customer_target_amount
      }
    },

    initDateTimeSend() {
      const m = moment(this.form.datetime_send)
      this.sendingDate = m.format('DD MMM YYYY')
      this.sendingHour = m.format('H')
      this.sendingMinute = m.format('m')
    },
  },
}
</script>

<style lang="scss" scoped>
.card-type {
  cursor: pointer;
  background-color: $color-light-grey;
  text-align: center;
  background: #ffffff none no-repeat bottom right;
  padding: 1.25rem 1.5625rem;
  box-shadow: 0 2px 10px fade(#000000, 5%);
  border-radius: 0.625rem;
  border: 3px solid transparent;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  min-height: 150px;

  &.disabled:not(.active) {
    color: $color-light-grey;
    background-color: $color-lighter-grey;
  }
  &.active {
    background-color: $color-twilight-blue;
    color: white;
  }

  &:hover:not(.disabled) {
    border-color: $color-marine;
    // color: $color-marine;
  }
}
</style>
