<template lang="pug">
  b-container.page-container
    b-row.my-4
      b-col(xl=12)
        b-breadcrumb(:items="breadcrumb")
    b-row.mb-4
      b-col(xl=7)
        h1 Point
        //- p
          b Last Updated :
        //- p {{ item.updated_by.username }} ({{ item.datetime_updated | dateUpdatedFormat }})

      b-col.text-right(xl=5)
        b-button(
          v-b-modal.modalImportPoint
          size="lg"
          variant="primary"
          )
          fa(:icon="['fal', 'plus-circle']").mr-2
          | Import Point
    hr
    b-row.mb-2
      b-col.mb-3(xl=3)
        label Start Date
        a-date-picker(
          v-model="search.start_date"
          :disabled-date="disabledStartDate"
          value-format="YYYY-MM-DD"
          format="D MMM YYYY"
          placeholder="Start Date"
          )
        //- b-input
      b-col.mb-3(xl=3)
        label End Date
        a-date-picker(
          v-model="search.end_date"
          :disabled-date="disabledEndDate"
          value-format="YYYY-MM-DD"
          format="D MMM YYYY"
          placeholder="End Date"
          )
      b-col.mb-3(xl=3)
        b-form-group(label="Type")
          b-form-checkbox.mr-3(v-model="point_in") Point In
          b-form-checkbox(v-model="point_out") Point Out

      b-col.mb-3.align-self-end(xl=3)
        b-form-group
          b-button(
            variant="secondary"
            @click="filterDate"
            )
            fa(:icon="['fas', 'search']").mr-2
            | Search
    hr
    b-row.mb-2

      b-col.mb-3(xl=3)
        b-button(
          block
          variant="primary"
          @click="exportFile"
          )
          fa(:icon="['fal', 'share-square']").mr-2
          | Export Transaction

      b-col.mb-3(xl=4 align-self="center")
        .text-danger กรุณาเลือกระยะเวลาไม่เกิน 1 ปี เพื่อ Export
      b-col.mb-3
        per-page(
          v-model="perpage"
        )

    b-row
      b-col(xl=12)

        b-table(
          striped
          hover
          :items="list"
          :fields="fields"
          :busy="loading"
          )
          template(v-slot:table-busy)
            b-row
              b-col(xl=12)
                .d-flex.justify-content-center.align-items-center(
                  :style="{ 'min-height': '500px'}"
                  )
                  b-spinner(
                    variant="primary"
                    label="Loading..."
                    )
          template(v-slot:table-colgroup="scope")
            col(
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field.key === 'description' ? '350px' : 'auto' }"
            )

      b-col.my-3(xl=12)
        section-pagination(
          v-model="page"
          :total-item="pagination.total_items"
          :per-page="perpage"
          :list-length="list.length"
        )

    b-modal(
      ref="modalImportStatus"
      id="modalImportStatus"
      centered
      hide-header
      hide-footer
      )
      b-container
        b-row.mb-3
          b-col.d-flex.justify-content-between.align-items-start
            h4.mb-0 Import Point
            b-btn-close(@click="closeModalImportStatus")
        b-row.mb-3
          b-col.text-center(md=12)
            p(v-if="importSuccess") {{ `Import คะแนนลูกค้าวันที่ ${importDate} สำเร็จ` }}
            p(v-else)
              | ไม่สามารถ Import คะแนนลูกค้า
              br
              | {{ `วันที่ ${importDate} ได้` }}
              br
              | เนื่องจาก Template ไม่ถูกต้อง

        b-row(align-h="center")
          b-col(md=3)
            b-button(
              variant="secondary"
              @click="closeModalImportStatus"
            ) ตกลง


    b-modal(
      ref="modalCheckImport"
      centered
      hide-header
      hide-footer
    )
      b-container
        b-row.mb-3
          b-col.d-flex.justify-content-between.align-items-start
            h4.mb-0 Import Point
            b-btn-close(@click="closeModalCheckImport")
        b-row.mb-3
          b-col.text-center(md=12)
            p
              | {{ `มีคะแนนลูกค้าวันที่ ${importDate} ในระบบแล้ว` }}
              br
              | คุณต้องการ Import ไฟล์นี้เพื่อใช้แทนคะแนนเดิมทั้งหมดหรือไม่?

        b-row(align-h="center")
          b-col(md=4)

            b-button(
              block
              variant="secondary"
              @click="closeModalCheckImport"
            ) ไม่ต้องการ

          b-col(md=4)

            b-button(
              block
              variant="primary"
              @click="submitImportPoint"
            ) ต้องการ

          //- b-container
            b-row.mt-3(align-h="center")
              b-col(md=4)
                b-button(
                  block
                  variant="secondary"
                  @click="closeModalImportPoint"
                ) Cancel
              b-col(md=4)
                b-button(
                  block
                  variant="primary"
                  type="submit"
                )
                  fa.mr-2(:icon="['fas', 'upload']")
                  | Upload


    b-modal(
      ref="modalImportPoint"
      id="modalImportPoint"
      centered
      hide-header
      hide-footer
      )
      b-container
        b-row.mb-3
          b-col.d-flex.justify-content-between.align-items-start
            h4.mb-0 Import Point
            b-btn-close(@click="closeModalImportPoint")

      validation-observer(ref="observer" v-slot="{ invalid }")
        b-form(@submit.prevent="checkImportBeforeSubmit")
          b-container.mt-3.mb-4
            b-row(align-h="center")
              b-col(md=10)
                b-row.mb-4(
                  align-v="center"
                )
                  b-col(md=5)
                    label เลือกวันที่
                  b-col
                    validation-provider(
                      v-slot="{ errors, valid, validated }"
                      rules="required"
                      name="Import Date"
                    )
                      a-date-picker(
                        v-model="form.transaction_date"
                        format="D MMM YYYY"
                        value-format="YYYY-MM-DD"
                        placeholder="Import Date"
                        )
                      span.error-text(v-if="errors[0]") {{ errors[0] }}

                b-row(align-v="center")
                  b-col(md=5)
                    label เลือก File
                  b-col
                    input.d-none(
                      ref="fileBrowse"
                      type="file"
                      accept=".csv"
                      @change="uploadCSVFile"
                      )
                    validation-provider(
                      v-slot="{ errors, valid, validated }"
                      rules="required"
                      name="File"
                    )
                      input.d-none(v-model="form.transaction_file_id")
                      b-button(
                        variant="secondary"
                        @click="$refs.fileBrowse.click()"
                      ) Browse
                      span.error-text(v-if="errors[0]") {{ errors[0] }}
                b-row.mb-3
                  b-col(offset-md=5)
                    label.mt-4
                      span Only CSV file
                      div
                        a(:href="`${baseURL}/template/template_point_transaction.csv`") ( download template )

          b-container
            b-row.mt-3(align-h="center")
              b-col(md=4)
                b-button(
                  block
                  variant="secondary"
                  @click="closeModalImportPoint"
                ) Cancel
              b-col(md=4)
                b-button(
                  block
                  variant="primary"
                  type="submit"
                )
                  fa.mr-2(:icon="['fas', 'upload']")
                  | Upload




</template>

<script>
// import vueDatePick from '~/components/cms/input/vueDatePick'
import DateRangeMixin from '~/mixin/DateRange.js'

import { mapActions } from 'vuex'

export default {
  layout: 'cms',

  name: 'TransactionRewardPage',

  // components: { vueDatePick },

  mixins: [DateRangeMixin],

  data() {
    return {
      list: [],

      fields: [
        {
          label: 'T.ID',
          key: 't_id',
          class: 'text-right',
        },
        {
          label: 'Customer Code',
          key: 'customer_code',
          class: 'text-right',
        },
        {
          label: 'Point In',
          key: 'point_in',
          class: 'text-right',
        },
        {
          label: 'Point Out',
          key: 'point_out',
          class: 'text-right',
        },
        {
          label: 'Description',
          key: 'description',
        },
        {
          label: 'Create By',
          key: 'createBy',
        },
        {
          label: 'Create Date',
          key: 'date',
          formatter: (value) =>
            moment(value).isValid && moment(value).format('DD MMM YYYY'),
          class: 'text-center',
        },
        {
          label: 'Create Time',
          key: 'time',
          class: 'text-center',
        },
      ],
      breadcrumb: [
        {
          text: 'Manage Point',
          href: '#',
        },
        {
          text: 'Point',
          href: '#',
          actve: true,
        },
      ],

      search: {
        start_date: moment().subtract(1, 'y').format('YYYY-MM-DD'),
        end_date: moment().format('YYYY-MM-DD'),
        filter: 'none',
      },

      pagination: {},

      page: 1,
      perpage: 10,

      form: {
        transaction_date: '',
        transaction_file_id: '',
      },

      point_out: false,
      point_in: false,

      importDate: '',
      importSuccess: false,
      loading: true,
    }
  },

  computed: {
    baseURL() {
      return process.env.BASE_URL
    },
  },

  watch: {
    page() {
      this.fetchList()
    },
    perpage() {
      this.fetchList()
    },

    point_in() {
      this.setFilter()
    },

    point_out() {
      this.setFilter()
    },
  },

  mounted() {
    this.fetchList()
  },

  methods: {
    ...mapActions('file', ['upload']),

    ...mapActions('point', [
      'fetchPointList',
      'importPoint',
      'checkImportPoint',
    ]),
    //  d.isBefore(minimum)

    disabledStartDate(startValue) {
      const endValue = this.search.end_date
      if (!startValue || !endValue) {
        return false
      }
      return (
        moment(startValue).valueOf() > moment(endValue).valueOf() ||
        moment(endValue).isSameOrAfter(moment(startValue).add(1, 'y'))
      )
    },

    disabledEndDate(endValue) {
      const startValue = this.search.start_date
      if (!endValue || !startValue) {
        return false
      }
      return (
        moment(startValue).valueOf() >= moment(endValue).valueOf() ||
        moment(endValue).isSameOrAfter(moment(startValue).add(1, 'y'))
      )
    },

    async fetchList() {
      this.loading = true
      const res = await this.fetchPointList({
        ...this.search,
        page: this.page,
        perpage: this.perpage,
      })
      this.pagination = res.result.pagination
      this.list = res.result.lists.map((o) => ({
        ...o,
        t_id: this.$options.filters.TID(o.id),
        date: moment(o.transaction_at).format('YYYY-MM-DD'),
        time: moment(o.transaction_at).format('HH:mm:ss'),
        createBy: o.created_by.username || '-',
      }))
      this.loading = false
    },

    filterDate() {
      if (!this.search.start_date || !this.search.end_date) {
        this.$bvModal
          .msgBoxOk('กรุณาเลือกระยะเวลา')
          .then(() => {})
          .catch((err) => {})
        return
      }
      this.fetchList()
    },

    async exportFile() {
      const res = await this.$axios.get('api/point/cms/export', {
        params: this.search,
      })
      if (res.status === 200) {
        let csvContent = 'data:text/csv;charset=utf-8,' + res.data
        const encodedUri = encodeURI(csvContent)
        const link = document.createElement('a')
        link.setAttribute('href', encodedUri)
        link.setAttribute(
          'download',
          `export-point-transaction-${this.search.start_date}--${this.search.end_date}.csv`
        )
        document.body.appendChild(link)
        link.click()
      }
    },

    closeModalImportPoint() {
      this.$refs.modalImportPoint.hide()
      this.form.transaction_date = ''
      this.form.transaction_file_id = ''
    },

    async uploadCSVFile(e) {
      let file = e.srcElement.files[0]
      let FileSize = e.srcElement.files[0].size / 1024 / 1024 // in MB
      if (FileSize > 2) {
        this.$bvModal.msgBoxOk('File size exceeds 2 MB')
        e.target.value = ''
        return
      }
      const resUpload = await this.upload({
        data: {
          file: file,
          endpoint: 'point_transaction',
        },
      })
      // console.log(resUpload)
      if (resUpload.response_code === 200) {
        this.form.transaction_file_id = resUpload.result.id
      } else {
        // this.mo
      }
      e.target.value = ''
    },

    async checkImportBeforeSubmit() {
      const isValid = await this.$refs.observer.validate()
      const errorFirst = this.$el.querySelector('.error-text')
      if (errorFirst) {
        this.$scrollTo(errorFirst)
      }

      if (!isValid) return
      this.importDate = moment(this.form.transaction_date)
        .locale('th')
        .format('D MMM YYYY')
      const check = await this.checkImportPoint({
        transaction_date: this.form.transaction_date,
      })
      if (check.response_code === 200 && check.result.is_import) {
        /** check user import point with duplicate date */
        this.$refs.modalImportPoint.hide()
        this.$refs.modalCheckImport.show()
      } else {
        this.submitImportPoint()
      }
    },

    async submitImportPoint() {
      this.$refs.modalCheckImport.hide()

      const res = await this.importPoint(this.form)
      if (res.response_code === 200) {
        this.importSuccess = true
        this.fetchList()
      } else {
        this.importSuccess = false
      }

      this.$refs.modalImportStatus.show()

      // console.log(res)
      this.closeModalImportPoint()
    },

    closeModalImportStatus() {
      this.importDate = ''
      this.$refs.modalImportStatus.hide()
    },

    closeModalCheckImport() {
      this.importDate = ''
      this.$refs.modalCheckImport.hide()
      this.closeModalImportPoint()
    },

    setFilter() {
      if (this.point_in && !this.point_out) {
        this.search.filter = 'point_in'
      } else if (!this.point_in && this.point_out) {
        this.search.filter = 'point_out'
      } else {
        this.search.filter = 'none'
      }
      this.fetchList()
    },
  },
}
</script>
